[2017-01-11 23:28] RobCannon opened #1 "Better names"
Hey, your first issue!
Can I suggest that you use more specific names to avoid name collisions.  Since PowerShell auto-imports modules now, the likelihood of a name collision is much higher.  So, instead of Get-Queue, how about Get-TeamQueue.

Basically, make every command "Verb-TeamNoun".

I just got finished working on some PowerShell automation for VSTS, so I will be happy to submit some more c

[2017-02-28 18:25] brettjacobson commented on #1
We've experienced this name collision ourselves; I've written some PoSH cmdlets for working with Service Bus for Windows Server (on premises Azure Service Bus), and had that exact problem with Get-Queue, and I named mine Get-SBQueue, using a SB prefix (because ServiceBus was too long to type!).

[2017-03-01 00:18] richardszalay opened #2 "Supplying MaxBuildsPerDefinition to Get-Build instantly returns with no results"
If I run `Get-Build ProjectName` I get 65 results, but if I run `Get-Build -Project ProjectName -MaxBuildsPerDefinition 1` there is no output.

[2017-03-01 04:57] DarqueWarrior commented on #1
I was trying to keep the names short because some are already really long.  You can actually add a prefix when you import the module with the -Prefix parameter.  I understand this will not be much help for automatically imported modules.

As a workaround you could add the following line to your PowerShell profile script
Remove-Module Team; Import-Module Team -Prefix Team

I will consider changing

[2017-03-01 05:02] DarqueWarrior commented on #2
Issue a PR and I will merge it in. Thanks

[2017-03-01 05:26] richardszalay commented on #2
My OSS backlog has a long tail at this point, but will do!

[2017-06-02 13:13] mmajcica commented on #1
How about changing names as @RobCannon suggested and assign aliases to the cmdlets?

Something like:

[code]

[2017-06-08 19:13] markarnott opened #7 "No support for tfvc api"
Are there plans to support the tfvc api?
I am willing to help, but don't want to duplicate on going effort

[2017-06-14 07:21] DarqueWarrior commented on #1
I will give this some more consideration. Which module are the names conflicting with?

[2017-06-14 07:22] DarqueWarrior commented on #7
Please provide a PR. There is no current effort to add it.

[2017-06-16 17:51] RobCannon commented on #1
I thought it was going to conflict the  MSMQ commands, but those are namespaces with Get-MsmqQueue.  But the names help discoverability.  If I am at the command line and I type Get-Team...  The intellisense will show me all of the commands associated with the Team module.

[2017-06-17 06:03] DarqueWarrior commented on #1
OK. That will be a breaking change for anyone already using the module so let me find a good time for this type of change.

[2017-07-05 17:44] rsaa opened #9 "Add-Build should accept build definition id"
VSTS build system allows creating multiple build definitions with same name in different folders. We would like to take advantage of this feature because we have different branches of same software at different clients. So, we would like to create build folders by branch name and copy paste the build definitions and just change the source branch. Add-Build cmdlet doesn't support this. It takes Bui

[2017-07-28 14:02] aneillans opened #11 "Broken on premise :("
Unfortunately #10 breaks on premise usage of the module.  Need to consider a different way for identifying whether the user has entered a FQDN (i.e. local) TFS server, or means a VSTS account.
Ironically, possibly the best method would be just looking for a slash (/) as this wouldn't be in an account name, but would be guaranteed to be present in an on-premise url.

Thoughts?

[2017-07-28 17:47] aneillans commented on #11
"Fix" for it in #12   I'm not happy with the fix, its hacky, but it works. Needs more thought I think.

[2017-08-18 17:24] mrichman opened #13 "Looping endlessly on Add-AzureRMEndpoint"
This is my first time trying out this module. I have on-prem TFS, so I did `Add-TeamAccount -Account http://tfs:8080/tfs/EcoSys -UseWindowsAuthentication` where "EcoSys" is my collection name.

Then, I did `Add-AzureRMServiceEndpoint` and it runs endlessly after I enter `ProjectName`. I canceled it and added `-Verbose` and I see this looping:

[code]

[2017-08-20 19:48] DarqueWarrior commented on #13
When you create a ARM Service Endpoint on TFS you need to provide the -ServicePrincipalID and -ServicePrincipalKey. I am working on an update to make this more clear and to update the help.

[2017-08-21 15:23] ObsidianPhoenix opened #14 "BuildTag Functions"
I've added three new methods in my fork:

* Get-BuildTags
* Add-BuildTag
* Remove-BuildTag

I'd like to start a PR, but before I do, would you mind running a quick review of the commit? I've tried to maintain relative consistency with the existing code, but I've not worked in a lot of modules before.

https://github.com/ObsidianPhoenix/team/commit/ab80bb9e8ed13f7c7422577744bd8f6040293115

One thin

[2017-08-22 09:09] DarqueWarrior commented on #14
I will take a look. I am traveling for work so forgive any delays. First I can see if you will want to move the s from Get-BuildTags. Should just be Get-BuildTag. That is a PowerShell convention.  Thanks so much for your support.

[2017-08-22 09:21] ObsidianPhoenix commented on #14
Thanks. Will do. I'm also realising I need to be able to change the KeepForever Flag on the build, will need to add a method for that.

[2017-08-23 09:16] ObsidianPhoenix commented on #14
I've updated the `Get-BuildTags` method.  I've also added a few additional Methods.

* Get-BuildArtifact
* Update-Build

`Update-Build` Will update two properties on the build: KeepForever and BuildNumber. The Api can support some additional properties, but some of them are write-once, and others I didn't feel made much sense to change. Personally I only need KeepForever.

https://www.visualstudio

[2017-08-28 08:36] DarqueWarrior commented on #14
Reviewing now.

[2017-08-28 09:08] DarqueWarrior commented on #14
I might suggest you format the Resource of Get-BuildArtifact. Or pull out something useful from it for that column like DownloadUrl.

Update-Build, Remove-BuildTag should use SupportsShouldProcess = $true and call $pscmdlet.ShouldProcess and have a Force flag.
Add-BuildTag might need the same, but for some reason I am on the fence with that one.

Because the build API version is used in more than

[2017-08-28 14:03] DarqueWarrior commented on #14
I have changed a couple of things. I will push them after I am done.
Fixed issue with -Logs flag when getting logs from build.
Changed order of Add-BuildTag params so you can a tags without requiring the -Tags parameter to be called out.  It is now position 0 and be passed by position as well as name.
Going to add some help examples.
Formatted the code.
I am still poking around but I wanted to let

[2017-08-30 20:33] ObsidianPhoenix commented on #14
Thanks. We're approaching Code Freeze here, but hopefully I'll be able to spend time updating it next week.

[2017-08-31 07:11] DarqueWarrior commented on #14
Perfect I will submit any changes from my end soon.

[2017-09-11 13:44] ObsidianPhoenix commented on #14
Have you had a chance to commit your changes yet? Not seeing them on my end, but I could just be looking in the wrong location? Still getting to grips with git.

[2017-09-12 13:34] DarqueWarrior commented on #14
I released a new version a few days ago.  Make sure you sync the forks then merge master into your working branch.

[2017-09-12 13:35] DarqueWarrior commented on #14
Let me double check.  I might still have on my machine.

[2017-09-12 13:44] DarqueWarrior commented on #14
OK there now. Be sure and sync with master because I pushed a new version.

[2017-09-12 14:31] ObsidianPhoenix commented on #14
I've pulled the latest master into my fork. Still not seeing your changes. I was expecting to see them on my fork in the Add-BuildTag branch. Am I just being stupid?

[2017-09-12 18:09] DarqueWarrior commented on #14
I missed this the first time I tried to push. ! [remote rejected] master -> master (permission denied)

[2017-09-12 18:10] DarqueWarrior commented on #14
Can you grant me permissions to push my changes?

[2017-09-12 18:11] ObsidianPhoenix commented on #14
That'll do it. Just granted you collaborator rights. Should that be enough?

[2017-09-12 20:39] DarqueWarrior commented on #14
Must not be still getting permission denied.  Is master locked down?

[2017-09-12 20:40] DarqueWarrior commented on #14
Just issue a proper PR and I will make my changes there.  I have my repo here with the changes.

[2017-09-13 08:36] ObsidianPhoenix commented on #14
It's not locked down by the looks of it. But I haven't merged my changes into my master branch yet, which may be the culprit. Let me update with your suggestions and I'll issue a PR.

[2017-09-17 12:35] DarqueWarrior commented on #9
Sorry for delay. I will work on this.

[2017-09-17 15:14] DarqueWarrior commented on #14
Merged into review branch.

[2017-09-17 15:14] #14 closed

[2017-09-17 15:15] DarqueWarrior opened #18 "Update-Project should support ID"
Today Update-Project only takes the current project name. You should also be able to pass in the Project ID.

[2017-09-19 02:03] DarqueWarrior commented on #14
No issues. I also just changed how help is written. You can now do it in Markdown with PlatyPS.  I am working on publishing your changes now.

[2017-09-19 12:18] mortenlerudjordet opened #19 "[Suggestion]Function Naming"
Just a personal preference, though I wanted to raise it here.
Please consider using the following naming convention for your functions (or similar)

 Verb-(ModuleName)(Function)

Example:
Add-TeamBuild
New-TeamBuild
Add-TeamBuildDefinition
Get-TeamRelease
...
This will help mitigate conflicting functions from other modules, and making it more consistent

Thanks for the module

[2017-09-19 14:10] mrichman commented on #13
This works okay now, but I have other issues I'll open separately. Thanks!

[2017-09-19 14:10] #13 closed

[2017-09-19 14:11] mrichman opened #20 "Need Remove-AzureRMServiceEndpoint"
The function `Remove-AzureRMServiceEndpoint` would come in handy, and it's missing from the module.

Presumably, any `Add-*` should have a corresponding `Remove-*`.

[2017-09-19 14:15] mrichman opened #21 "Add-AzureRMServiceEndpoint does not verify ServicePrincipalKey"
When calling `Add-AzureRMServiceEndpoint` with an invalid parameter for `-servicePrincipalKey`, the function does not verify the connection.

I am able to create an endpoint in my on-prem TFS with a bad password, so the verification fails:

![image](https://user-images.githubusercontent.com/11228/30596799-3379cac0-9d23-11e7-8086-27f9565d20e5.png)

[2017-09-19 14:16] mrichman opened #22 "How to remove orphan endpoints?"
I have a few "orphan" endpoints which were created with an older build of this module. I don't seem to be able to delete them through TFS, and there is no obvious way to do it via PowerShell.

![image](https://user-images.githubusercontent.com/11228/30596939-8b6bfe7e-9d23-11e7-8314-7fca6980ee57.png)

[2017-09-20 16:12] DarqueWarrior commented on #22
I will ping PMs from the VSTS product team for help.

[2017-09-20 16:16] DarqueWarrior commented on #21
I think this should be a switch on the function because even on the dialog you are not forced to verify the connection.  Something like ```Add-AzureRMServiceEndpoint -Verify```. Comments?

[2017-09-20 16:16] #1 closed

[2017-09-20 16:55] #18 closed

[2017-09-20 16:56] DarqueWarrior commented on #19
Thanks for the feedback. Which other module is it conflicting with?

[2017-09-20 17:05] mrichman commented on #21
How would the return code disambiguate failing to add the endpoint with failing to verify? Maybe it should be two different functions, i.e. `Verify-AzureRMServiceEndpoint` ?

[2017-09-20 17:06] DarqueWarrior commented on #11
Do you still have concerns about this fix?

[2017-09-20 17:16] mortenlerudjordet commented on #19
Should have said : reduce the likelihood of encountering conflicting function names found in other modules.
I was trying out Adam's VSTS module at the same time, luckily he used Get-vstsBuild instead of Get-Build. So I have no actual conflicting modules at this time.

[2017-09-20 17:19] aneillans commented on #11
Yeah, but it generally works. It definitely has a smell about it.

Sent from my iPhone

[2017-09-20 18:24] DarqueWarrior commented on #19
This is very timely. I just got off a 1 hour call on the naming of my module. So I will change it. I am going to change the module name and the noun prefix.  Any suggestions?

[2017-09-21 05:10] RoopeshNair commented on #22
@mrichman, can you try updating it once and then attempt delete? let us know if you are still facing the issue

[2017-09-21 05:42] mortenlerudjordet commented on #19
Cool!
How about:
PSTS = Powershell Team Services
TSPS
vsTeamS
PSTeamS

Just to get you started

[2017-09-21 21:39] PlagueHO commented on #19
Great module @DarqueWarrior - impressive feature set and thank you for creating it.

The name of the module itself might cause some confusion though. I assumed this would have something to do with Microsoft Teams - not VSTS/TFS.

[2017-09-21 22:51] DarqueWarrior commented on #19
The PowerShell team is all over me to change it. :)  The change is coming just have to settle on a new name and noun.  @mortenlerudjordet  has some good suggestions. I will decide soon.

[2017-09-21 22:52] DarqueWarrior commented on #9
I am working on this now.  I did two things:

1. You can now queue by build id
2. When you tab through build def names they are fully qualified with the path.

[2017-09-21 23:12] DarqueWarrior commented on #11
Feel free to submit a PR for a better fix. I have not had any issues so I am going to close this. Thanks.

[2017-09-21 23:12] #11 closed

[2017-09-22 03:00] DarqueWarrior commented on #21
I will have to give that some thought. My knee jerk response is we define the error codes or it throws and exception if it could not verify.

[2017-09-22 14:51] adailsonfilho opened #23 "Whats does mean "Removed default project" after run "Add-TeamAccount"?"
Hi there,

First of all, thank you for making this open source!

After run `Add-TeamAccount` command and fill the fields we get this message: `Removed default project`. It is not clear for me what happened, maybe the same happens to other users.

There follows the snippet:

`PS C:\devops\tests\test01> Add-TeamAccount
cmdlet Add-TeamAccount at command pipeline position 1
Supply values for the follo

[2017-09-22 15:49] DarqueWarrior commented on #9
Fixed in latest version.

[2017-09-22 15:49] #9 closed

[2017-09-22 15:51] DarqueWarrior commented on #23
I need to make that more clear. You can use the Set-DefaultProject function so you don't have to pass the -ProjectName parameter with every call. When you add a new account the default project gets cleared. That is just a message letting you know if you had one set you need to reset it.

[2017-09-22 15:56] DarqueWarrior commented on #23
It a actually explained if you run help Add-TeamAccount.

![image](https://user-images.githubusercontent.com/3853405/30753332-a52fd6ce-9f84-11e7-9ad7-cabbe3644401.png)

Any suggestions on making this more clear?

[2017-09-22 15:57] #23 closed

[2017-09-22 17:00] rsaa commented on #9
I will look into it soon. Thank you very much.

[2017-09-22 20:16] mrichman commented on #22
@RoopeshNair I'm unable to update or disconnect:

![image](https://user-images.githubusercontent.com/11228/30762788-63b68e68-9fb1-11e7-9df9-7a94cafcf00b.png)

[2017-09-26 05:37] RoopeshNair commented on #22
@Vincent A<mailto:vinca@microsoft.com> – can you please take a look?

[addTag:deployment;dri;v3]

From: Mark Richman [mailto:notifications@github.com]
Sent: Saturday, September 23, 2017 1:47 AM
To: DarqueWarrior/team <team@noreply.github.com>
Cc: Roopesh Nair <Roopesh.Nair@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [DarqueWarrior/team] How to remove orphan endpoints? (#22)

[2017-09-26 13:20] ObsidianPhoenix commented on #22
Have you tried using the `Remove-VSTeamServiceEndpoint` method in the module? Originally called `Remove-ServiceEndpoint` before the VSTeam rename.

[2017-09-26 14:57] mrichman commented on #22
I just tried this:

`Remove-VSTeamServiceEndpoint -id 23dbd458-b3ce-40a0-8a77-47b9adc95486 -ProjectName Student -Verbose`

Where that GUID is the `resourceId` parameter in my TFS URL: `http://tfs:8080/tfs/EcoSys/Student/_admin/_services?resourceId=<xxxx>`

The command failed, but the output indicates success:

[code]

However, the endpoint still remains.

[2017-09-26 15:26] ObsidianPhoenix commented on #22
Url looks good. In keeping with the [documentation](https://www.visualstudio.com/en-us/docs/integrate/api/endpoints/endpoints).

It would be interesting to try and see what the actual response code from that request is. It's supposed to be 204 by the looks of it.

Just to confirm, what version of TFS are you running? It appears that that version of the Api is only available from TFS 2017 onwards.

[2017-09-27 16:01] mrichman commented on #22
@ObsidianPhoenix I'm running TFS 2017 RTM (15.105.25910.0).

The `-Verbose` flag doesn't indicate the HTTP response code.

[2017-09-27 23:54] PlagueHO opened #24 "[Feature] Add Support for Variable Groups"
As a continuous delivery and automation engineer
I would like to be able to list, add, edit and delete VSTS Variable Groups via PowerShell
So that requests from service management systems can automatically configure Variable Groups containing Azure Service Principals and other system related information consumed by release definitions.

The API endpoint for this is not documented, but it does look

[2017-09-28 13:09] DarqueWarrior commented on #24
Let me ping the product team and see when public API is expected.

[2017-09-28 13:13] DarqueWarrior commented on #19
We went with VSTeam. But the entire module was renamed and VSTeam noun put in place.

[2017-09-28 13:13] #19 closed

[2017-09-28 13:25] DarqueWarrior commented on #24
Running Get-VSTeamOption shows not only is it not documented but it is still in preview.  You can tell because the releasedVersion is still 0.0.

[code]

[2017-09-28 14:23] DarqueWarrior commented on #22
Hey @RoopeshNair has anyone from the PG had a chance to take a look at this?

[2017-10-03 08:37] PlagueHO commented on #24
Thanks for talking to the VSTS team @DarqueWarrior - that is much appreciated. I guess 0.0 is as "preview" as you can get :grin:. Did they happen to mention if this was a planned API? If there is no plan we might as well close this one and reopen it if things change.

[2017-10-03 13:29] DarqueWarrior commented on #24
It is coming they sent me a preliminary version of the documentation. No date, however.

[2017-10-03 13:43] DarqueWarrior commented on #20
I will add a Remove-AzureRMServiceEndpoint alias that maps to Remove-VSTeamServiceEndpoint.

[2017-10-03 13:43] #20 closed

[2017-10-03 15:29] DarqueWarrior commented on #21
What do you think about using the -WhatIf for verify?

[2017-10-03 15:43] mrichman commented on #21
I suppose that would be okay, so long as the behavior is documented.

[2017-11-02 18:07] ctorrao opened #27 "Support multiple artifacts in Add-VSTeamRelease function"
Like in the REST API, this function of Add-VSTeamRelease should allow to create a release with multiple artifacts. Right now is hardcoded to only and always exactly ONE artifact for a release definition.

Futhermore, it also should support none artifacts (empty), since it's possible through the REST API of this function.

[2017-11-07 01:58] Wauna opened #28 "Is there any way to add Team Members?"
I feel bad asking this, but is there a way to add a VSTS Group to a Project using this?  I cannot see where to add Team Members. We're using this to migrate 1,300 projects to TFS... I can't set them up manually, and am looking for a way to add a Member to Contributors for all projects I create.

Any thoughts?

Thanks for the great work all !!!

[2017-11-23 11:43] kevinbowman commented on #28
I'm really interested in this feature, as it was the reason I came across this libray, looking for this feature.  We are migrating from TFS to VSTS also.  I want to stand up projects with consistent security settings applying group permissions to teams, Code and Service Endpoints.  This could be a great module, with a huge demand for features coming from people looking to migrate to VSTS.

[2017-11-23 11:45] kevinbowman opened #29 "Adding a project yields this error"
I tried to create my first project using Team, and I got this issue, although the project appears to be created successfully as I would expect.  (My pat has all scopes as a collection admin)

![image](https://user-images.githubusercontent.com/19746567/33171333-9840fdcc-d043-11e7-8319-c9561083b4ab.png)

Thanks

Kevin.

[2017-11-23 23:26] DarqueWarrior commented on #29
Thanks I will look into it. But to be clear it appears the project was created?  If so this was the function trying to retrieve the newly created project to display to you.

[2017-11-23 23:30] DarqueWarrior commented on #28
I did not add the team member functions. That was added from a pull request. Feel free to issue a pull request so we can add to the module.

[2017-11-23 23:31] DarqueWarrior commented on #27
Feel free to issue a pull request. I am more than happy to accept support.

[2017-11-24 01:20] #27 closed

[2017-11-24 01:24] DarqueWarrior commented on #22
I just pinged the team again on this.

[2017-11-24 01:24] #22 closed

[2017-11-24 01:24] #7 closed

[2017-11-26 11:25] stefanstranger opened #30 "Get VSTeam API version error"
With the VSTeam branch vsteampsdrive I get the following error when creating a new profile with the Add-Profile function.

[code]
This is caused by the change in the following [commit](https://github.com/DarqueWarrior/vsteam/commit/42bfd9dcee6d107b8a5e023a3bd3c1aab76faac2)

[2017-11-26 11:28] stefanstranger commented on #30
Please close. I just forget to add the Account parameter :-(

[2017-11-26 11:28] #30 closed

[2017-11-26 11:48] stefanstranger opened #31 "Alligning SHiPS PSDrive properties with VSTeam module properties"
The current implementation of the SHiPS PSDrive feature does not alligns with the original VSTeam object properties.

Example:
Original VSTeam Module property members of the Build Object are:

- name
- buildNumber
- buildNumberRevision
- definition
- finishTime
- id
- keepForever
- lastChangedBy
- lastChangedDate
- logs
- orchestrationPlan
- plans
- priority
- project
- queue
- queueTime
- reason

[2017-11-27 05:59] DarqueWarrior commented on #31
Are you working on this now? Can I expect a pr?

[2017-11-27 08:06] stefanstranger commented on #31
Yes I worked on it now. But I don't I need to get some repo permissions to create a Pull request?

[2017-11-28 08:03] stefanstranger opened #33 "Better secure Personal Access Token stored by Add-Profile cmdlet"
With the the Add-Profile Cmdlet you can create Profiles which are stored in the $home/vsteam_profiles.json file.

In this file the Personal Access Token is stored as plain text. I would suggest to secure this value better using the same technique I used for my Wunderlist Module.

Check the Set-WunderlistAuthentication function in the [Wunderlist ](https://github.com/stefanstranger/Wunderlist/blob/

[2017-11-28 13:46] niadak commented on #22
@mrichman, It will be great if we can have a Skype call to debug the issue. Can you please share your Skype Id with us if possible?

Can you please try to delete the endpoint via Rest API using PostMan or similar rest api tool? The url will be similar to
http://tfs:8080/tfs/EcoSys/Student/_apis/distributedtask/serviceendpoints/23dbd458-b3ce-40a0-8a77-47b9adc95486?api-version=3.0-preview.1
HTTP Met

[2017-11-28 14:46] mrichman commented on #22
@niadak Sure, but I'm not available this week for a Skype call. I can try the delete method and reporting my findings.

[2017-11-28 16:23] mrichman commented on #22
@niadak Calling DELETE on that URL returns HTTP 204 (No content) with the following response headers:

[code]

[2017-11-29 18:13] DarqueWarrior commented on #33
A pull request with that addition would be great. Sure it would take you a lot less time than me because you have already done it before.

[2017-11-30 12:31] niadak commented on #22
@mrichman , Thanks for sharing your findings. Please make a GET call and see if the end point is successfully deleted or not. Share the response with us. Ideally you should not get any object.

http://tfs:8080/tfs/EcoSys/Student/_apis/distributedtask/serviceendpoints/23dbd458-b3ce-40a0-8a77-47b9adc95486?api-version=3.0-preview.1
HTTP Method : Get

[2017-11-30 20:39] mrichman commented on #22
@niadak No, I still get the same response to a GET:

[code]

I'm not sure how the `DELETE` would have worked anyway. I never supplied an auth header. Shouldn't I have to do that from Postman, curl, etc.?

[2017-12-06 04:29] #31 closed

[2017-12-06 04:32] DarqueWarrior commented on #28
They just published an API. http://cda.ms/4b
I think @KeesV might issue a PR for this.

[2017-12-06 04:32] #28 closed

[2017-12-06 04:34] #29 closed

[2017-12-06 06:54] rajatagrawal-dev commented on #22
Hi @mrichman
Can you try the solution suggested in [this link](https://developercommunity.visualstudio.com/content/problem/102182/cannot-remove-service-endpoints-for-subscription-t.html)

[2017-12-07 12:33] stefanstranger opened #35 "Returning all releases"
It seems that the maximum of releases being returned using the get-vsteamrelease function is 100.

When I look at the API documentation the default value for the number of releases to get is 50.

https://www.visualstudio.com/en-us/docs/integrate/api/rm/releases

Any ideas why 100 is the maximum?

/Stefan

[2017-12-07 17:50] DarqueWarrior commented on #35
Are you passing in a -Top?

[2017-12-13 04:28] rajatagrawal-dev commented on #22
Please mail us at RM_Customer_Queries@microsoft.com if you face this issue again.

[2018-01-16 20:04] davidroberts63 opened #36 "Get-VSTeamGitRepository fails when not specifying project name"
The docs say 'gets all repositories in your visual studio team services account, *or* a specific project'. But when running without specifying the `ProjectName` parameter the function fails.

To reproduce:

[code]

I was expecting it to return all the git repositories within the VSTS account, across all projects.

It works fine when specifying a project name though. Just not lining up with docs an

[2018-01-31 19:53] DarqueWarrior commented on #36
Sorry for delay. Let me see what is going on.

[2018-01-31 21:54] DarqueWarrior commented on #36
I will be submitting a fix today. Running tests now.

[2018-01-31 23:35] DarqueWarrior commented on #36
Version 2.1.2 has the fix. Thanks again for letting me know.

[2018-01-31 23:35] #36 closed

[2018-02-01 08:56] DarqueWarrior commented on #35
If you use -Verbose with any call you can see the actual request.
[code]
The module is not setting top so any defaults set by the API should be honored. I will log a bug on the docs.  You can override this with -Top parameter to reduce to whatever you want.

[2018-02-01 08:56] #35 closed

[2018-02-20 13:52] GPugnet commented on #29
I am facing the same issue with Team 0.1.34.
The error occurs, but the project is created.

[2018-02-22 04:57] davidroberts63 commented on #2
Looks like now (2.1.3) this is no longer a problem, may have been fixed earlier but only just checked. Might be able to close this.

I just did a test of it:
One project, two definitions, two builds on one, three builds on the second definition.

1. `Get-VSTeamBuild -ProjectName X`
    - Returns five total records. (Expected, the 'control')
2. `Get-VSTeamBuild -ProjectName X -MaxBuildsPerDefinitio

[2018-02-22 15:17] GPugnet opened #40 "Add-VSTeamSonarQubeEndpoint and Add-VSTeamAzureRMServiceEndpoint no longer return values"
Both `Add-VSTeamSonarQubeEndpoint` and `Add-VSTeamAzureRMServiceEndpoint` no longer return values.

In v1.0.34, Endpoint details where returned :
` return Get-ServiceEndpoint -projectName $projectName -id $resp.id`

[2018-02-26 22:57] DarqueWarrior commented on #40
Looking into it now.

[2018-02-27 00:50] DarqueWarrior commented on #40
2.1.4 will return that functionality.

[2018-02-27 00:50] #40 closed

[2018-02-27 00:51] DarqueWarrior commented on #33
We can reopen when we have a cross-platform solutions.

[2018-02-27 00:51] #33 closed

[2018-03-02 11:32] alexmags opened #41 "Add-TeamAccount -UseWindowsAuthentication"
Hi
Subsequent commands fail if Add-TeamAccount and login using Windows Authentication to avoid the use of plain text personal access token.
`Add-TeamAccount -Account $vstsAccountURL -UseWindowsAuthentication -verbose

VERBOSE: Using Default Windows Credentials for authentication; no Personal Access Token required
Removed default project
VERBOSE: VSTS
VERBOSE: Git: 4.0
VERBOSE: Core: 4.0
VERBOSE: B

[2018-03-15 19:54] davidroberts63 opened #43 "Allow additional HTTP headers"
Before I work on this, wanted to run it by you:

I'd like to add a `-Headers` parameter to `Invoke-VSTeamRequest`. Looks like it would be simple enough to affect.

Why?
Because I'm trying to use the following endpoint:
[code]
In order to get that endpoint to work correctly it requires an `Accept: application/json;api-version=1.0` header. Otherwise it returns the following error message:
[code]

I

[2018-03-15 20:24] DarqueWarrior commented on #43
I might ping the VSTS team. It very odd that this one API would not accept the version on the query string as every other API in VSTS.  Have you tried just adding the -Version parameter to the ivr call?

[2018-03-15 20:29] davidroberts63 commented on #43
Aha, that worked like a charm. The thought didn't occur to me. Thanks for that. My mind had settled on the 'application/json' part but didn't delve deeper.

[2018-03-15 20:39] davidroberts63 commented on #43
Just one more note, -version "1.0" doesn't do the trick. But adding '&api-version=1.0' does. Looks like that's because I'm using `Invoke-VSTeamRequest -Url`. Using `-Url` doesn't let _callApi use the _buildRequestUri which is where the api-version is added.  I have to use 'Invoke-VSTeamRequest` because I need a custom querystring.

Sooo. Maybe I do a little work to give `Invoke-VSTeamRequest` a `-

[2018-03-15 21:04] DarqueWarrior commented on #43
I think that already works. You just set body to an object. When you are doing a get the body is the query string. I think I have that in the help.

[2018-03-15 21:05] DarqueWarrior commented on #43
Yup. Already supported.

-Body <Object>
        Specifies the body of the request. The body is the content of the request that follows the headers. You can also pipe a body value to
        Invoke-VSTeamRequest.

        The Body parameter can be used to specify a list of query parameters or specify the content of the response.

        When the input is a GET request and the body is an IDictionar

[2018-03-15 21:20] davidroberts63 commented on #43
Hah, okay, I see what I did wrong. I've been doing `ConvertTo-Json` on the body object, removed that. Works great now. I was trying to do too much at once. Thanks for being patient with me on it.

[2018-03-15 21:20] #43 closed

[2018-03-15 23:20] DarqueWarrior commented on #43
No problem!  It is really not clear that the body can be used that way. I only learned that when I read the help for the underlying Web Request call.  But once you know it is awesome.

[2018-04-06 11:31] CodedBeard opened #47 "gulp makeMarkdownJSONFile throws"
I'm guessing this is being caused by the version of Node, but I can't find one that works.

**Repro steps**
On a clean machine (tried Windows 10 and Ubuntu 16.10) which has not previously had node installed, install a new version of node, I've tried:
* 4.x latest
* 5.x latest
* 6.x latest
* 8.x latest

clone this repo
run npm install
run gulp makeMarkdownJSONFile

**Expected results**
the markdown

[2018-04-08 20:30] DarqueWarrior commented on #47
Thanks for reporting this. I actually never finished this gulp file and committed by mistake. I will remove it. Sorry for the trouble.

[2018-04-08 20:30] #47 closed

[2018-04-10 23:59] sztaylorakgov opened #48 "Security API"
Awesome PowerShell cmdlets in VSTeam, @DarqueWarrior!  I'm on a project focused on DevOps using an AAD backed VSTS account.  I'm using VSTeam to create administration scripts, but I have to work-around some missing VSTS REST APIs using Invoke-RestMethod, specifically the VSTS Security API.  Have you or other VSTeam contributors looked at incorporating Security API operations like the VSTS [Set Acc

[2018-04-14 11:57] DarqueWarrior commented on #48
Not yet. Feel free to add it. I accept pull requests.

[2018-04-17 13:26] rsaa opened #49 "Invoke-VSTeamRequest always returns 401 - unauthorized"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[2018-04-17 21:54] DarqueWarrior commented on #49
Looking at the API here [projectHistory](https://docs.microsoft.com/en-us/rest/api/vsts/core/project%20history/list) you don't need to add the project.
[code]
When I removed the project parameter it worked. What is odd is I never got a 401 I always got a 404 with project. My money is on your PAT in your profile is wrong or expired.

[2018-04-17 21:55] DarqueWarrior commented on #49
Did you try just running normal commands like Get-VSTSProject to see if you also got a 401?

[2018-04-17 21:57] DarqueWarrior commented on #48
Let me see if I can have someone from the VSTS team review your comments.

[2018-04-17 22:07] DarqueWarrior commented on #49
To get the history of a single project run this.

[code]

[2018-04-17 22:07] #49 closed

[2018-04-18 11:59] sztaylorakgov commented on #48
OK, thanks. If someone has time to review, I would be interested to learn more about what the authorization problem is and whether there is a solution.  The VSTS PAT I'm using is setup for all scopes.  So, the HTTP 401 response from the Invoke-RestMethod should not be caused by a missing identity read authorization on the PAT.

[2018-04-18 14:13] willsmythe commented on #48
I would expect your token to work in this scenario. We (VSTS team) are investigating.

[2018-04-18 17:44] sztaylorakgov commented on #48
Thanks, @willsmythe.  To help narrow down the scenario, the VSTS account I'm using is a federated Azure AD backed account.  My user identity in the account is authorized as a Team Project Collection Administrator.  Happy to supply any other details that become relevant.

[2018-04-18 19:10] rsaa commented on #49
Thanks Donovan. PAT didn't have enough privileges.

[2018-05-15 21:41] sztaylorakgov commented on #48
@willsmythe Curious if the investigation resulted in a bug or other change on the roadmap?  In testing again today, I see I get the same behavior documented in this issue.  So, problem appears to still exist.

[2018-05-28 04:23] jamesbannan opened #54 "Version in PowerShell Gallery still at 0.1.134"
Is the version in the PowerShell Gallery going to be updated? It's way behind the module version in this repository, so when you install the module using `Install-Module -Name Team` you get a very out-of-date version.

[2018-05-28 20:44] DarqueWarrior commented on #54
You need to install VSTeam not Team.

[2018-05-28 20:44] #54 closed

[2018-05-28 23:18] jamesbannan commented on #54
@DarqueWarrior It might be worth updating the link to the blog post, in that case. The article still references `Team` not `VSTeam`

[2018-06-07 20:04] nschonni opened #55 "Extension Managment API commandlets"
This one is available in the Node API https://github.com/Microsoft/vsts-node-api/blob/master/api/ExtensionManagementApi.ts and I believe has support going back a few API versions.

The only direct use case for the existing library is that it would allow some self-healing when hitting something like https://github.com/DarqueWarrior/vsteam/blob/6404a26fa7f72845b235989ea18ffcbe8f5c4821/src/serviceend

[2018-06-14 13:43] DarqueWarrior commented on #55
Are asking that the extension management API be added? We do accept pull requests if you are interested in adding it. Also not the Invoke-VSTeamRequest already in the module lets you call any API in TFS/VSTS.

[2018-06-16 10:19] DWeda1 opened #56 "Get-VSTeamUser return "lastAccessedDate""
It would be nice if the cmdlet Get-VSTeamUser return the property "lastAccessedDate"

[2018-06-16 10:28] DarqueWarrior commented on #56
I am on my phone. But can you pipe into FL * to list all the properties?  It might be in there but the format is not showing it. If it is in the result from VSTS it will be there. We don’t strip any data.

[2018-06-18 02:30] DarqueWarrior commented on #56
There is a chance depending on which version of the api you pass in you do get more or less data. Wonder if your profile was pointing to TFS2017 when you were accessing VSTS or something. You can check the api version you are using by type

[code]

Or you can review $VSTeamVersionTable

[code]

[2018-06-28 03:35] davidroberts63 commented on #48
I'm seeing the same thing. @willsmythe , has the VSTS team discovered anything about this? Same situation. I've tried this in an account that is AAD backed and another account that is simple Microsoft account backed.

I seem to recall past documentation of the Profile api (or almost anything at 'app.vssps.visualstudio.com') noting that PAT won't work for that. If that's the case, how would one be

[2018-07-10 07:25] r3dlin3 opened #57 "Get-VSTeamUser: The controller for path "/_apis/userentitlements/" was not found or does not implement IController"
Steps to reproduce
------------------

[code]

Same result with
[code]

Expected behavior
-----------------

Return the list of users

Actual behavior
---------------
At the execution of `Get-VSTeamUser`, I have the following error
[code]

Environment data
----------------

[code]

[code]

[2018-07-10 19:50] DarqueWarrior commented on #57
I can't repro this bug. I am able to return all the users. I will do some more testing.

[2018-07-10 19:52] DarqueWarrior commented on #57
I have tried with new VSTS accounts with no projects. With a default project set or not. This function does not even need a project.

[2018-07-11 12:16] r3dlin3 commented on #57
I'll check on another computer and let you know.

[2018-07-11 19:37] r3dlin3 commented on #57
It's working on a Windows 10 without proxy...
I see that the module version is now 3.0.1 (according to $VSTeamVersionTable).
I'll updtate and recheck tomorrow...

[2018-07-11 20:18] r3dlin3 commented on #57
It's working on a Windows 10 without proxy...
I see that the module version is now 3.0.1 (according to $VSTeamVersionTable).
I'll updtate and recheck tomorrow...

[2018-07-11 21:44] DarqueWarrior commented on #57
Yeah, I just updated a new version this morning.

[2018-07-12 07:04] r3dlin3 commented on #57
It's working now with 3.0.1.

[2018-07-12 07:04] #57 closed

[2018-07-18 20:54] KaiWalter opened #61 "010_projects.Tests.ps1 do not work with AAD backed VSTS account"
Steps to reproduce
------------------

1. create an VSTS account backed by an Azure Active Directory
2. install SonarQube from market place into VSTS account
3. add an additional AAD user
4. set $env:API_VERSION = "VSTS"
5. set environment variables EMAIL ACCT PAT so that these are valid for the test
6. execute 010_projects.Tests.ps1 from integration\test

Expected behavior
-----------------

In a

[2018-07-18 21:12] KaiWalter commented on #61
I retested. The issue occurs when emailaddress and principalname are not identical. In my sample that would be azuretest4@xyzcompany.com != azuretest4@xyzcompany.onmicrosoft.com

However running the test azuretest4@xyzcompany.onmicrosoft.com results in another error:

[code]

Questions:
a) Do you like me to dive into the VSTS / AAD issues?
b) I miss a getting started section for contributing
- ins

[2018-07-20 13:12] DarqueWarrior commented on #61
Sorry for the delay was heads down getting the previous version out. I am more than happy for you to submit a PR to correct any issues.

[2018-07-20 13:44] DarqueWarrior commented on #61
I am adding a warning to the integration tests files and the contribution file. Sorry about that.

[2018-07-23 17:20] KaiWalter commented on #61
@DarqueWarrior - OK, I'd like to take this one - can you assign it to me please

[2018-07-23 19:54] KaiWalter commented on #61
Another observation. When running this 010 integration test repeatedly, there seems to be some service latency in 2 places:

1) in my setup ~1 out of 4 times : on time of checking ´Description´ seems not committed completely
[code]
resulting in
[code]

2) in my setup ~1 out of 4 times : one of the preceeding `Add-VSTeamAzureRMServiceEndpoint` also seems not be processed completely
[code]
resulting

[2018-07-24 06:00] jmezach opened #64 "Get-VSTeamBuildDefinition should allow access to the build process"
Currently it seems that Get-VSTeamBuildDefinition allows you to get metadata for a build definition, but does not allow access to the actual build process. Interestingly the Update-VSTeamBuildDefinition and Add-VSTeamBuildDefinition commands allow you to specify an input file to use as the build process.

I would like to use VSTeam to build a script to patch multiple build definitions at once, but

[2018-07-25 13:16] IbrahimUmar opened #65 "PowerShell to get list of all Build Agents with Machine Name on which they hosted"
Hi
      I want to create Powershell script (with Invoke-RestMethod) to use REST API and get the build agents in TFS 2018 Project along hosted Machine Name. Kindly help me how to achieve this.

TFS url : http://ProjectName/DefaultCollection/ScrumProject

[2018-07-26 18:38] DarqueWarrior commented on #61
Sorry for the delay I was traveling this week. I will get back to this tomorrow.

[2018-07-28 23:46] DarqueWarrior commented on #65
Let me do some research and see how we can get the capabilities of the agent. There it lists the computer name.

[2018-07-29 00:00] DarqueWarrior commented on #65
Invoke-VSTeamRequest -Url http://yourTFSName:8080/tfs/defaultcollection/_apis/distributedtask/pools/1/agents | Select -ExpandProperty value

[2018-07-29 00:03] #65 closed

[2018-07-29 16:47] DarqueWarrior commented on #64
Are all the builds you want to patch the same structure just with different projects?  If so you would export the JSON file. Then to patch you would update the JSON file and run Update-VSTeamBuildDefinition on each build def passing in the JSON file.  If each are different then I would have to understand what your patch is doing.

[2018-07-29 21:11] KaiWalter commented on #64
I may be already heading in this direction. Please check my [PR](https://github.com/DarqueWarrior/vsteam/pull/68).

[2018-08-01 20:10] KaiWalter commented on #61
issue not reproducible anymore

[2018-08-01 20:10] #61 closed

[2018-08-02 13:30] jmezach commented on #64
@DarqueWarrior We were trying to mostly do the same patch to each of the build definitions, but based on what was already there. I've now created a separate script that just calls the API's to take care of this. It is probably a one of thing anyway, so I'm good now.

That being said, I believe there is a value in having access to the build process itself through VSTeam. I don't currently see a way

[2018-08-04 06:37] KaiWalter commented on #64
@DarqueWarrior - I have no way to DM you right now.
I'll be off for the next 7 days. Then I can pick up this issue as I also need it for my organization.

[2018-08-05 19:30] #64 closed

[2018-08-07 14:16] abbgrade opened #73 "Add-VSTeamAccount failes to connect to VSTS"
Hello,

maybe its not a bug and i am using it wrong, but i did not manage it to authenticate to VSTS.
I get the HTTP 401 error ... do the VSTS admin need to give me the permission to use the API or what do i wrong?

Thanks
Steffen

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

The list of my projects.

Actual behavior
---------------

[code]

Environment data

[2018-08-08 10:45] abbgrade commented on #73
OK ... It's not the personal VSTS login but the account name of the company.

[2018-08-09 07:48] DarqueWarrior commented on #73
Correct. The part of your VSTS that comes before .visualstudio.com

[2018-08-09 07:48] #73 closed

[2018-08-13 10:50] KaiWalter opened #76 "integration\test\010_projects.Tests.ps1 fails with "Get-VSTeamAgent Should return agents""
Is a special setup of the VSTS account required for integration testing - e.g. a private agent?

Steps to reproduce
------------------
from ```vsteam``` folder
[code]

Expected behavior
-----------------

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[2018-08-17 14:58] eduardohass opened #78 "[TFS 2018] Build definition imported partially"
I tried to import new build definition to my TFS 2018(update 2) On Premise using the VsTeam module and i have an issue past execution (success executiuoin

Powershell command used to import build defintion to TFS

[code]

This (bellow) is a fragment of json used to import build definition (phases) to TFS:

[code]

Expected behavior
---------------
![01_bd_project_test_excpected](https://user-image

[2018-08-17 22:54] DarqueWarrior commented on #78
How large is the json file on disk? I wonder if there is a payload size I need to adjust in the post call or something.

[2018-08-17 22:59] DarqueWarrior commented on #76
The test expects there to be at least one agent in the pool.  I have changed the code to use a Hosted Pool instead of default which might be empty on VSTS.  This will be in the code with your PR.

[2018-08-17 22:59] #76 closed

[2018-08-20 13:12] eduardohass commented on #78
My files have 10kb.
I made a test with a release definition with 50kb and was successful.

[2018-08-27 14:39] IllanRULDACUNHA opened #83 ""Page not found" with build and releases"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[2018-08-27 16:02] DarqueWarrior commented on #83
When you run a command add -Verbose so it will dump the full URL and show me that, please.

[2018-08-27 16:03] DarqueWarrior commented on #83
Also what version of TFS are you using?  We test with version 2017 and 2018.

[2018-08-27 16:12] IllanRULDACUNHA commented on #83
I'm using TFS 2017 U1 for the example (my TFS of production) and I also tested it on TFS 2018 U2 (my integration TFS).

![pb vsteam](https://user-images.githubusercontent.com/26620176/44671087-c8d8dc00-aa24-11e8-84e1-c0fdb9c873ef.png)

[2018-08-27 16:13] IllanRULDACUNHA commented on #83
That was with Get-Release command.

Thank you for being so quick to answer, Donovan. ;)

[2018-08-27 18:04] DarqueWarrior commented on #83
No problem I want you to be able to use it.

A 404 means there is an issue with the URL.  When you connect to your TFS from Visual Studio is that the same URL you are typing in here?  I would expect the tfs:8080 part to be your tfs server name or IP Address on your network followed by port 8080 or whatever port your server was configured to use.  If your TFS server is actually named TFS (I have se

[2018-08-28 15:30] IllanRULDACUNHA commented on #83
Yes, tfs is the DNS name to my TFS and 8080 the port used by it. The collection name is indeed "PROD".

It is the connection string I use in VS to connect to my TFS, that's why I don't understand why it doesn't work. In addition, I don't understand why Get-Project works, but not Get-Release or Get-Build.

[2018-08-30 22:54] DarqueWarrior commented on #83
The only other thing I can think of is the version of the API it is using to talk. Depending on which TFS you connect to the version of the API that VSTeam uses is different. You can change the version VSTeam uses and see if that helps.  You can review the API being used by running

[code]

I bet Update 1 of TFS 2017 is not using the versions that are set.  You can change the numbers to whatever y

[2018-09-01 18:32] BastienPerdriau opened #85 "Trouble with some Aliases"
Hi,
I just installed the module and I noticed some Aliases which are still with the "VSTeam" part in their name.
I don't know if it's normal or not so I ask you directly.

Here are the aliases :
- Add-VSTeamReleaseEnvironment
- Remove-VSTeamAzureRMServiceEndpoint
- Remove-VSTeamServiceFabricEndpoint
- Remove-VSTeamSonarQubeEndpoint

Of course, these aliases are not in the function set when I enter

[2018-09-02 22:30] DarqueWarrior commented on #85
Thanks for checking first because all these are on purpose.  But I should provide better comments in the code.

Add-VSTeamReleaseEnvironment was to avoid a breaking change. I renamed a function from Add-VSTeamReleaseEnvironment to Set-VSTeamEnvironmentStatus and the alias avoided breaking those using the old name.

The Remove-VSTeamXXXEndpoint all map to Remove-VSTeamSerivceEndpoint to improve dis

[2018-09-02 22:30] #85 closed

[2018-09-02 22:34] DarqueWarrior commented on #85
Comments added and pushed to master. Thanks again.

[2018-09-08 18:04] KaiWalter opened #87 "Get-VSTeamBuildDefinition -Type not considered correctly"
Steps to reproduce
------------------

I extended integration test

[code]

to check that the correct build definitions types are returned.

Expected behavior
-----------------

I expected that these tests pass

Actual behavior
---------------

[code]

Discussion
---------------

@DarqueWarrior the API call does not consider the type always returns 2 build definitions:
[code]

Can you confirm this

[2018-09-08 18:29] KaiWalter commented on #21
@mrichman + @DarqueWarrior :
Sorry guys, I'm in clean up mood.
Can this issue be closed? I fail to comprehend where this issue relates to this project ```VSTeam```.

[2018-09-08 18:32] KaiWalter commented on #2
@richardszalay
I checked and can confirm @davidroberts63 's observation. Can we close this issue?

[2018-09-08 20:53] richardszalay commented on #2
Sure, go ahead!

[2018-09-11 09:52] GPugnet opened #90 "Update-VSTeamUser may not be able to validate a user per email when user count is greater than 100"
Update-VSTeamUser validates that the user submitted by email exists using the following code :

`         $user = Get-VSTeamUser | Where-Object email -eq $email`

As Get-VSTeamUser only returns the top 100 users, the user to be validated may not be found.

[2018-09-14 14:53] mrichman commented on #21
Feel free to close. I no longer use TFS/VSTS.

[2018-09-14 14:53] #21 closed

[2018-09-15 18:33] KaiWalter commented on #2
@richardszalay I guess you need to close it

[2018-09-15 20:42] DarqueWarrior commented on #87
Looking into it now

[2018-09-16 08:44] DarqueWarrior commented on #90
The best we can do if the user wants to use email is pass in the max top of 10,000. However, this feels very inefficient. If you have that many users you would be better off finding the ID using Get-VSTeamUser yourself first. Then calling Update-VSTeamUser by ID instead of by Email. The filter only lets you filter by extensionId today which does not help in this situation. If at some point they ad

[2018-09-16 09:49] DarqueWarrior commented on #90
Fixed in PR [96](https://github.com/DarqueWarrior/vsteam/pull/96)

[2018-09-16 09:49] #90 closed

[2018-09-17 12:03] DarqueWarrior commented on #41
No, it is not. -UseWindowsAuthentication is only for use with TFS. I will update the help to make that more clear. In the future, I will look into adding OAuth.  This would allow you to Auth like you do for the Azure PowerShell Module and not have to use a PAT.

[2018-09-17 12:03] #41 closed

[2018-09-17 19:01] whitsonk opened #98 "Simple change to link work items to parent work items..."
The Add-VSTeamWorkItem method in workitems.psm1 needs an additional parameter to link the workitem to a parent item.  Otherwise the work item is orphaned.

The following code will link the new work item to a parent (if provided). All I did was add ParentId as a Parameter and wrap the $body variable in an IF block.

[code]

[2018-09-18 06:19] TechnicalVegeta opened #99 "cannot able to retrive the "Authored Date" property from Get-vsteamGitRef command"
Feature Request:
Add "authored Date" property for the Get-VSTeamGitRef

Example:
Get-VSTeamGitRepository -ProjectName $projname |ForEach-Object {Get-VSTeamGitRef -ProjectName $projname -RepositoryID $_.id |select "AutoredDate"

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Get-VSTeamGitRepository -ProjectName $projname |ForEach-Object {Get-VSTeamGitRef -Projec

[2018-09-18 06:25] TechnicalVegeta opened #100 "Add "Remove-VsteamGitRef" command"
Feature:
Need to Add "Remove-VSTeamGitRef" command similar to "Get-VSTeamGitRef" command.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Remove-VSTeamGitRef -ProjectName $Projname  -RepositoryID $RepID

Actual behavior
---------------

Remove-VSTeamGitRef command not available.

Environment data
----------------

[code]

[code]

[2018-09-21 21:36] DarqueWarrior commented on #99
Do you want to the creationDate returned?

[2018-09-21 21:37] DarqueWarrior commented on #98
Please submit as a pull request so we can include it. Thanks.

[2018-09-27 09:27] kardinal3000 opened #104 "The type initializer for 'VSTeamProjectCache' threw an exception"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

Discussion
-----------------
@DarqueWarrior  Could you please explain this exception and how can I avoid it in future.
Also can I get json object on the output if it possible of course.

In my case I thought about thi

[2018-10-01 06:29] DarqueWarrior commented on #104
Sorry for delay. I will look into this soon.

[2018-10-08 08:51] janegilring opened #106 "Add-VSTeamUser - add option for specifying licensing source (e.g. MSDN)"
The Add-VSTeamUser currently (per version 4.0.9) let's us specify -License with the following valid options:
[ValidateSet('Advanced', 'EarlyAdopter', 'Express', 'None', 'Professional', 'StakeHolder')]

In the UI we can also add users with an access level called "Visual Studio Subscriber". Under the hood, this seems to specify a Licensing Source of type MSDN.

Some relevant links from the documenta

[2018-10-08 08:54] janegilring opened #107 "Add-VSTeamUser -License None is not valid"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

A user of the type Stakeholder should be created

Actual behavior
---------------

Error message: "A user cannot be assigned an Account-None license."

Environment data
----------------

No output from $VSTeamVersionTable. However, the module version is 4.0.9.

$PSVersionTable:
[code]

[2018-10-09 04:18] DarqueWarrior commented on #106
I created a branch and tested using MSDN as a license type and it is failing. I will have to do some more research.

[2018-10-09 04:18] DarqueWarrior commented on #107
Per the documentation none is valid. I will confirm with the team if the docs are wrong.

[2018-10-11 16:05] ansariwn opened #109 "Unable to find type [VSTeamVersions]"
Steps to reproduce
------------------
1. On a windows Server 2012 R2 machine.
2. Install latest VSTeam powershell module.
3. Create a new PowerShell script (ps1) file and call 'Import-Module -Name VSTeam' in the script.
4. Execute the script in PowerShell console.

Expected behavior
-----------------
The PowerShell module VSTeam should import successfully.

Actual behavior
---------------
An error

[2018-10-14 17:50] KaiWalter opened #112 "Error in TypeData in integration\test\010_projects.Tests"
Steps to reproduce
------------------

1. fork / clone repo
2. change to repo folder
3. execute integration test

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

PSDrive tests fail

[code]

Environment data
----------------

[code]

[code]

[2018-10-14 17:50] KaiWalter commented on #112
@DarqueWarrior I intended extending the module but will look into this first

[2018-10-14 18:08] KaiWalter commented on #112
my mistake - I still had VSTeam 4.0.8 installed globally - had to remove it first

[2018-10-14 18:08] #112 closed

[2018-10-14 18:14] KaiWalter commented on #109
can also reproduce it on a Win10 system

[code]

[2018-10-14 18:31] KaiWalter commented on #109
same effect when importing module from cloned repo in some script:
[code]

[2018-10-15 21:55] DarqueWarrior commented on #109
Looking into this now.

[2018-10-15 22:05] DarqueWarrior commented on #109
I just RDPed into a Windows Server 2012 R2 machine and installed 4.0.10 as administrator.
I then created a file named import.ps1 with the following in it:
```Import-Module -Name VSTeam -Verbose```
When I run the script:
```. .\import.ps1```
I don't get any errors.
Can you see if you have mulitiple versions installed?
```Get-Module VSTeam -ListAvailable```
Do you see multiple versions?

[2018-10-16 04:15] DarqueWarrior commented on #104
Can you retry with the latest version? I am not able to reproduce using the latest version.

[2018-10-16 05:38] DarqueWarrior commented on #100
Just curious why not just use git?  a GitRef is just a branch.

[2018-10-16 10:42] ansariwn commented on #109
I don't have multiple versions installed that I can see. Please see the output below:
[code]

- I create a fresh Windows Server 2012 R2 in AWS using CloudFormation.
- I install VSTeam module as administrator.
- I open windows Powershell ISE, I create new ps1 file with the following in it:
- - Import-Module -Name VSTeam -Verbose
- I close windows PowerShell ISE.
- I open a new Windows PowerShell co

[2018-10-16 13:07] kardinal3000 commented on #104
Great, Thanks version 4.0.12 works fine!

[2018-10-16 13:30] kardinal3000 opened #115 "Update-VSTeamWorkItem"
Hello @DarqueWarrior  I have a quick question... Do you have a plan to add new cmdlet **Update-VSTeamWorkItem**?

Many thanks for all of this I mean "VSTeam" 👍

[2018-10-16 23:10] klabranche opened #116 "Ability to manage team membership for projects"
I'm sorry for adding an issue for likely a misunderstanding on my part.

I want to be able to add a group to a project team.   It doesn't appear to be possible?  I'm on TFS 18 on prem.  The Add-VSTeamUser returns "this account does not support member entitlement" and I'm not sure it's the right call.  I can add users/groups to the team(s) in a project via the UI.  I'm working on converting via a s

[2018-10-17 20:18] DarqueWarrior commented on #116
The error message is because the REST API that supports that was not in TFS 2018 at the time the module was created. I will see if that has changed and what API version is available in 2018.

[2018-10-17 20:32] DarqueWarrior commented on #116
I just used Get-VSTeamOption and did not see any APIs that would support user management.

[2018-10-17 20:32] #116 closed

[2018-10-17 20:33] DarqueWarrior commented on #115
I have been pretty slammed. Most of the latest changes have come via pull requests by the community. If you want to take a crack at it go ahead and submit a pull request.

[2018-10-17 20:36] DarqueWarrior commented on #109
Are you able to use the module from PowerShell? Does it only fail when called from Scripts?

I am also not sure why you need to import the script again. Once you install as an Admin it should be auto loaded and available to your script.

Can you share your Get-ExecutionPolicy output?  Mine is RemoteSigned.

[2018-10-17 22:48] klabranche commented on #116
Bummer, I was hoping I was doing something foolish.  :-)

[2018-10-18 17:43] KaiWalter commented on #109
Only a wild guess : execution context / scope is different when imported from a script compared to importing from the command line. Class definition for ```VSTeamVersions``` is not added to the scope of the script.
This must somehow relate to the breaking change from v3 to v4.

[2018-10-19 20:40] DarqueWarrior commented on #109
I am still stumped on why I can't repro. I believe you it is throwing for you but I can't seem to get it to do that. So I am thinking it is an environmental issue or it would be breaking for me as well.  We need to figure out how I can repro as well so we can identify the culprit.

[2018-10-19 20:42] DarqueWarrior commented on #116
Thanks. There will be future updates to TFS. I believe the next major release will be Azure DevOps Server and I bet it will come with a new version of the API which may support it at that time.

[2018-10-19 20:42] #104 closed

[2018-10-20 00:05] l0010o0001l opened #117 "Add-ReleaseDefinition question"
Heya,

I am wondering if anyone knows of a simple, good way to generate the release definition json file the `-inFile` parameter expects. I'm aware you can create a release definition in UI and then export it as JSON, however, I'm looking for a straightforward way to generate a well-formatted release definition JSON file not in UI. Apologies if this question is out of the scope of vsteam's project

[2018-10-20 17:56] KaiWalter commented on #109
@DarqueWarrior  - I now have a reproducible case on a plain / new Windows 2016 Server (Azure VM) - I do it again and record the steps

[2018-10-23 01:00] quintessential5 commented on #109
I don't know if this helps, because it doesn't seem like it would be very reproducible, but on a win 10 machine with VSTeam 4.0.12, I was able to ipmo fine, but...
`Add-VSTeamAccount -Level Process -PersonalAccessToken <validToken> -Account <accountName> -Version VSTS`
...produces a bunch of "Unable to find type [VSTeamVersions]" exceptions.

[2018-10-24 03:16] DarqueWarrior commented on #109
When I get a moment I will try @KaiWalter steps to repro and see if I can get to the bottom of this.

[2018-10-24 03:18] DarqueWarrior commented on #117
I am not aware of any other way. The JSON files have used were all created via the Export of one I created in the UI first.

[2018-10-24 03:18] #117 closed

[2018-10-24 03:25] DarqueWarrior opened #119 "Does the progress bar when deleting, and creating object add value?"
When you delete a project there is a progress bar that moves back and forth to indicate work is being down. However, when using the Azure PS module there is no progress bar for long running tasks like deleting a Resource Group.

Should we drop this from this module as well?

Does anyone feel the module is better off having the progress bar?

[2018-10-24 04:31] FriedrichWeinmann commented on #119
Well ... truth be told, I don't have any strong feelings either way.
One of the reasons that people often drop it is that it costs performance, depending on how often you refresh it (disabling it on Invoke-WebRequest in PS5.1 will cut the download time to ~1/3 of what it used to be).
That said, so long as it isn't refreshed too frequently, the cost isn't much of a factor - and if it's waiting for

[2018-10-24 06:00] tkaepp commented on #109
I had to load it with `Using module "C:\Program Files\WindowsPowerShell\Modules\VSTeam\4.0.12\VSTeam.psd1"` Apparently classes aren't loaded when using `Import-Module`

Hope that helps.

[2018-10-24 06:36] akishaha commented on #119
Even I don't see a much valid point in dropping this feature.

[2018-10-25 02:02] DarqueWarrior commented on #119
Thanks to https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_preference_variables?view=powershell-6#progresspreference I will be closing this issue.

[2018-10-25 02:02] #119 closed

[2018-11-02 21:52] japj commented on #78
The multiphase support in the rest api was done around 3.2 I believe.
So You probably need to set relevant VSTeamVersions item to higher than 3.2 (default is currently 3.0).
So even if your json file is of 4.0 structure, the default behavior will be to push to the 3.0 api, which does not have multiphase support and as a result “breaks” the build definition.

[2018-11-03 16:32] DarqueWarrior commented on #78
You can change the API version used.  Run

[code]

To learn how to change the API version used.

[2018-11-03 16:34] DarqueWarrior commented on #78
Thanks, @japj I was missing that point about multi-phase builds. I will work on a PR to update the version used in Azure DevOps.

[2018-11-05 07:58] stefanstranger commented on #109
I've the same issue. When running a vsteam command using version 4.0.12 I get a whole bunch of Unable to find type [VSTeamVersions].
At C:\Users\stefstr\Documents\WindowsPowerShell\Modules\vsteam\4.0.12\src\team.psm1:428 char:13
+             [VSTeamVersions]::Version = 'VSTS'
+             ~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (VSTeamVersions:TypeName) [], RuntimeExcept

[2018-11-15 22:24] snpdev opened #120 "Feature request: Ability to set Pull Request status"
I am interested in having a command that will allow me to set the status of an active pull request. By "status", I am referring to the drop down options Complete, Set auto-complete, Mark as draft, and Abandon (Figure 1).

**Figure 1**

![image](https://user-images.githubusercontent.com/1825479/48585149-c25a5200-e8f9-11e8-9b9c-f784776ea241.png)

[2018-11-30 13:48] jdholbrook81 opened #121 "Please add "Azure DevOps" to repo for searchability"
Cannot find the repo unless searching for "VSTS"

[2018-12-02 05:39] DarqueWarrior commented on #121
Added in PR #122

[2018-12-02 05:39] #121 closed

[2018-12-02 05:59] nschonni commented on #121
There is also https://help.github.com/articles/classifying-your-repository-with-topics/ which might help too

[2018-12-04 08:34] TomBri72 commented on #109
Having same issue here on Win7. Install (from command line or script) works fine but command execution (e.g. Add-VSTeamAccount) from command line or script results in many
Unable to find type [VSTeamVersions]

[2018-12-05 01:35] cwelde opened #123 "Get-VSTeamWorkItem not working but Show-VSTeamWorkItem works for particular ID's."
Steps to reproduce
------------------
Get-VSTeamWorkItem -ProjectName myProject -Id 7

Expected behavior
-----------------
I expected it to return a work item (Work item with Id #7)

Actual behavior
---------------
Page not found. However, calling Show-VSTeamWorkItem -ProjectName myProject -Id 7 works
and correctly displays the item in the web browser

Environment data
----------------

[code]
We

[2018-12-07 19:21] DarqueWarrior commented on #123
Looking into it now.

[2018-12-07 19:35] DarqueWarrior commented on #123
I was able to duplicate and I see how to get it to work. I am testing fix against 2018 and Azure DevOps (AzD)

[2018-12-07 19:46] DarqueWarrior commented on #123
You can get all the repos. You would then have to use Invoke-VSTeamRequest to call the API to check for the policy because as of now it is not wrapped.

[2018-12-08 06:01] DarqueWarrior commented on #109
I am going to call in some big guns in the PowerShell world to help me figure this out.

[2018-12-08 06:10] DarqueWarrior commented on #99
@TechnicalVegeta  can you confirm it is the creationDate? If not I will close this issue.

[2018-12-08 06:10] #100 closed

[2018-12-08 06:44] DarqueWarrior commented on #115
Are there particular fields you want to update? Allowing all will be very tough. But if only a few we might be able to add those and update as requirements dictate.

[2018-12-08 08:14] DarqueWarrior commented on #115
Adding support for the items you can set when you create a work item.

[2018-12-08 08:18] DarqueWarrior commented on #123
Fixed in PR #124

[2018-12-08 08:18] #123 closed

[2018-12-08 08:18] DarqueWarrior commented on #115
Fixed in PR #124

[2018-12-08 14:49] #115 closed

[2018-12-09 02:48] SteveL-MSFT commented on #109
Not able to repro on Win10, Win2k12, nor macOS running `Get-VSTeam`.  For those who are hitting an issue, perhaps try using `powershell -noprofile` to eliminate the possibility something in the profile is causing issues?

[2018-12-19 22:31] justacurley opened #126 "netstandard assembly error when importing VSTeam"
I'm getting the same error when importing VSTeam on a Win10 desktop or an Azure 2016 datacenter vm. The issue has persisted from v4.0.10 to .13, I haven't tried any earlier releases.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[2019-01-05 06:43] DarqueWarrior commented on #126
Is it still an issue for you in v 5 of VSTeam?

[2019-01-07 16:24] justacurley commented on #126
I'm still experiencing the issue on both Win10 and 2016.

[code]

[2019-01-07 21:41] cwelde commented on #116
Hi Darque,

I've also needed to do what klabranche was trying to do and stumbled upon this post, proving it is not possible with these API versions (I'm on TFS 2017).

Is there another solution you recommend/might be able to point me to, as far as creating groups in TFS and configuring their permissions with PowerShell?

[2019-01-08 10:43] DarqueWarrior commented on #116
Let me speak to the TFS/AzD team and see if I can find anything.

[2019-01-10 10:45] TomasDeceuninck opened #127 "Import-Module VSTeam -RequiredVersion '<SomeVersion>' fails"
Steps to reproduce
------------------

[code]
Works fine

![image](https://user-images.githubusercontent.com/16477422/50963394-e33fbd80-14cc-11e9-80f8-923974bbef93.png)

[code]
Throws a buch of `Unable to find type [VSTeamVersions].` errors.

[code]
if you import it two times then no errors are thrown the second time it is imported, but the cmdlets still throw errors.

![image](https://user-images

[2019-01-11 00:51] JoshDouglasOU commented on #126
I just had the same problem.  a Microsoft resource told me to install python.

that solved my issue.

[2019-01-11 17:42] justacurley commented on #126
[code]
That solved my issue as well! Thanks @JoshDouglasOU

[2019-01-11 17:43] #126 closed

[2019-01-17 19:19] liamfoneill commented on #109
I also have this issue - I am trying to install in on the Azure DevOps hosted agents VS2017 with the following code:

# Installs Azure DevOps PowerShell Library
Install-PackageProvider -Name NuGet -Force -Scope CurrentUser
Install-Module -Name VSTeam -Force -Verbose -Scope CurrentUser
Import-Module -Name VSTeam

Am I doing it right?

[2019-01-18 14:03] DarqueWarrior commented on #109
I don't think you need the Import-Module. The install should also import it for you. When I run the module through integration testing I just call Install-module without the import after. Can you give that a try?

[2019-01-18 14:06] DarqueWarrior commented on #127
I have been working with the PowerShell team and we are having trouble duplicating this. I see many people are having this but we can't seem to track down what it is about those systems yet.

[2019-01-18 14:13] DarqueWarrior commented on #109
Can someone having this issue please Can you share your Get-ExecutionPolicy output? Mine is RemoteSigned.

[2019-01-18 14:52] liamfoneill commented on #109
I was able to figure it out - I had the VSteam module installation as part of a script executed by the Azure PowerShell task on Azure DevOps. As soon as I changed it to the regular PowerShell task it worked!
________________________________
From: Donovan Brown <notifications@github.com>
Sent: Friday, January 18, 2019 2:13:27 PM
To: DarqueWarrior/vsteam
Cc: liamfoneill; Comment
Subject: Re: [Darque

[2019-01-18 14:58] TomasDeceuninck commented on #127
If you would like me to test some extra scenarios feel free to ask!

[2019-01-21 07:31] TomBri72 commented on #109
Get-ExecutionPolicy output: RemoteSigned

[2019-01-23 12:33] DarqueWarrior commented on #109
Great news. I have a machine where I can duplicate this. Unfortunately I am about to start three weeks for travel. But I should be able to get to the bottom of this.

[2019-02-02 19:16] kilasuit opened #130 "Command name clashes with some commands in the MicrosoftTeams module"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------
![image](https://user-images.githubusercontent.com/6355225/52168158-85df0b00-271e-11e9-8c14-1bc880ed074f.png)

Environment data
----------------

[code]

[code]

I can get around this with `Install-Module -Name VSTeam -Repository PSGallery -AllowClobber` but it seems that thi

[2019-02-02 19:25] kilasuit opened #131 "[Feature] Add `New-VSTeamPullRequest` command"
Currently there is no `New-VSTeamPullRequest` function

This would be a great addition and would enable more complex automated end to end, branch to branch feature development practices like

PR into Dev Branch -> build completes -> PR is merged -> Merged Branch Builds -> Release runs -> New PR to Test Branch -> PR Completes -> Test Branch Builds -> Test Release Runs > New PR to Prod Branch -> PR

[2019-02-03 04:44] kilasuit opened #132 "[Feature] Have Build pipeline build a singel file PSM1 for importing"
Whilst briefly looking at the issue within #109 there is a likelyhood that the way the module is being imported on some system is causing the issue with the classes being used.

Therefore as a potential fix I would suggest looking at trying to implement a pipeline that perhaps makes use of this module to build a unified PSM1 for distribution - https://github.com/PoshCode/ModuleBuilder/

[2019-02-03 05:07] DarqueWarrior commented on #132
Thanks for the suggestion. I will review the module and see what it would take to convert VSTeam to use it.

[2019-02-03 05:10] DarqueWarrior commented on #131
What would be the minimum set of parameters to support for a v1?  There are a lot of options [PR REST API](https://docs.microsoft.com/en-us/rest/api/azure/devops/git/pull%20requests/create?view=azure-devops-rest-5.0) Supporting them all will take a long time and make the function hard to use.

[2019-02-03 05:12] DarqueWarrior commented on #130
Yes.  I did it originally for backward compatibility with the modules original release.

[2019-02-06 05:17] paulomorgado opened #133 "Consider changing Add-VSTeamAccount to Set-VSTeamAccount"
According to [PowerShell documentation on verbs](https://docs.microsoft.com/en-us/powershell/developer/cmdlet/approved-verbs-for-windows-powershell-commands  "Approved Verbs for PowerShell Commands
"), **Add** "Adds a resource to a container, or attaches an item to another item" while **Set** "Replaces data on an existing resource or creates a resource that contains some data".

I think this is mo

[2019-02-06 05:19] paulomorgado opened #134 "Consider changing Add-VSTeamAccount's parameter PAT to SecurePersonalAccessToken"
Just because I'm picky. 😄

[2019-02-06 18:48] NinoCapo commented on #109
Not sure if this helps, but this morning I was having the same issue after I installed the module from the 64bit window.  Just for giggles I tried it again from the x86 window, it worked, but I noticed it was referencing the module in C:\Program Files\WindowsPowerShell instead of x86 .  After that I tried using it again from the 64bit window and everything worked fine.  I can't really explain it.

[2019-02-06 19:29] DarqueWarrior commented on #109
Thanks for the data.  I am working a huge restructure of the module that might help with this. Once it is out it will be version 6.0.

[2019-02-06 19:33] DarqueWarrior commented on #134
There is a secure string (PAT) as well. Simply use the first version or leave the value off and be promoted for the secure value.

[code]

[2019-02-06 19:33] #134 closed

[2019-02-06 20:36] DarqueWarrior commented on #133
Willl be changed in version 6.

[2019-02-06 20:36] #133 closed

[2019-02-06 20:37] DarqueWarrior commented on #132
Working on this change now. Will be in version 6.0.

[2019-02-06 20:37] #132 closed

[2019-02-06 23:03] paulomorgado commented on #134
I meant changing the name.

[2019-02-06 23:08] paulomorgado commented on #133
Need an extra pair of hands on that?

[2019-02-07 00:22] DarqueWarrior commented on #133
You can take a peek at the SEP branch, The changes are complete just seeing if there are other issues I can close in this release.

[2019-02-07 00:23] DarqueWarrior commented on #134
Ah.  I missed that. I don't think I have a problem with that. There are a ton of breaking changes in 6.0.

[2019-02-07 00:27] DarqueWarrior commented on #134
SMH looking at the code the parameter was already SecurePersonalAccessToken. It was just the help that was wrong. I updated the help and added an alias for PAT.

[2019-02-07 00:32] DarqueWarrior commented on #130
In version 6.0 the aliases are not exported by default. If you want to use the old aliases you can now run Set-VSTeamAlias.

[2019-02-07 00:32] #130 closed

[2019-02-07 10:34] dossen opened #136 "[Feature] Linking between results of Get-VSTeamBuild and Get-VSTeamRelease"
In the web interface, it is possible to navigate from a Build to the Releases, that deploy that build, and from a Release to the Build it deploys.
It would be nice, if the results of Get-VSTeamBuild included a list of ReleaseIds or something like that on each and the result of Get-VSTeamRelease then had a BuildId on each item.

I'm unsure if it is possible to get this information by requesting add

[2019-02-07 17:17] DarqueWarrior commented on #109
Can someone who could repo this please re-test with version 6.0.x?

[2019-02-07 17:17] DarqueWarrior commented on #127
Can someone who could repo this please re-test with version 6.0.x?

[2019-02-07 17:38] paulomorgado commented on #133
I don't see the SEP branch but I see you made the change in the master branch and published 6.0.0.

The documentation, however, still mentions `Add-VSTeamAccount`.

And, for backwards compatibility, maybe a `Add-VSTeamAccount` alias should be added.

[2019-02-07 17:43] paulomorgado commented on #134
For consistency, `Add-VSTeamProfile` should also have a `PAT` alias. And the documentation still mentions `PAT`.

[2019-02-07 17:44] TomasDeceuninck commented on #127
Will try it tomorrow!

[2019-02-07 17:58] DarqueWarrior commented on #136
I did some research and found how to get the releases from a build id. You can do it today with VSTeam using the Invoke-VSTeamRequest like this.

[code]

I figured that out from AzD REST API Docs on docs.com [here](https://docs.microsoft.com/en-us/rest/api/azure/devops/release/releases/list?view=azure-devops-rest-5.0).

There might be something similar you can do the same with builds.

[2019-02-07 18:30] KaiWalter commented on #109
@DarqueWarrior I checked **positive** with my reproducible setup (see my comment on Oct 20, 2018) and one of my regular machines.

[2019-02-07 19:28] KaiWalter commented on #87
How can I help here?

[2019-02-08 01:55] DarqueWarrior commented on #133
I just updated the help. Changing the version from 5 to 6 is because their are breaking changes. That name change was one that I mention in the changelog (now ;)).

[2019-02-08 02:04] DarqueWarrior commented on #134
Thanks for letting me know the docs folder was not being updated. I just corrected the docs folder.

[2019-02-08 02:06] DarqueWarrior commented on #109
Hey @KaiWalter you re-tested with 6.0.x and it still does not load?

[2019-02-08 02:32] DarqueWarrior commented on #87
Looking at the AzD API type is not even supported because it does not have XAML builds anymore. This is a TFS only switch. I am using TFS 2017 to do some more testing.

[2019-02-08 02:44] DarqueWarrior commented on #87
OK. At this point I think we just remove the Type parameter. I can't find on [Docs.com](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/definitions/list?view=vsts-rest-tfs-4.1) any mention of this parameter anymore. It might have been there a long time ago but as of 4.1 which is the oldest version on docs it is not there.

[2019-02-08 02:49] nschonni commented on #87
The "previous-apis" are over here https://docs.microsoft.com/en-us/azure/devops/integrate/previous-apis/build/definitions?view=tfs-2017
It is pretty annoying that they're not all in one place  ☹️

[2019-02-08 03:07] DarqueWarrior commented on #87
Nice! I had no idea where the old APIs were. Thanks.

[2019-02-08 04:29] KaiWalter commented on #109
@DarqueWarrior, sorry "checked positive" seems a bit confusing. I re-tested on 3 different setups (on 2 of them I had problems and the module was not loading with 5.x) and now it is loading and **working perfectly!**

[2019-02-08 08:25] TomasDeceuninck commented on #127
I tested with version 6.0.0 that is available on PSGallery and all my scenarios now work!
Thanks for the help!

[2019-02-08 08:25] #127 closed

[2019-02-08 12:47] DarqueWarrior commented on #87
My version of TFS 2017 is running version 3.x of the API. At this point I am going to drop support for the 2.0 API that includes that parameter.

[2019-02-08 12:47] #87 closed

[2019-02-08 12:48] DarqueWarrior commented on #109
Got it. So I can close these finally!  :). Thanks for confirming.

[2019-02-08 12:48] #109 closed

[2019-02-08 12:51] DarqueWarrior commented on #132
Thanks again for this suggestion it appears to have fixed the other issues.

[2019-02-09 20:10] MichelZ commented on #48
I am successfully able to use the Security API‘s from Powershell. Let‘s see if I get some time to contribute something here.

[2019-02-10 05:55] MichelZ opened #138 "Rename VSTeam to e.g. ADOPS?"
"VSTeam" is IMHO not a good name anymore, now that everything has been renamed away from that brand.

Does it make sense to rename the project to something like "ADOPS" and all cmdlets to Get-ADO* / Set-ADO* etc. ?

[2019-02-10 06:19] MichelZ opened #139 "Add-* vs New-*"
I wonder if this is something that was just not thought about (i doubt it :) ), or if there is a specific reason that there are no "New-*" commands.

To me it feels odd to use these as "Add", because many of them are really creating new resources.

e.g. New-VSTeamGitRepository vs Add-VSTeamGitRepository
New-VSTeam vs Add-VSTeam
New-VSTeamProject vs Add-VSTeamProject

It just feels more "the powers

[2019-02-10 06:25] MichelZ commented on #138
I see you use "AzD" as short for Azure DevOps. Is this the official term? "VSTS" was so catchy :D

[2019-02-10 14:56] DarqueWarrior commented on #138
There is no official abbreviation. ADO already means something else in our industry. I have considered renaming the module but I don't think I will try and align with the product anymore. Have to think of a cool name not associated with the product name. I hesitate because renaming also means losing the download stats.

[2019-02-10 15:01] DarqueWarrior commented on #139
If you review the PowerShell Verb guidelines Add is paired with Remove. Delete is not an approved verb. So after I New something how do I delete it? Given the approved Verbs Add and Remove were selected. https://docs.microsoft.com/en-us/powershell/developer/cmdlet/approved-verbs-for-windows-powershell-commands

[2019-02-10 15:19] DarqueWarrior commented on #139
You can always add your own alias for the functions if you like.

[2019-02-10 15:19] #139 closed

[2019-02-10 16:19] #138 closed

[2019-02-10 16:28] MichelZ commented on #139
Thanks for the explanation, and I'll go with the alias.

However I'd also like to submit some statistics from my system:
(Fairly standard, more or less just AzureRM PS installed):

New/Remove pairs: 421
Add/Remove pairs: 152

Or just for AzureRM modules:
New/Remove pairs: 282
Add/Remove pairs: 75

So while technically the guide does state "Add/Remove" pairs, it is used far more for New/Remove pair

[2019-02-10 19:14] DarqueWarrior commented on #139
Thanks for the data. The guidelines should be updated to reflect your findings.

[2019-02-10 19:15] DarqueWarrior commented on #139
Maybe in a future release that has a lot of breaking changes I might swap them.

[2019-02-10 19:30] MichelZ commented on #139
Cool.
Yes, I‘ll open an issue with the ps docs team.

[2019-02-13 16:48] BBJem opened #141 "Unable to open the 3 files under "About Files" under "VSTeam Help" page"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[2019-02-14 00:24] DarqueWarrior commented on #141
I will take a look.

[2019-02-14 08:59] DarqueWarrior commented on #141
Thanks for pointing this out. It is fixed now.

[2019-02-14 08:59] #141 closed

[2019-02-18 10:52] shayki5 opened #143 "Error when try to install the Module"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[2019-02-18 15:30] MichelZ commented on #48
#144

[2019-02-18 20:05] DarqueWarrior commented on #143
I am going to find someone from the ships team.  You can also try and install the ships module separately. If it is there it should not try and install again.

[2019-02-19 18:24] HemantMahawar commented on #143
@shayki5 I can't reproduce this issue.
- What version of `PowerShellGet` module do you have on your system?
[code]
- What are the PowerShell repositories registered on your system?
[code]

//cc @jianyunt for additional input

[2019-02-19 19:38] jianyunt commented on #143
I cann't repro the issue either. I tried
[code]

[2019-02-20 07:07] smurawski commented on #143
Yeah, it looks like an old version of PowerShellGet is the problem.

[code]

@shayki5 as @HemantMahawar suggested, sharing the result of `get-module PowershellGet -listavailable` may highlight the problem.

Even though there is a recent version of PowerShell, that version of PowerShellGet looks really old and may be an artifact left around from an upgrade at some point.

[2019-02-20 08:30] shayki5 commented on #143
Hi all,

[code]

[code]

[code]
[code]

Thank you!

[2019-02-20 16:25] MichelZ commented on #98
Can this be closed now?

[2019-02-21 20:09] #98 closed

[2019-02-24 15:03] DarqueWarrior commented on #143
Did upgrading your PowerShellGet fix your issue.

[2019-02-24 15:19] kilasuit commented on #143
@shayki5 - You will need to upgrade PowerShellGet as the 1.0.0.1 version was included in the initial Windows 10 release and I saw this "version" be updated many many times, without the version being bumped up as part of the Windows Insider Program and it has many flaws, this being one of them

[2019-02-25 08:01] shayki5 commented on #143
I upgraded the PowerShellGet with:

[code]

Now I have this results:

[code]

The same issue still exist, how can I remove the 1.0.0.1?

[2019-02-25 19:47] DarqueWarrior commented on #143
I just checked my version of PowerShellGet and I am running 1.0.0.1 but I have none of these issues.

[2019-02-26 15:49] jakobjs opened #146 "How can I update repository permissions through Posh and the VSTeam module?"
Hi all,

How can I change Git repository default permissions for all repos through Posh and the VSTeam module? It is outlined here but there is no automation documentation or reference:

https://docs.microsoft.com/en-us/azure/devops/organizations/security/set-git-tfvc-repository-permissions?view=azure-devops

I want all Contributors to have the "Edit Policies" permissions by default and I use a po

[2019-02-26 15:57] jakobjs commented on #146
@DarqueWarrior Any ideas on how to do this?

[2019-02-26 15:58] jakobjs commented on #146
Oops, did not mean to close this.

[2019-02-27 17:29] MichelZ commented on #146
@jakobjs this is currently only possible using Invoke-VSTeamRequest.
I am working on support for this, and it is a work in progress. See PR here: #144

[2019-02-27 17:30] MichelZ commented on #146
Oh, I see TFS. I think Microsoft has not yet released all the necessary API's to do this properly in TFS

[2019-03-04 10:27] jakobjs commented on #146
So, only possible via Azure DevOps and Azure DevOps Server? OK. Will follow your request #144 👍

[2019-03-04 10:27] #146 closed

[2019-03-04 16:37] MichelZ commented on #146
Only Azure DevOps Service actually, not Server. Many API's that I need seem to be online-only currently (all the Graph stuff)

[2019-03-08 05:09] apobekiaris opened #148 "Get-VSTeamBuildArtifact fails"
Hi

I am executing the next script

[code]

however there is an exception in the output
[code]

and is still not clear how do I download the artifacts.

[2019-03-08 21:19] DarqueWarrior commented on #148
I think this has to do with upgrading the version of the API we use by default. I have noticed some properties have moved around. I will look into it now.

[2019-03-08 21:23] DarqueWarrior commented on #148
Please run the following command and report the results.

[code]

[2019-03-08 21:31] DarqueWarrior commented on #143
Have you tried since version 6.0.0 was released? I want to see if we can close this.

[2019-03-09 01:57] apobekiaris commented on #148
[code]

[2019-03-11 14:31] apobekiaris commented on #148
@DarqueWarrior any updates on this case?

looks like if I ErrorAction Continue I get a valid download Url

[2019-03-13 08:50] DarqueWarrior commented on #148
Are you connected to a TFS2017 server?

[2019-03-13 09:13] apobekiaris commented on #148
i try to download artifact from a Azure DevOps Hosted Agent pipeline, checking the pipeline setup it looks like it throws if the pipeline uses the [Publish PipeLine Artifacts task](https://docs.microsoft.com/el-gr/azure/devops/pipelines/tasks/utility/publish-pipeline-artifact?view=azure-devops&viewFallbackFrom=vsts) instead when I used the [Publish build artifact task](https://docs.microsoft.com/e

[2019-03-13 09:21] SebastianSchuetze opened #150 "[Suggestion] Get Timeline of a Build"
I was recently making some tests with Azure Pipeline with Pipeline Artifacts vs Build Artifacts. With that I needed to get the timeline of around 400 builds I triggered. I saw this functionality is missing. Basically it would call the following API method:

https://docs.microsoft.com/en-us/rest/api/azure/devops/build/timeline/get?view=azure-devops-rest-5.0

I could try to include it myself and mak

[2019-03-19 11:18] DarqueWarrior commented on #150
Sorry for the delay. Let me review the current code and get back to you.

[2019-03-19 11:19] DarqueWarrior commented on #148
The reason I asked is because the version of the API you were using was for TFS2017. Call SetVSTeamAPIVersion and set to AzD and try again.

[2019-03-19 14:51] alesgn opened #151 "[Feature] Add powershell support to download universal packages from Azure DevOps"
At the moment, since Universal Packages in Azure DevOps are still in Public Preview, it is possible to download them only using the azure-cli or alternatively via vsts-cli.
It would be very useful to have the possibility to pull Universal Packages using just powershell without the need to install a client to do it.

[2019-03-25 15:46] PHaigh-tw opened #152 "[Feature] Would be great to have a Get-VSTeamIterations to allow to pull all known iterations for the project."
Managing iterations in the Azure DevOps project would be incredibly useful, both Add, Get and Remove to allow control of iterations prior to creating WorkItems.

We're trying to automate the iterations and use DocFx to create automated documentation from our sprint iterations along the way.

Thanks!

[2019-03-26 20:56] SebastianSchuetze commented on #150
@DarqueWarrior any news on my questions? I am aware that you are busy! :-)

[2019-03-28 18:02] DarqueWarrior commented on #150
- I would call it Get-VSTeamBuildTimeline
- I don't think it needs to be in the build object
- You don't have to create an object but you should have format files.

[2019-03-28 18:44] DarqueWarrior commented on #152
You can do that now with the Invoke-VSTeamRequest function now like this:

[code]

[2019-03-31 11:21] SebastianSchuetze commented on #150
@DarqueWarrior a quick side question: When is it appropriate to create objects for data returned?

[2019-03-31 19:55] SebastianSchuetze commented on #150
I [added the function](https://github.com/RazorSPoint/vsteam/blob/topic/Get-VSTeamBuildTimeline/Source/Public/Get-VSTeamBuildTimeline.ps1) and it seems to work basically, but there is a problem. it seems like that the planId and changeId parameters do not seem to have any effect on the API. But I am also not sure what they would do in certain scenarios.
If I give a "fake" id in one of those, the A

[2019-04-07 06:53] MichelZ commented on #152
I need this, too, and might do some work in this direction once my first PR is through and I know the quality of my code is up to the project :)

[2019-04-07 06:56] MichelZ commented on #24
https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedTask/Variablegroups/Get%20Variable%20Groups?view=azure-devops-rest-5.0

This seems to be available at least as an "official" preview now

[2019-04-07 07:22] MichelZ commented on #152
Oh, and actually, in my PR you can already GET them. They are actually called "Classification Nodes".
[code]

#144

[2019-04-09 09:09] SebastianSchuetze commented on #150
@DarqueWarrior do you have any idea about the problem in my previous post?

[2019-04-12 22:55] DarqueWarrior commented on #150
Hey @willsmythe can you help here?

[2019-04-18 13:20] kilasuit commented on #35
This should allow us to pull back all of the releases (even if via many requests using paginated responses) via an `-All` parameter

[2019-04-18 13:29] kilasuit opened #154 "[Feature] Extend Get-VSTeamPullRequest to return X PR's or All PR's"
Ideally I would like to use PowerShell to get all PR's in a project in a single object that I can use for exporting history reasons.

Currently Get-VSTeamPullRequest will bring back only open PR's unless you provide an ID.

However it would be useful to do the following
[code]
or
[code]

[2019-04-25 17:59] botterberg opened #155 "Get-VSTeamBuildDefinition fails"
Steps to reproduce
------------------

`Get-VSTeamBuildDefinition -Project my-project'

Get the following error

`The property 'variables' cannot be found on this object. Verify that the property exists.
At C:\Program Files\WindowsPowerShell\Modules\VSTeam\6.2.0\Classes\VSTeamBuildDefinition.ps1:35 char:7
+       $this.Variables = $obj.variables
+       ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + Categ

[2019-05-03 10:16] danstur commented on #155
The issue seems to stem from `VSTeamBuildDefinition.ps1` that has the following comment:
[code]

With Azure DevOps server (on-premise) the property also exists, which means we go down this branch. In the VSTeamBuildDefinitionProcess.ps1 the object type is equal to 1 which means the phases are created and that's the problem since there's no condition on the object.

A quick fix is to check that `$o

[2019-05-14 16:24] DarqueWarrior commented on #155
Are you connecting to TFS or AzD?  If TFS or AzD Server what version?

[2019-05-14 16:32] DarqueWarrior commented on #155
Need a little more details. I just tested version 6.2.1 with TFS 2017, TFS 2018 and AzD. All worked.

[2019-05-15 01:11] RPhay commented on #155
I've encountered this as well running over hundreds of build definitions in our Azure DevOps projects.  The workaround is simply to wrap the line in a quick check at line 35:

      if ( $obj.PSObject.Properties.name -match 'Variables' ) {
         $this.Variables = $obj.variables
      }

[2019-05-15 01:21] botterberg commented on #155
I was running against Azure DevOps.

[2019-05-15 08:44] kardinal3000 opened #159 "Get-VSTeamAccessControlList -IncludeExtendedInfo. Cannot convert value PSCustomObject to type Hashtable"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[2019-05-16 12:44] andreimoraru opened #160 "Get-VSTeamServiceEndpoint returns The type initializer for 'VSTeamProjectCache' threw an exception"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

$VSTeamVersionTable
[code]

[code]

[2019-05-16 18:32] DarqueWarrior commented on #160
I will investigate today.

[2019-05-16 20:42] DarqueWarrior commented on #160
Everything is working as expected for me.

My API Version is the same:
[code]

My Version of PowerShell is a little different
[code]

[2019-05-16 20:42] #155 closed

[2019-05-16 20:54] DarqueWarrior commented on #159
OK this one I can duplicate. I will see what I can do.

[2019-05-16 20:56] DarqueWarrior commented on #159
This feature was added by @MichelZ  Adding him just in case he has a quick fix.

[2019-05-16 23:09] DarqueWarrior commented on #159
Fix is being merged now.

[2019-05-16 23:24] #159 closed

[2019-05-16 23:25] DarqueWarrior commented on #160
Can you share more details that might help with duplicating it.

[2019-05-20 21:29] andreimoraru commented on #160
I can't reproduce it either
[code]
[code]

[2019-05-25 18:00] eulesv opened #162 "Get-VSTeamUser doesnt work with WindowsAuthentication"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [x] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [ ] Azure DevOps Server
- [x] Azure DevOps Service

[code]

[code]

[2019-06-01 13:56] DarqueWarrior commented on #160
Because you can no longer reproduce the issue I will close this one. If you see this again and can reproduce it please log new issue.

[2019-06-01 13:56] #160 closed

[2019-06-01 14:00] DarqueWarrior commented on #162
I would suspect no calls would work using -UseWindowsAuthentication with Azure DevOps Service. We only added that to work with TFS or Azure DevOps Server. I will play around with it today and might add a error when you try to use -UseWindowsAuthentication with an Azure DevOps Service organization.

[2019-06-02 03:56] DarqueWarrior commented on #162
This is the expected behavior.  But I have added a better error message in 6.2.4.

[2019-06-02 03:56] #162 closed

[2019-06-04 05:46] christiantippner opened #164 "[Feature] Extent Add-VSTeamWorkItem to set Tag"
i would like to add the tag property on a workitem. It would be usefull to set it like:

`Add-VSTeamWorkItem -Title "New Work Item" -WorkItemType Task -Tag "MyTag"`

[2019-06-11 17:04] DarqueWarrior commented on #164
Doing a quick search of the [API](https://docs.microsoft.com/en-us/rest/api/azure/devops/wit/work%20items?view=azure-devops-rest-5.0) I don't see a documented way to add a tag to a work item.

[2019-06-12 04:04] christiantippner commented on #164
On update workitem [documentation](https://docs.microsoft.com/en-us/rest/api/azure/devops/wit/work%20items/update?view=azure-devops-rest-5.0#add_a_tag) is described , how to add tag.

**Add a tag**
***Sample Request***

`PATCH https://dev.azure.com/fabrikam/_apis/wit/workitems/{id}?api-version=5.0`
***Request Body***

`[
  {
    "op": "test",
    "path": "/rev",
    "value": 6
  },
  {
    "op": "

[2019-06-17 03:26] Rincey opened #168 "[feature] Extend `Get-VSTeamReleaseDefinition` to expand Task Groups"
Hi @DarqueWarrior
When executing a `Get-VSTeamReleaseDefinition` I can expand the returned object down to tasks. But if the task is a task group (`definitionType   : metaTask`), I cannot expand it any further.
The API appears to be there on the [API documentation](https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/taskgroups/list?view=azure-devops-rest-5.0) page.

It would be v

[2019-06-18 17:14] vercellone opened #169 "Get more than 100 Releases"
_Originally posted by @stefanstranger in https://github.com/DarqueWarrior/vsteam/issues/35

The REST API includes an x-ms-continuationtoken response header that, unfortunately, is not readily accessible when using Invoke-RestMethod.  In order to access the response header(s) it may be necessary to use Invoke-WebRequest (or similar).

Steps to reproduce
------------------
[code]

Expected behavior

[2019-07-04 15:03] DarqueWarrior commented on #169
Thanks for the detailed issue. I will ping the team and see what we can do about this.

[2019-07-05 21:00] DarqueWarrior commented on #169
So I have good news and bad news.  Good news is there is a thread going internally to get to the bottom of this. Bad news this API call for releases is not implemented correctly at the moment. Once it is corrected we can add support.

[2019-07-09 14:59] g-pearl opened #174 "Security Report"
I have been tasked with creating a security report for TFS and I am hoping that this module can help.

I have set my account using the
Set-VSTeamAccount -Account http://xxxxxxx:8080/tfs -UseWindowsAuthentication

but after that all the commands do not return anything or even tab complete produces a (404) no Found error.

I am sure that this is something I am doing wrong but not exactly sure where

[2019-07-09 17:57] Tiberriver256 opened #175 "List all work items"
I think it would be awesome if there was a way to list all work items easily. I see the commands to get and show a work item by id but I'm not sure how to find that Id.

It could be as simple as calling the query endpoint with wiql to fetch all work items. The other option would be to have a cmdlet where you could pass wiql direct and fetch work items that way.

[2019-07-10 04:09] DarqueWarrior commented on #169
This change is going to take a bit of work. The code currently uses Invoke-RestMethod and only in PowerShell Core does that call give you access to the returned headers. I just did some quick testing and I can change the code to still work in 5.x but you can't get to the headers there. This feature would only be supported in 6 or later.

Even with that it will take time to surface the continuation

[2019-07-10 04:14] DarqueWarrior commented on #174
I am afraid the Get-VSTeamAccessControlList is only supported on Azure DevOps Service (online).

Someone would have to find the correct API to call for TFS2017.  If you do find it you can use the Invoke-VSTeamRequest function to make calling the API easier.

As for your issues using the module are you logged into Windows with the same username and password you log into TFS with? If not the -UserWi

[2019-07-10 04:15] #174 closed

[2019-07-10 04:17] DarqueWarrior commented on #168
Are you interested in giving this a shot and issuing a PR for the API? There should be patterns you can follow from other APIs others have wrapped already.

I would also look at the Invoke-VSTeamRequest function. You can use that to call any API in AzD even if we have not wrapped it yet.

[2019-07-16 22:47] #143 closed

[2019-07-16 22:48] #24 closed

[2019-07-16 22:48] #48 closed

[2019-07-16 22:49] #83 closed

[2019-07-16 22:50] #99 closed

[2019-07-25 10:52] heartbreaker121 commented on #104
hi kardinal .mine also same version PSVersion                      5.1.16299.637 . im also facing the issue. hwo to set it to 4.0.12 as you said

[2019-08-10 14:59] Seekatar opened #180 "Create a AzDO Demo zip"
Have you blogged or documented the build/deploy pipeline for this repo?  It looks like it'd be a great model for writing PS modules.  Would you consider creating a zip using the AzDo Demo Generator?

https://azuredevopsdemogenerator.azurewebsites.net/?enableextractor=true

Then adding it to this repo perhaps?

[2019-08-15 16:34] joeywas opened #183 "[Feature] Update-VsTeamWorkItem to add a tag"
Feature request: Update-VsTeamWorkItem to add a tag to a workitem.

I envision it would work something like this:

Update-VsTeamWorkItem -Id 1 -Tag TestTag1

Note: I removed the array (multiple) tags, as that's more complex than I am comfortable with doing.

[2019-08-15 16:37] joeywas opened #184 "[Feature] Update-VsTeamWorkItem to modify State field"
To adjust the state of an existing work item, the -State parameter on Update-VsTeamWorkItem would allow setting the State of work item. If an invalid state is passed in, an exception should be returned.

Example:
`Update-VsTeamWorkItem -Id 1 -State Resolved`

[2019-08-15 21:46] DarqueWarrior commented on #180
I am going to update [Yo Team](https://www.npmjs.com/package/generator-team) to use this pattern. I was just testing the pattern with this module. Once in Yo Team you will be able to create full projects with Azure DevOps pipelines.

[2019-08-15 21:46] #180 closed

[2019-08-16 20:34] SebastianSchuetze opened #185 "[Improvement] Improve Pipelines with CredScan"
Hi,

I  am currently testing the Microsoft Security Code Analysis, which is in private preview with Microsoft. I ran it on your repository and found some issues with CredScan.
This one tries to find passwords in your repository.

This one has found 8 issues and I am only posting it here because I checked them all and those where only no real passwords and mostly for the unit tests:

![image](https

[2019-08-17 08:14] SebastianSchuetze commented on #185
I added the pull request to show what I meant. I hope that this was okay. Of course, the PR fails, since these tasks are not installed on your organization.

[2019-08-17 17:10] SebastianSchuetze opened #188 "[Feature] Update-VsTeamWorkItem and Add-VsTeamWorkItem to add any value for a work item type"
I want to suggest the following feature to adjust update and add workitem cmdlets.

1. Add a parameter of type `hashtable` with the name AdditionallFields
2. The parameter itself will be initialized and forwarded like the example below
[code]
3. The hashtable will be iterated and added with the same syntax as already done with the title, description and so on.
4. additionally it will be checked, t

[2019-08-17 17:14] SebastianSchuetze opened #189 "[Improvement] How to refactor cmdlets that have redundant code"
@DarqueWarrior I have been looking at some cmdlets and I think some of them have duplicate code. Especially the ones that have "Add" and "Update" cmdlets using the same object.

Is there a place where I can refactor them to one method? I saw the common.ps1 but they seem to be more for global common function and not just for one or two.

Any suggestion where to put those?

[2019-08-17 17:18] SebastianSchuetze commented on #188
This correlates with #183, #187 and #164 if this would be an accepted way, then it would solve these as well as future requests for adding field X to a work item.

[2019-08-17 21:49] DarqueWarrior commented on #185
Do you know who to contact to have the extension shared with the LoECDA org?

[2019-08-17 21:58] SebastianSchuetze commented on #185
Yes, initially I signed up at the following page: https://secdevtools.azurewebsites.net/
And the mail given on that page comes when clicking "Sign Up". Never had a direct name, the signature had only "Microsoft SCA Team".

[2019-08-19 17:58] DarqueWarrior commented on #185
Closed with pr #186

[2019-08-19 17:58] #185 closed

[2019-08-19 18:03] DarqueWarrior commented on #189
common.ps1 is for global constants. For API specific I would place a file in the private folder. Create a file that omits the verb sense it may cover several. For example for Add-VSTeamWorkItem and Update-VSTeamWorkItem create a file in private called VSTeamWorkItem.ps1. That file can contain any common functions for VSTeamWorkItem functions.

[2019-08-19 18:03] #189 closed

[2019-08-19 18:06] DarqueWarrior commented on #188
Reviewing PR now. Thanks for all the support.

[2019-08-20 07:42] SebastianSchuetze commented on #169
any update on that? I can try to implement something if the team was already able to fix the issue.

[2019-08-21 16:24] vercellone commented on #169
I rolled my own Get-VSTSRelease that indirectly calls Invoke-WebRequest as a workaround, but the effort to integrate it with (or conditionally circumvent) vsteam's _callAPI is a bit daunting.

[2019-09-03 17:01] SebastianSchuetze commented on #164
@christiantippner and @DarqueWarrior there has been an update which allows you to set the tags for Update and Add WorkItem commands. So maybe this one could be closed?

I already connected the issue with this one and the pull request for this was #190 .

[2019-09-03 17:02] SebastianSchuetze commented on #188
I am closing the issue since it has been merged and published.

[2019-09-03 17:02] #188 closed

[2019-09-03 17:04] SebastianSchuetze commented on #183
@joeywas regarding your PR, this issue can be closed, right? Hope you are not too frustrated that you made effort for your change. But I am happy that the current solution works for you. Version is already published and should work for you.

[2019-09-03 17:04] SebastianSchuetze commented on #184
@joeywas do you think the current solution from #190 would accommodate your suggestion sufficiently?

[2019-09-03 17:19] SebastianSchuetze opened #192 "[Enhancement] Update documentation to reflect renaming from VSTS to Azure DevOps"
I saw that in many cases the documentation and comments still talk about VSTS instead of Azure DevOps.

I will apply a PR to request for this change.

[2019-09-03 19:45] joeywas commented on #184
Yes sir!

On Tue, Sep 3, 2019, 10:04 Sebastian Schütze <notifications@github.com>
wrote:

[2019-09-03 19:49] joeywas commented on #183
Yes, it can be closed. Not frustrated, i am still fairly new to
collavorating on github so it's good learning experience!
Joseph

On Tue, Sep 3, 2019, 10:04 Sebastian Schütze <notifications@github.com>
wrote:

[2019-09-05 12:40] DarqueWarrior commented on #192
Thanks for the support

[2019-09-05 12:40] #192 closed

[2019-09-05 12:41] #183 closed

[2019-09-05 12:41] #184 closed

[2019-09-05 13:37] #164 closed

[2019-09-06 13:05] DarqueWarrior commented on #169
Agreed. I am looking into other options as well. There have been internal threads on how the API has implemented this.

[2019-09-06 13:07] beatcracker commented on #143
Doesn't work for me. I was only able to install this module with ` -SkipPublisherCheck`.

#### OS
`Microsoft Windows [Version 10.0.16299.431]`

#### Module versions
[code]

#### PS Repositories

[code]

#### Install log

[code]

[2019-09-06 14:57] InteXX opened #195 "Changing the Process Model"
Will this tool assist in migrating data between collections with disparate process models?

In other words, I'd like to switch from XML to Inheritance.

[2019-09-06 17:08] smurawski commented on #143
@beatcracker The error is with the ShiPS module.  Feedback can be provided at https://github.com/PowerShell/ShiPS/

[2019-09-09 08:19] SebastianSchuetze opened #196 "[Bug] Update-VSTeamWorkItem and Add-VSTeamWorkItem not working properly"
I caused the problem myself when I committed PR #190 , because I didn't cover the fact when only the parameter AdditionalFields is provided, that in the [code ](https://github.com/DarqueWarrior/vsteam/blob/6448cb0af13e1ab15d3a8781cdeca16899c8108f/Source/Public/Add-VSTeamWorkItem.ps1#L99) $body is expected to be an array. But if I only give one of the fixed fields for the work item (e.g. Descriptio

[2019-09-09 21:02] colindembovsky opened #198 "Cannot list build defintions"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [x] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [ ] Azure DevOps Server
- [x] Azure DevOps Service

[code]

[code]

[2019-09-16 12:48] bytejunkie commented on #160
I've seen this issue this afternoon and managed to clear it by restarting VS Code.

[2019-09-24 13:16] DarqueWarrior commented on #160
That is interesting. I was not testing in the terminal of VS Code. I was using proper PowerShell console. Hmm. Thanks for commenting. If this pops up again will have to see if it is doing this everywhere or just in VS Code terminal.

[2019-09-24 13:17] #196 closed

[2019-09-24 13:19] DarqueWarrior commented on #195
Sorry for the delay. I am not sure I understand the question.

[2019-09-24 14:15] DarqueWarrior commented on #195
I see.  I have not tried that use case. @SebastianSchuetze has spent a lot more time with the work item API. He might have some idea of what is possible.

[2019-09-25 18:16] SebastianSchuetze commented on #195
@InteXX from what I see, the work item cmdlets can potentially get work items and can create new work items. But unfortunately, they do not get the history currently.

Also, there is no way currently to get the history easily.

What is connected to the work item are also the following things:

- keep attachments?
- keep comments (also their versions, since comments can be edited)?
- keep that all

[2019-09-26 06:26] InteXX commented on #195
@SebastianSchuetze

Well... pretty much everything. I'd like to see everything that's in the project on the old collection migrated to the new.

[2019-09-27 06:20] SebastianSchuetze commented on #175
Hi @Tiberriver256

it is some time ago, but from your perspective how would you see this cmdlet regarding to parameters?

I see the following possibilities:
1. fill in the full custom wiql query
2. only give project & team and give all (or top=X) work items back from that team
3. give the option to expand the id to full work items

What do you think @DarqueWarrior especially for number 3. Should t

[2019-09-30 21:37] SebastianSchuetze commented on #175
@DarqueWarrior I am currently checking how to implement this.

The API requires you to give the project, team, resource (wit) and area (wiql). However, the function _callApi and [_buildRequestURI](https://github.com/DarqueWarrior/vsteam/blob/8341a1ccce8a947bd4366f20f095f1df5a51b204/Source/Private/common.ps1#L65) do not allow me to add a team so it can be reflected in the URL.

I could use the Invo

[2019-10-01 15:48] apobekiaris opened #201 "ServiceEndPoint details"
I have declare a Nuget Service connection and I would like to use to feed the credentials in script for example for

dotnet nuget push

is there a way to it?

[2019-10-03 07:25] japj opened #202 "Error in Get-VSTeamJobRequest when jobrequest on agent is in progress"
Steps to reproduce
------------------
manually find an agent with a running build and run the Get-VSTeamJobRequest command for it:
[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

OS
- [x] Windows

Server

- [x] Azure DevOps Server 2019 RTM

[code]

[code]

[2019-10-03 11:02] japj commented on #202
We also found that finishTime is not present for a build in progress.

This needs to be fixed in `Source\Classes\VSTeamJobRequest.ps1`.
What I could find is a similar solution like:
[code]

However, since there is no specification of the JobRequest API I don't know which other attributes needs similar treatment.

Also the unittest data is based on VS2017, so I don't know how to adapt that correctl

[2019-10-04 19:20] japj opened #203 "Disable/Enable-VSTeamAgent results in unusable agent due to maxParallelism reset to 0"
Steps to reproduce
------------------

[code]
Queue a build to this specific agent

Expected behavior
-----------------
- the agent to start building

Actual behavior
---------------
- the agent seems to be "stuck" and is not picking up any build anymore
- reboot does not help
- disable/enable through web interface does not help
- reinstalling agent does "fix" it

After searching for a while we di

[2019-10-05 00:04] DarqueWarrior commented on #203
Thank you so much for this. I will work on getting it merged now.

[2019-10-08 12:02] japj opened #206 "Feature Request: Cancel existing build"
Add support for cancelling an existing build.

This could be done by PATCHing the 'status' field to 'cancelling' in Update-VSTeamBuild (adding additional optional parameter).

Or by a seperate Cancel-VSTeamBuild

[2019-10-08 13:17] japj opened #207 "Feature Request: Pause/Resume DefinitionQueue"
Add support for enable/disable/pause a build definition queue:

https://docs.microsoft.com/en-us/rest/api/azure/devops/build/definitions/update?view=azure-devops-rest-5.1#definitionqueuestatus

Not sure which command this belongs to though

[2019-10-08 20:07] SebastianSchuetze commented on #195
Currently, I can say that is not possible. There is also nothing implemented that event exports the history of an item. Maybe in the future, it will be possible, but you are free to contribute to that goal if you want. ;-)

[2019-10-08 20:08] InteXX commented on #195
Very good, thank you.

[2019-10-08 20:08] #195 closed

[2019-10-09 18:41] SebastianSchuetze commented on #207
I would implement this, but @DarqueWarrior maybe can give feedback on how to handle these kinds of things.

Because practically this is part of the build definition, so you could control it by adjusting the build definition. The process would be

1. Get-VSTeamBuildDefinition
2. Alter the return JSON to adjust the setting
3. call Update-VSTeamBuildDefinition

Because I think there are many features

[2019-10-09 19:37] SebastianSchuetze commented on #206
I could look into that. Suggested Cmdlet

Stop-VSTeamBuild

Cancel is not an [approved verb](https://docs.microsoft.com/en-us/powershell/developer/cmdlet/approved-verbs-for-windows-powershell-commands) for PowerShell. But Stop is a synonym for such an action.

[2019-10-10 16:32] sevaa opened #208 "Description on variable groups is not a required field"
And yet Add-VSTeamVariableGroup, Update-VSTeamVariableGroup treat it like one.

[2019-10-16 16:14] ferwe commented on #175
I solve it this way until it works with the command:
$ids = 1..200
$AZWorkItems = Get-VSTeamWorkItem -ids $ids -ErrorPolicy Omit

Unfortunately it adds empty items for each number between the highest number of WorkItems and the choosen range.

[2019-10-18 10:39] ferwe commented on #175
@SebastianSchuetze
Check this module. With this module, you are able to get all items by a filter.
https://github.com/igoravl/TfsCmdlets
for example:
Get-TfsWorkItem -Filter '[System.WorkItemType] = "Bug"'

[2019-10-18 21:19] SebastianSchuetze commented on #175
Thanks!
I am using the same API approach as this cmdlet, although with different parameters. It uses basically WIQL in the API.
If you look at the linked PR you will see that it uses the same approach.
But I will have a look if that can be improved somehow.

[2019-10-18 21:47] ferwe commented on #175
I had a look at your PR
Looks good!
Thanks for your work :)

[2019-10-20 16:00] dickvdm opened #210 "Support Azure DevOps Server 2019 with REST API 5.0"
Support Azure DevOps Server 2019 alike TFS2017 and TFS2018, to use vsteam with the corresponding on-prem server's REST API 5.0.

Configuration key used is "AzD2019".

[2019-10-31 14:17] SebastianSchuetze opened #215 "Support for Organization policies"
There is a not documented API, which is part of the public accessible API. This can handle the organization policies

There is already a feedback connected to it to have this officially public

https://developercommunity.visualstudio.com/content/idea/397816/no-rest-api-present-for-organization-settings-poli-1.html

There is also an issue explaining this API a bit more in detail:
https://github.com

[2019-11-04 18:55] jeremytbrun opened #216 "Get-VSTeamBuildDefinition PropertyNotFoundException"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [X ] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [ ] Azure DevOps Server
- [X ] Azure DevOps Service

[code]

[code]

[2019-11-06 23:14] #203 closed

[2019-11-06 23:52] #210 closed

[2019-11-07 08:53] SebastianSchuetze commented on #175
@Tiberriver256 @ferwe the PR was just merged some hours ago. So for the next release the requested feature should be possible then.

[2019-11-07 18:17] SebastianSchuetze commented on #175
@DarqueWarrior can you close it if the creator is not closing it?

[2019-11-07 22:04] DarqueWarrior commented on #175
Creating merging the changes for the PR now.

[2019-11-07 22:04] #175 closed

[2019-11-08 13:06] rwaal opened #218 "Support for creating, configuring and removing Agent pools"
I would like to be able to create and configure Agent Pools in Azure DevOps. This would include things such as:

- Creating a new Agent pool.
- Configure settings, such as auto-provioning and maintenance jobs.
- Configure the security settings on the Agent pools.
- Removing Agent pools.

I looked in the available cmdlets and it seems the module doesn't provide the functionality. I am new to the mo

[2019-11-08 17:33] SebastianSchuetze commented on #218
Hey, nice idea. Let me check that I can provide you with some cmdlets.

I made a quick research and found the following documented APIs to create cmdlets from:

* [Managing Agent Pools](https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/pools?view=azure-devops-rest-5.1) for adding, deleting, updating and retrieving
* [Connecting pools with projects](https://docs.microsoft.com/e

[2019-11-08 19:33] rwaal commented on #218
Thanks for the quick response! It would be awesome if these things could be integrated in de module.

Like I mentioned, I’m new to the module. But please let me know if there’s anything I can do to help.

[2019-11-09 16:31] DarqueWarrior commented on #218
Given the links above you should be able to call the API with the module today. Just use the

[code]

Invoke-VSTeamRequest can all any API even if we have not had time to wrap it.

[2019-11-09 16:35] DarqueWarrior commented on #216
Are the build definitions you are trying to list YAML based?

[2019-11-09 16:44] DarqueWarrior commented on #215
This would not be the first time I had to resort to Fiddler and other methods to add calls to the module.  I am ok with adding undocumented methods. Lets make sure the help says that so people know they may run into issues given the API is undocumented.

[2019-11-09 16:44] #215 closed

[2019-11-09 16:45] DarqueWarrior commented on #208
Thanks for the catch. I will look into changing.

[2019-11-09 17:02] DarqueWarrior commented on #208
Merging fix now.

[2019-11-09 17:02] #208 closed

[2019-11-09 18:31] DarqueWarrior commented on #207
Instead of changing Update-VSTeamBuildDefinition should we add a Pause-VSTeamBuildDefintion and Resume-VSTeamBuildDefintion?  Each of those can take the steps @SebastianSchuetze states above... Thoughts?

[2019-11-09 18:33] DarqueWarrior commented on #206
Stop-VSTeamBuild would be a good addition.

[2019-11-09 18:36] DarqueWarrior commented on #201
You want to be able to get the creds from an existing service endpoint for use in PowerShell script?

[2019-11-09 18:37] DarqueWarrior commented on #216
This is a duplicate of #198 Cannot list build definitions. Will close this and continue to work the other.

[2019-11-09 18:37] #216 closed

[2019-11-10 00:41] apobekiaris commented on #201
yes

[2019-11-10 13:26] jeremytbrun commented on #216
It's a mixed bag. Some are YAML some are GUI. I should test which ones throw the error. I hadn't thought of separating them out like that.

[2019-11-11 18:38] eulesv opened #221 "Update-VSTeamRelease fails"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [x] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [ ] Azure DevOps Server
- [x] Azure DevOps Service

[code]

[code]

[2019-11-14 17:08] DarqueWarrior commented on #221
If you are connecting to Azure DevOps Services you API Versions are wrong. Try calling.

[code]

The versions should be:

[code]

[2019-11-15 16:22] eulesv commented on #221
Hi!

Just tried setting the target version, same error :-(

WARNING: VS402865: An empty body in the POST request is not allowed.

[ Although I learned that if I use the form 'https://dev.azure.com/account' the module switches the API Version to VSTS automatically :-) ]

[2019-11-21 15:36] MaxClaessen opened #222 "[Suggestion] Add retry mechanism for Invoke-RestMethod in _callAPI"
I suggest adding a retry mechanism to the _callAPI method to avoid connection issues when using _callAPI.

A crude example of this would be:
[code]

[2019-11-22 08:17] dickvdm commented on #222
This might be a (on prem) server issue. @DarqueWarrior who can triage?

[2019-11-26 11:24] johndejager opened #223 "Api version 5.1-preview is not showing all userentitlements"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [x] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [ ] Azure DevOps Server
- [x] Azure DevOps Service

[code]

[code]

[2019-11-26 12:18] johndejager commented on #223
Sorry, after checking the module and setting the api version for MemberEntitlementManagement to 5.1-preview.2 it works fine
Set-VSTeamAPIVersion -Service MemberEntitlementManagement -Version '5.1-preview.2'
$users = Get-VSTeamUserEntitlement -Top 1000

[2019-11-26 12:18] #223 closed

[2019-12-11 15:11] SebastianSchuetze commented on #201
@apobekiaris do you want to use it in an Azure DevOps pipeline or somewhere outside of the pipeline?

There are possibilities to access service connections within a pipeline (like other pipeline tasks), but the point for using service connections is, that nobody can just access them.
I think the later will not be possible.

[2019-12-12 00:01] DevExpress-XAF commented on #201
if I could access my service connections and connect through them I do not have to use Secrets which are not safe for pull requests

[2019-12-12 15:24] SebastianSchuetze commented on #201
The question is where do you want to use them? In Azure Pipelines or somewhere outside of the pipelines.

[2019-12-13 00:47] apobekiaris commented on #201
yes in Azure as I said I know use secrets to retrieve the same credentials that are used from my connections.

[2019-12-15 19:30] AlanMcBee opened #228 "Work Item Relationships"
Feature request (and I may try to do this?)

It seems that the only way to do anything with a work item relationship to another work item is by adding a new work item (Add-VSTeamWorkItem), and then it's only adding a relationship to an existing work item as its parent.

There would be several operations that I'd like to see here. I'm sure others would fit.

- Add-VSTeamWorkItemLink
- Get-VSTeamWor

[2019-12-21 23:44] DarqueWarrior commented on #228
Hey @AlanMcBee feel free to give it a try. Just follow the coding style in the other functions.

[2019-12-21 23:45] DarqueWarrior commented on #222
What was the error you were getting? Did you lose connection to the server? Before I can determine if this is a good solution I need to make sure I understand the problem.

[2019-12-21 23:47] DarqueWarrior commented on #221
I will fine time to do some more testing. Thanks for additional information.

[2020-01-06 09:29] MaxClaessen commented on #222
The error that happened was:

[code]
My assumption is that the connection to the server was terminated / unable to be processed.

[2020-01-21 17:04] daveneeley opened #230 "_buildRequestURI should only append / after resource when ID is set"
Consider these POST urls, which create/add new things. The resource does not have a closing `/`
`POST https://dev.azure.com/{organization}/{project}/_apis/serviceendpoint/endpoints?api-version=5.1-preview.2`
`POST https://dev.azure.com/{organization}/{project}/_apis/distributedtask/variablegroups?api-version=5.1-preview.1`
`POST https://dev.azure.com/{organization}/{project}/_apis/build/builds/{bu

[2020-01-22 09:10] pelikanmartin commented on #221
Hi, I have same issue as Roberto (same exception). After some googling the root cause may be special character in my last name "á". Roberto's lastname also contains special character.

Your _apiCall method uses hardcoded Content-Type: application/json. No charset defined.

https://developercommunity.visualstudio.com/content/problem/617371/unable-to-update-release-pipeline-through-rest-api.html

[2020-01-23 12:36] markwragg commented on #148
I've raised a PR that should fix this issue:

https://github.com/DarqueWarrior/vsteam/pull/232

It occurs because the API is returning an extra result after all the artifact that is a different type (its called GitRef) and doesn't have a sub property named "properties":

![image](https://user-images.githubusercontent.com/6706196/72984998-e3abad80-3ddc-11ea-8088-dfffe53cb4ef.png)

My PR adds an ext

[2020-01-28 07:45] japj opened #233 ""This account does not support packages" with AzD2019"
Steps to reproduce
------------------
Connect to an Azure DevOps 2019 server with -Version AzD2019 and run:
[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [x] Windows

Server

- [x] Azure DevOps Server

[code]

[code]

[2020-01-28 07:51] japj commented on #233
it looks like [VSTeamVersions]::Packaging = '5.0-preview' at https://github.com/DarqueWarrior/vsteam/blob/master/Source/Public/Set-VSTeamAPIVersion.ps1#L73 might solve this issue

[2020-01-28 11:15] pelikanmartin commented on #221
Hi Donovan,

we modified your code to add charset into the API call, import it locally and the problem is gone.

https://github.com/DarqueWarrior/vsteam/blob/master/Source/Public/Update-VSTeamRelease.ps1#L26

changing:
-ContentType 'application/json'
to:
-ContentType 'application/json;charset=utf-8'

It would be great to make such change for every method POST/PUT method.

[2020-02-03 14:45] MartinSajpel opened #234 "ContentType should be: 'application/json;charset=utf-8'"
Description
------------------
Issue on trying of use of Update-VSTeamRelease as described in below article is happening while release data has the special characters in display name like: "í","ą","ę","á". To fix it the the charset should be set to utf-8 as described in title (further reading on below link).

https://developercommunity.visualstudio.com/content/problem/617371/unable-to-update-relea

[2020-02-10 14:22] japj commented on #222
@DarqueWarrior is there anything that we can do to provide (more?) information to help understand the problem?

[2020-02-11 00:43] #230 closed

[2020-02-11 05:53] SebastianSchuetze commented on #233
@japj would you be able to create a PR for this. Could you also then add a unit test, which is testing this call for AzD2019?

[2020-02-11 07:36] japj commented on #233
@SebastianSchuetze unfortunately I don't have any experience/knowledge with generating the right (and clean) json samplefiles for the unit tests. Is there any documentation/scripts on how to generate those correctly?

[2020-02-11 07:59] SebastianSchuetze commented on #233
Which JSON do you exactly mean? The one that is returned from the API?

[2020-02-11 08:05] SebastianSchuetze commented on #234
Would you be able to give it a try and submit a PR? This fix should be fairly simple, but important.

[2020-02-14 07:22] kine opened #235 "Support for custom headers in Invoke-VSTeamRequest"
When I need to call API which have no own cmdlet in the module, like API for updating Wiki page, I need to specify e.g. If-Match header to the request. I see no way how to add this now when using Invoke-VSTeamRequest.

Adding possibility to specify own header values will allow me to use this call to cover all "unsupported" API calls.

Thanks!

[2020-02-14 15:41] SebastianSchuetze commented on #235
Thanks for the suggestion @kine! What do you think, would you be able to suggest a PR for this enhancement?

[2020-02-18 14:13] AnthonyAtApex opened #236 "Does VSTeams support on-premise TFS?"
We have an onipremise TFS installation, which is on the latest version (Dev17.M153.3).

When I invoke the Get-VSTeamGroup commandlet, I get the following error. Are we just out of luck using this module locally?

`This account does not support the graph API.
At C:\...\PowerShell\Modules\VSTeam\6.4.3\vsteam.functions.ps1:185 char:7
+       throw 'This account does not support the graph API.'
+

[2020-02-19 10:37] MichelZ commented on #169
Are there any plans to move to PSCore? That would also solve the problem, wouldn't it?

[2020-02-20 12:44] MichelZ commented on #236
It does support it, but not that particular cmdlet, as it needs the graph API, which is not available on-premises I believe

[2020-02-20 13:18] AnthonyAtApex commented on #236
Thanks for the info. Do you have a suggestion for getting Project / Team / Group memberships using these commandlets and on-premise? Or should I stick with rolling my own and using the REST API?

[2020-02-20 13:46] MichelZ commented on #236
If you can do it with the REST API, then we <should> be able to do it using PS.
What way is there in the REST API?

[2020-02-20 14:25] AnthonyAtApex commented on #236
Here's what I've been able to piece together, looks like Azure DevOps 2019 on-premise still supports the older REST APIs:
[https://docs.microsoft.com/en-us/azure/devops/integrate/previous-apis/tfs/overview?view=azure-devops-2019](url)
[https://docs.microsoft.com/en-us/azure/devops/integrate/previous-apis/tfs/teams?view=azure-devops-2019#GetaTeamMembers](url)

So what I've been doing is manually bu

[2020-02-20 14:40] MichelZ commented on #236
Yes, this API is actually still available in the latest API for 2019:
https://docs.microsoft.com/en-us/rest/api/azure/devops/core/teams/get%20team%20members%20with%20extended%20properties?view=azure-devops-server-rest-5.0

But that only gives you the Team Members, not the Project/Group Members.
Unfortunately it's all a bit limiting in this regards on-premises.

[2020-02-20 15:01] MichelZ commented on #221
Duplicate of #234
Fixed by #239

[2020-02-20 16:13] AnthonyAtApex commented on #236
Agreed. Documentation is frustrating too.

[2020-02-20 16:13] #236 closed

[2020-02-20 19:07] MichelZ commented on #222
SSL issues are usually not transient IMHO

[2020-02-20 19:15] MichelZ commented on #154
Should be easy to do, there is a searchCriteria.status which can be set to all (defaullt: active)

Will take a stab at it tomorrow if I don‘t forget 🙄

[2020-02-21 15:57] MichelZ commented on #78
Is this still an issue?

[2020-02-22 06:26] MichelZ commented on #107
I think none is valid, but only with "additional" options (licensingSource / msdnLicenseType)

I'd close this one in favor of #106 @DarqueWarrior

[2020-02-22 06:33] MichelZ commented on #202
This should be fixed by #226 and #229
Can you verify @japj ?

[2020-02-24 10:07] MichelZ opened #246 "Wiki should point to /blob/master/docs/readme.md"
The Wiki link in GitHub currently points to the root README.
It would be great if it pointed to https://github.com/DarqueWarrior/vsteam/blob/master/docs/readme.md for better discoverability of the cmdlets documentation.

[2020-02-24 10:24] MichelZ opened #248 "Fix build"
The build status is currently "failed" - this doesn't look good :)
Please fix it.

The issue seems to be a missing "-Force" on the "Install VSTeam Module" step (Linux TFS 2017), as at the end of this step it says:

[code]

and then the "Run Integration Tests" step fails because the module wasn't installed:

`Import-Module : The specified module 'VSTeam' was not loaded because no valid module file

[2020-02-24 10:44] MichelZ opened #249 "Code of Conduct: wrong e-mail address / update to 2.0?"
In the Code of Conduct, there is an e-mail address that is _probably_ invalid for this project (I assume).
There is also a v2.0 of the "base" code of conduct that I suggest this repo adapts (it mainly contains clearer language and adds more guidelines)

https://www.contributor-covenant.org/version/2/0/code_of_conduct/

[2020-02-24 12:32] MichelZ opened #251 "Push PS Gallery versions also to GitHub Releases"
Would be nice if the releases are sent to GitHub releases as well.
I like "watching" releases, and I think it's also good for the project when you can see regular releases on GH releases

It can be automated in Azure Pipelines

[2020-02-24 13:14] MichelZ commented on #150
@SebastianSchuetze Just leave the plan id out if you don't know what it's doing, and PR this.
Issue has been open for a while now :)

[2020-02-24 13:15] MichelZ commented on #150
Also, make sure BuildID and ProjectID/Name are mandatory

[2020-02-24 19:23] SebastianSchuetze commented on #246
Not sure what you mean. Currently, there is no wiki at all here. Can you clarify. Maybe I am missing something. :-)

![image](https://user-images.githubusercontent.com/7256168/75183781-7e343f00-5743-11ea-8775-16729d876f7c.png)

[2020-02-24 19:34] SebastianSchuetze commented on #222
I would be a friend of making things more stable. In cloud business, this is standard anyways.

We just need to make sure that the following things do not apply:
* When a fault is likely to be long-lasting because this can affect the responsiveness of an application. The application might be wasting time and resources trying to repeat a request that's likely to fail.
* For handling failures that a

[2020-02-24 19:42] MichelZ commented on #246
When I click on Wiki as a non-collaborater, I am transported to the front page (aka readme)

I‘d suggest to create a simple single page that just has a link to the docs... (the readme is quite „large“)

[2020-02-24 20:16] SebastianSchuetze commented on #246
I was even thinking to create GitHub pages rendered to HTML from markdown pages. Then the documentation could be a bit more elaborate and visible.

[2020-02-24 20:20] MichelZ commented on #246
That also sounds like something that could work, yep

[2020-02-24 20:58] MichelZ opened #258 "Change Tagline"
The current Tagline of the Project is:
`PowerShell module for accessing TFS and VSTS`

Should probably be changed to to something like:
`PowerShell module for accessing TFS, Azure DevOps Service and Azure DevOps Server`

[2020-02-24 21:27] SebastianSchuetze commented on #258
Agree @DarqueWarrior this can only be done by you.

[2020-02-25 04:27] #148 closed

[2020-02-25 04:27] #248 closed

[2020-02-25 04:27] #251 closed

[2020-02-25 04:27] #249 closed

[2020-02-25 04:27] #106 closed

[2020-02-25 04:27] #154 closed

[2020-02-25 04:27] #120 closed

[2020-02-25 04:27] #131 closed

[2020-02-25 04:27] #235 closed

[2020-02-25 04:27] #221 closed

[2020-02-25 04:27] #234 closed

[2020-02-25 04:30] DarqueWarrior commented on #258
Done.

[2020-02-25 04:30] #258 closed

[2020-02-25 07:29] MichelZ opened #262 "Code Coverage"
Is there a reason that Code Coverage is disabled?
(`e.g. build/unitTest.yml -> parameters: CodeCoverage: 'false'`)

if not - can this be enabled?

[2020-02-25 07:40] SebastianSchuetze commented on #107
closing this issue as suggested by @MichelZ . If the problem still appears with the new implementation then we can reopen it @janegilring

[2020-02-25 07:40] #107 closed

[2020-02-25 08:08] SebastianSchuetze commented on #262
Check the following issue:
https://github.com/pester/Pester/issues/1318
and
https://github.com/PowerShell/PowerShell/issues/9884

Since an OS update for windows PS is getting very flow when loading classes. Since the script analyzer is doing that very often, the current build can take very long time (30-50 minutes) because of that.

I think we are dependent from this issue being solved.

[2020-02-25 08:18] MichelZ commented on #262
@SebastianSchuetze This has been fixed in `PS Core 6.2.3` according to your link(s), `6.2.4` is currently installed on the [Windows 2019](https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md) and [Windows 2016](https://github.com/actions/virtual-environments/blob/master/images/win/Windows2016-Readme.md) images.

I think we should be good here?

[2020-02-25 08:49] SebastianSchuetze commented on #262
I hope that this was also the intention of @DarqueWarrior because of the deactivation. Let's wait for his opinion to be sure that there is nor another reason.

[2020-02-25 19:06] MichelZ commented on #201
There is no way doing this with this project here unfortunately.
I‘d close this isse @DarqueWarrior @SebastianSchuetze

[2020-02-25 19:07] MichelZ commented on #207
I like it (Pause/Resume), keeps clutter away from existing one‘s

[2020-02-25 19:09] MichelZ commented on #202
@DarqueWarrior @SebastianSchuetze I‘d suggest closing this as fixed

[2020-02-25 20:52] DarqueWarrior commented on #262
I can do some testing and see if that has been fixed. The builds were taking way way too long.

[2020-02-26 05:47] MichelZ commented on #246
@DarqueWarrior changed it to have a Wiki with basic info. I think that's good enough for now :)

[2020-02-26 05:47] #246 closed

[2020-02-26 08:08] SebastianSchuetze commented on #201
I also didn't see any solution or possibility! So closing this for now.

[2020-02-26 08:08] #201 closed

[2020-02-26 08:15] SebastianSchuetze commented on #202
agreed. It checks now for the existence of the property. Closing this for now.

[2020-02-26 08:15] #202 closed

[2020-02-26 08:20] SebastianSchuetze opened #268 "Suggestion: Cleaner Release logs with Squash Merge in PRs"
@DarqueWarrior I had a look at the change logs in the GitHub release. And the change list is very long. Probably due to that every change is being shown. Shall we maybe by default squash merge changes for every PR and also in the contribution guidelines ask for a better PR title.

In that case we would get pretty descriptive change logs and at some point even think about generating the change logs

[2020-02-26 11:27] mmisztal1980 opened #271 "Q: Automate ServiceEndpoint / Environment Creation?"
Hi,

I realize that this is probably not a part of the functionality that this module offers, however I'm looking for guidance on how this should be implemented.

Essentially, whenever I provision a k8s cluster, I'd like a service endpoint to be automatically added to my project (using kubeconfig method), I'd also like to create environments for my cluster.

How should I proceed about this? I have

[2020-02-27 08:44] SebastianSchuetze commented on #271
have you checked if the module can support you with this already? The problem is that the API is pretty much standardized for all service connections and I think the body supports a custom property "data" for custom payload. So I don't know how it should look like in this case.

[2020-03-02 14:41] smholvoet opened #276 "Add-VSTeamClassificationNode which allows adding iterations and areas"
Am I missing something or is there no `Add-VSTeamClassificationNode` function, which can add iterations or areas? I did find the [Get-VSTeamClassificationNode](https://github.com/DarqueWarrior/vsteam/blob/master/Source/Public/Get-VSTeamClassificationNode.ps1) which uses the same URI, but there doesn't seem to be a function which adds classificationNodes (iterations or areas)....? 🤔

See [Classific

[2020-03-02 15:46] MichelZ commented on #276
You did not miss that function.

[2020-03-02 15:52] SanderHolvoet commented on #276
Ok, I consider this to be something which other people mind find useful. Especially if you have multiple  teams contained within a single team project who each need their own area and respective iterations.

I'll make sure to reference this issue upon creation of my PR.

[2020-03-03 07:10] SebastianSchuetze commented on #276
@SanderHolvoet if you find a API part that is note covered yet with a cmdlet, then you can add it if you want.
Go ahead. Read the contribution docs and make a PR. ☺️

[2020-03-03 13:35] MichelZ commented on #262
@DarqueWarrior Success?

[2020-03-03 15:43] SanderHolvoet commented on #276
Had a look at the API and I feel like splitting this up into two separate cmdlets would make more sense:

- Add-VSTeamArea
- Add-VSTeamIteration

Especially since these 2 types of classification nodes require additional parameters in their respective request body.

**Area:**
[code]

**Iteration:**
[code]

The official Azure DevOps API uses the [TreeStructureGroup](https://docs.microsoft.com/en-us/

[2020-03-03 15:55] MichelZ commented on #276
It is a good idea to split up.
Altough... I personally would still create an `Add-VSTeamClassificationNode`, and call this from `Add-VSTeamArea` / `Add-VSTeamIteration`. (Same with the Get-*)

I wanted to add `Get-VSTeamIteration` before but forgot (there is an issue #152 for this)

[2020-03-03 16:33] SebastianSchuetze commented on #276
@SanderHolvoet with everything we added here it is good to start with the terminology that we are used with. The API is not the most intuitive one. So I would suggest to first create the two split cmdlets. True, they are grouped into the classification nodes, but I would suggest to create to seperate ones.

And since @MichelZ already created already the one for Get-VSTeamClassificationNode. It wou

[2020-03-04 16:44] SebastianSchuetze commented on #151
I have checked the API and there is currently now way of getting it with that. The azure CLI is also using an extra internal CLI to authenticate through the Azure Portal an request an SAS token on an intenal storage account hosted with Azure DevOps

I checked it with fiddle and the azure CLI

![image](https://user-images.githubusercontent.com/7256168/75902032-b6bcd280-5e3f-11ea-95d0-e91fe5437964.p

[2020-03-10 21:18] SebastianSchuetze opened #278 "Improve cmdlet Update-VSTeamAgent"
As discussed earlier with @DarqueWarrior the PR #273 is good, but some changes should be improved:

* command should be renamed to Update-VSTeamAgentSoftware
* also by default the cmdlet should give a warning as it does on the UI (see screenshot below). This means the SupportsShouldProcess should be added to the function so the -force flag has to be used to deactivate the confirmation manually
* t

[2020-03-10 21:22] DarqueWarrior commented on #278
I will take care of this today.

[2020-03-10 21:29] SebastianSchuetze opened #279 "Restructure Unit Tests into one file per cmdlet"
Currently, the structure of the unit test is insufficient. Sometimes multiple cmdlets have been grouped within one file and sometimes one cmdlet has its own unit test file.

@DarqueWarrior and I figured it could be better and cleaner to separate all cmdlets in their own test files for a better overview. Also, it would be much more intuitive and you would know where to find existing unit tests as w

[2020-03-11 04:57] woehrl01 commented on #278
Great improvement ideas! If you need help, just raise your hand.

[2020-03-11 15:46] DarqueWarrior commented on #278
Thanks for the PR @woehrl01 I really appreciate the support. The changes are making their way through the pipeline now. Hope to have a new release soon.

[2020-03-13 20:24] SebastianSchuetze commented on #278
This is done with one of the last releases, although we left the cmdlet name as it is. :-)

[2020-03-13 20:24] #278 closed

[2020-03-16 20:18] DarqueWarrior commented on #268
I am open to it.

[2020-03-18 21:59] SebastianSchuetze commented on #268
Shall we then set the setting to allow only squash merge in the repository settings @darquewarrior? We can do the same format in the merge as we do on the current changeling. Also with markdown and mentions for shoutouts.

Also we would have a little bit more control on formatting, don't need people to change the changelog anymore.

[2020-04-01 13:44] DarqueWarrior commented on #268
Sure sounds good.

[2020-04-01 13:44] #268 closed

[2020-04-01 13:44] DarqueWarrior commented on #279
Done.

[2020-04-01 13:44] #279 closed

[2020-04-07 16:44] richardgavel opened #288 "Suggestion: Download-VSTeamBuildArtifact"
I know the results of Get-VSTeamBuildArtifact returns an object from which a URL is contained that one can use to download a build artifact, but it would be nice to encapsulate that in a single cmdlet.

Download-VSTeamBuildArtifact -ProjectName {name} -Id {id} -ArtifactName {name} -Path {optional path within the artifact if you only want a subset of the artifact} -File {path to write artifact to}

[2020-04-22 19:14] sevaa opened #290 "Cmdlet for subscription creation"
Please provide a cmdlet for creating collection level subscriptions, as outlined [here](https://docs.microsoft.com/en-us/rest/api/azure/devops/notification/subscriptions/create?view=azure-devops-rest-5.1).

The Web UI for creating those has been around since forever under Collection Settings/Global notifications/Subscribers, but in ADO2019, they've removed the SOAP option from the Web UI. Internal

[2020-04-22 21:10] richardgavel opened #291 "Add-VSTeamBuild queues a build, but throws an error post-queue"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Build queued and information returned

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [X] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [ ] Azure DevOps Server
- [X] Azure DevOps Service

[code]

[code]

[2020-04-23 05:34] SebastianSchuetze commented on #291
Thanks @richardgavel . We gonna check this in time. Are you using YAML pipeline or the classic build pipelines?

[2020-04-23 06:15] SebastianSchuetze opened #292 "Suggestion: Create Scaffolding Script for new cmdlets"
I suggest using plaster to scaffold all files needed for new cmdlets

https://github.com/PowerShell/Plaster/blob/master/

I suggest the following things to scaffold from templates:
* cmdlet file with name Verb-VSteamAction
* create markdown docs with synopsis file and basic doc file
* check whether during scaffold we can already define parameters for the cmdlet and also add it to the files (cmdlet

[2020-04-23 13:02] richardgavel commented on #291
Raw powershell command line, not even inside a pipeline yet.

On Thu, Apr 23, 2020, 12:34 AM Sebastian Schütze <notifications@github.com>
wrote:

[2020-04-23 16:30] richardgavel commented on #291
Did some more research via logging and it's actual the result of the issue https://github.com/DarqueWarrior/vsteam/issues/198. So closing this and will help out on that one.

[2020-04-23 16:30] #291 closed

[2020-04-23 16:52] richardgavel commented on #198
The mention of a YAML vs GUI on https://github.com/DarqueWarrior/vsteam/issues/216 had me research further and I did find it was choking only on GUI based pipelines. Ran the raw REST API and this is what I got, specifically around the embedded "queue" property:

GUI
`
            "queue": {
                "_links": {
                    "self": {
                        "href": "https://dev.azure

[2020-04-25 16:43] SebastianSchuetze commented on #291
Thanks for checking it yourself. We are maintaining this module in our limited free time that we have. So if you think you know a fix, then you can always suggest fixing snippets in the issue or submit a PR. Thanks for your effort!

[2020-04-25 16:45] SebastianSchuetze commented on #198
@richardgavel could you help us in providing a solution for this? code snippets are enough. We can make the PR as well if it is too much effort.

[2020-04-28 02:00] binte commented on #143
I am getting the exact same error on an Azure DevOps pipeline, even though the same code works locally. I am using an `windows-2019` agent for the run. Any idea how can I solve this? I can't find any information on this error besides this thread

[2020-04-28 06:24] SebastianSchuetze commented on #143
This must be a problem with the ShiPS module. Can you try to use `-SkipPublisherCheck`?

[2020-04-30 12:20] SebastianSchuetze commented on #150
This has been merged into master and will be out with the next release.

[2020-04-30 12:20] #150 closed

[2020-04-30 12:28] SebastianSchuetze commented on #151
This seems not to be possible as mentioned here:
https://github.com/MicrosoftDocs/azure-devops-docs/issues/3834

There is a feature request for supporting this with the API:
https://developercommunity.visualstudio.com/idea/616820/download-universal-package-rest-api.html

It is also stated in the documentation that you have to use the Azure CLI currently:

https://docs.microsoft.com/en-us/azure/dev

[2020-04-30 12:28] #151 closed

[2020-04-30 12:31] SebastianSchuetze commented on #228
@AlanMcBee do you still want to try this?

[2020-04-30 12:45] jhoneill opened #296 "Do not change the strict mode setting for the user's PowerShell session"
Strict mode is a user choice. Code should be developed and tested so that it does not fail if the user selects the strictest mode, but changing strict mode on loading will break other code which assumed the mode was relaxed.

There are 3 places where strict mode is turned on.

Private\callMembershipAPI.ps1:12
Private\common.ps1:1
Public\Test-VSTeamMembership.ps1:11:

These appear to be errors, bec

[2020-04-30 12:58] jhoneill opened #297 "Consider reducing the scope of the default parameter "Project" from "*" to "*-VsTeam*""
After a frustrating debugging session which turned out to be something with a ProjectName parameter being passed a default, I'm now of the opinion that the default should only apply to commands with -VsTeam nouns.  Changing is a matter of a global search and replace of
` $Global:PSDefaultParameterValues['*:projectName']`
With
` $Global:PSDefaultParameterValues['*-Vsteam*:projectName']
`
I have bee

[2020-05-01 01:01] DarqueWarrior commented on #297
Was the original default value being passed to cmdlets of other modules? I never even considered that! So sorry for the trouble.

[2020-05-01 01:02] DarqueWarrior commented on #296
Thanks for all the great feedback. Please keep it coming.

[2020-05-01 03:00] binte commented on #143
@SebastianSchuetze that did the trick for me, thank you!

[2020-05-01 05:07] SebastianSchuetze commented on #296
@DarqueWarrior will you do it in your review PR or should I make a PR for this issue and #297

BTW. accidentally closed the issue. Too fat fingers on mobile... 😬

[2020-05-01 15:16] DarqueWarrior commented on #296
I will look at both of these today.

[2020-05-01 15:25] DarqueWarrior commented on #297
Searching for just '*:projectName' returns a lot more places. Let me see if all the alias still use the projectName if we add the *-VSteam* to it.

[2020-05-01 15:39] DarqueWarrior opened #298 "produce signed builds"
Sign the module so it can be installed in secure environments.

[2020-05-01 16:36] DarqueWarrior commented on #298
This might be tricky because our dependency on SHiPs which is not signed.

[2020-05-01 17:04] SebastianSchuetze commented on #298
Is signing a new requirement or why didn't we need this before?

[2020-05-01 18:25] jhoneill commented on #297
Ah. **Aliases** are why it was needed in the first place.

I was writing new functions which use _callApi and (a) they were getting passed the project name and I couldn't see why a parameter set without projectname never got selected and I was focusing on the parameter sets being the cause, so spent a long time looking in the wrong place for the problem (b) _callApi was being called with a project

[2020-05-01 18:28] DarqueWarrior commented on #297
I see. I scoped it as you suggested but I fixed the other problem by adding the -NoProject flag to the _callAPI function. That flag has _callAPI ignore any default value stored for project. But now understanding this better I might remove the -NoProject flag now that the default is properly scoped to just external functions. I will do some testing. Thanks for the explanation.

[2020-05-01 18:28] DarqueWarrior commented on #296
Fixed

[2020-05-01 18:28] #296 closed

[2020-05-01 18:29] DarqueWarrior commented on #292
I like this idea.

[2020-05-02 09:03] jhoneill opened #299 "Fix two annoying behaviors in new completers and validators"
When I made the changes to remove dynamic parameters  (  included in #289) I missed two things.

1. A mandatory parameters will enforce Not-Null-or-Empty , unless an Allow is specified and for a non-mandatory parameter this should be enforced by a validate attribute. The validators I wrote fail if null or empty is passed and should not do so.

2. Completers which may return items with spaces (or a

[2020-05-02 11:03] SebastianSchuetze commented on #299
I will link the PR as soon as you submitted it!

[2020-05-02 14:33] jhoneill opened #300 "Improvements to Get-VsTeamProcess and ProcessCache & ProjectCache classes"
It would be useful if Get-VSTeamProcess

1. Got process information from the /work/processes URI path rather than process/processes as the former has additional details
2. Could query from processes with a wildcard name.
3. Updated the cached process information
4. Displayed whether a process was disabled or was the default process.

It would be neater if the cache classes had an `update` method t

[2020-05-02 14:53] jhoneill opened #301 "Allow Get-VSteamWorkitemType to identify hidden W.I.Ts in projects and get W.I.Ts from Process and expand behaviors, layouts & states"
When getting WorkItem Types from a project I've found that some of the types  returned by calling `project/wit/workitemtypes` are not types for the project. And the  `project/wit/workitemtypecategories` it is possible to get a list of hidden W.I.Ts.
So it is useful to flag W.I.Ts with Hidden based on this.

It is also helpful to be able to ask "Which WorkItem types are in Scrum projects, which in

[2020-05-02 15:13] jhoneill commented on #299
@SebastianSchuetze  I have been working on something in the day job which meant I wrote about 20 new commands for working with processes, and the work item types, and then fields / pages / groups / controls. This one , #300 and #301  are pre-requisites for that work, so I'm trying to make them one manageable PR, and then the others will come in their own PR. So I have been splitting the work into

[2020-05-02 15:27] SebastianSchuetze commented on #299
Very Cool! But it is fine if the PRs are smaller rather than big. Check #276 for a discussion about cmdlet. Currently we are only wrapping the API and not concentrating on higher level cmdlet which are probably something for another module. But we are not sure yet.

[2020-05-02 16:14] jhoneill commented on #299
These only wrap the API. My feeling the higher level things, FWIW is that often those are better as example scripts than as a part of the core module. So "Oh, you want to take export Pipeline specifications to an XLSx file, edit them and import them back - here's an example" not "Lets add Export-PipelineToXLSX and Import-PipelineFromXLSX" as functions.

[2020-05-02 22:03] jhoneill opened #302 "Put area before resource in Invoke-VSteam Request, add completers and allow it to expand values"
Area comes first on the URL path and it's confusing to have it suggested first.

It would be nice if -area tab completed and if -area was present the -resource was also tab completable . At least 50% of the time the value property of the output is required so a switch which says give me the values would be helpful.

[2020-05-03 10:46] SebastianSchuetze commented on #302
do you see an API for the completion or do you mean hard coded?

[2020-05-03 11:30] jhoneill commented on #302
As far as I can see there is no API to find out what available, so wrote have a script  (generate-areaClasses.ps1) which  re-writes the completer classes and adds everything the module knows about. I know "wiki" is missing, and there are probably others which need to be typed. I might read down the documents for any more, it's just a time saver, not a validator. I was doing other completers and ju

[2020-05-03 22:48] jhoneill opened #304 "Add error trapping when a call to the API makes it to _callAPI without account being set"
Currently if a the calling function does not do it's own check for _getInstance, or by looking at [VSTeamVersions]::account, and dives into _call API an error is thrown that "relative URLs are not supported " because the URL is built without the protocol and host name.

I've added something to catch this and give a specific error.

[2020-05-06 11:30] SebastianSchuetze commented on #169
@MichelZ isn't the module itself PSCore ready? I thought so always...

[2020-05-08 07:08] detlefs opened #306 "Module can't be imported in PowerShell Core 7.0"
I installed VSTeam 6.4.7

Steps to reproduce
------------------

Start PowerShell Core 7.0.0

[code]

Expected behavior
-----------------

Import of the module

Actual behavior
---------------

Error is displayed:

[code]

Environment data
----------------

OS

- [ ] macOS
- [x] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [x] Azure DevOps Server
- [ ] Azure DevOps Service

[code]

[2020-05-10 06:58] SebastianSchuetze commented on #306
I tried it for me and I had no problems. I ran the command in the order you can see in the screenshot:

![image](https://user-images.githubusercontent.com/7256168/81490973-b2ba9000-9288-11ea-883d-627f464024ad.png)

As you can see the only thing that is different is the build number for my Windows 10 OS. Do you have a VM or another PC available to try this?

I have even installed an Azure VM with y

[2020-05-10 23:02] DarqueWarrior commented on #306
I just tested installing from the PowerShell Gallery and everything worked as expected.

[2020-05-10 23:15] #297 closed

[2020-05-10 23:22] DarqueWarrior commented on #299
Just make sure you merge all the changes from master. A ton of work was done to move the original changes over. Not all the classes were exactly the same as you wrote them originally. Just want to make sure we don't lose any changes.

[2020-05-11 13:31] jhoneill commented on #299
I've merged everything from master, and found your changes, and incorporated them / made new stuff match them. Sebastian also pointed out some conflicts of style and naming and I'm trying to follow those too. Contributing to multiple projects with different people's ways of doing things is like switching accents to talk to different groups of people :-)

[2020-05-12 06:44] AnkitPathak41 opened #307 "Group type (aad) not handled yet for Add-VSTeamGitRepositoryPermission"
Please add the group type aad to be handled by the cmdlet Add-VSTeamGitRepositoryPermission, It is able to add the vsts groups, However does not work with aad groups.

Below is the output of the command when running the cmdlet with aad group type

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
--

[2020-05-12 13:51] SebastianSchuetze commented on #307
Thank you for reporting. We gonna investigate this.

[2020-05-12 13:56] SebastianSchuetze commented on #304
@jhoneill you are confusing me a bit here. You linked a commit from your repository. Is there a PR containing this change? In the same commit, you also edited something else.
Can you clarify or link the PR here if it already exists?

[2020-05-12 15:30] #152 closed

[2020-05-12 15:30] #276 closed

[2020-05-12 15:32] SebastianSchuetze commented on #152
@PHaigh-tw and @MichelZ this has been added with the last PR #286 and will be available with the next release.

[2020-05-12 15:32] SebastianSchuetze commented on #276
@smholvoet and @MichelZ this has been added with the last PR and will be available with the next release.

[2020-05-12 16:13] SebastianSchuetze commented on #304
found it myself.

[2020-05-13 00:19] DarqueWarrior commented on #307
Is this an issue or a feature request?

[2020-05-13 00:26] DarqueWarrior commented on #304
This looks like a regression. I will see what happened. Thanks for reporting this.

[2020-05-13 00:32] DarqueWarrior commented on #304
The call to _hasAccount used to be called in _buildRequestURI that is called but _callAPI and it is missing. I will review the history of the project and track down when that got broken. Then I will decide where we return it.

[2020-05-13 04:10] DarqueWarrior commented on #304
This was caused by the changes to remove the [dynamic parameters](https://github.com/DarqueWarrior/vsteam/pull/275).  _buildRequestURI was changed and _hasAccount removed from the method. I did not notice this in the changes coming in. I am putting the code in _buildRequestURI back the way it was.

[2020-05-13 04:10] #304 closed

[2020-05-13 06:23] DarqueWarrior commented on #302
We can get the areas and resources from Get-VSTeamOption. I am working on this now. I have it where you can tab complete Area. Will create the resource completer next. The order of the parameters does not mater in the definition of the function just the order passed to the function.

[2020-05-13 06:56] DarqueWarrior commented on #302
This was a great idea! I am close to being done.

[2020-05-13 07:36] DarqueWarrior commented on #302
This will be in next release.

[2020-05-13 07:36] #302 closed

[2020-05-13 09:45] jhoneill commented on #302
Glad you like the idea. The reason for having area before resource is when you tab complete the parameters it makes more sense to them in the order they appear in the URL . Having resource first leads to putting "teamsettings" first and "work" second and building a broken URL. After doing it for the 100th time I just swapped the parameter order on my version.

[2020-05-13 13:20] AnkitPathak41 commented on #307
It is a feature request. As repository permissions only supports vsts type groups not Azure AD group

[2020-05-13 17:53] DarqueWarrior commented on #307
Looking at the [docs](https://docs.microsoft.com/rest/api/azure/devops/security/access%20control%20entries/set%20access%20control%20entries?view=azure-devops-rest-5.1&WT.mc_id=github-github-dbrown) this looks more like a request for the Azure DevOps team than this module. Once the API provides it we can offer it.

[2020-05-14 07:55] SebastianSchuetze commented on #307
I am not really understanding that API with the permission. Where can you see that this must be added via API and cannot / should not be added via the module?

When I understand it, I would open a feature request and close this issue. Or we fix it in the module.

[2020-05-14 09:50] SebastianSchuetze opened #312 "Switch to Pester 5 for Unit Tests"
We could switch to Pester 5 for the unit tests. From what [I can read on the latest release](https://github.com/pester/Pester/releases/tag/5.0.0-rc6) it could make the unit tests more reliable and performant in the future.

Also on twitter, the creator said that he would concentrate on code coverage performance in Version 5.1

https://twitter.com/nohwnd/status/1260810281485287424

[2020-05-14 09:52] SebastianSchuetze commented on #312
Possibly the PR #282 with issue #262 could be related for performance, since it was deactivated for PRs due to running to long (13-20 minutes each run)

[2020-05-14 15:04] jhoneill opened #314 "Get-VSTeamWIQL"
- The removal of dynamic parameters #289  somehow missed this one.
- There was a completer / transformer for query selection in the code drop behind 289 and that got lost in the process.
- The -Team parameter should be optional. (It's described as optional https://docs.microsoft.com/en-us/rest/api/azure/devops/wit/wiql/query%20by%20id?view=azure-devops-rest-5.1)
-  -Expand fails if the returned it

[2020-05-14 23:53] DarqueWarrior commented on #312
I started looking at this today.

[2020-05-15 18:40] DarqueWarrior commented on #312
I plan to have this done this before Monday.

[2020-05-15 20:01] SebastianSchuetze commented on #312
For sure. Because then you need to Build! 🤣

[2020-05-16 17:59] jhoneill commented on #312
Just be aware of something on dot sourcing files out of the source tree

Imagine this simple function

[code]

You write your unit test and at the start you have
[code]
(Which is now broken in Pester 5.)
This has multiple issues.
1. It depends on the test and the file being tested being in expected locations
2.  It depends on the name of the test file and the source file matching (case sensitively

[2020-05-16 23:50] DarqueWarrior commented on #312
Can you take a look at the [PR for this](https://github.com/DarqueWarrior/vsteam/pull/316). I have all 779 test ported and running correctly. They all complete a minute faster than before. Every unit and integration test was re-written to match Pester 5 requirements. I even found a few Pester 5 bugs while doing so. But as this point everything is working as expected.

[2020-05-17 03:13] DarqueWarrior commented on #312
I would encourage contributions that also add integration tests. I don't want to load the entire module to run unit tests. I have already gotten all the tests running even those with completers and validators. I want each contributor to really think about the tests they write and what classes and functions are being tested. Loading the entire module feels like a shortcut. I want to test the code i

[2020-05-17 03:15] DarqueWarrior commented on #312
This is true and this is why we Mock. I think many of the original tests Mock way to close to the wire. I think mocking the call to _callAPI and making sure all the parameters are set correctly should be as low as a new function should have to go. Mocking invoke-webrequest is too low. That was done originally to make sure the URLs were being formed correctly. However, that should be tested in unit

[2020-05-17 03:17] DarqueWarrior commented on #312
InModuleScope caused a lot of pain in the past which is why I worked so hard recently to remove all references to it. Using InModuleScope gives the tests access to the inner workings of the module and really opens you up to contributors being exposed to all the implementation details of the module. Not use InModuleScope forces the tests to test the public interface.

[2020-05-17 03:20] DarqueWarrior commented on #312
What happens is the tests fails with an error stating could not find type "ThingCache". I saw tons of it when I was refactoring all the tests. This is not something you can forget because the tests will fail. Not to mention to make sure your tests run as expected you need to Mock your "ThingCache" otherwise your tests will have side effects. By mocking it you control if there should be anything re

[2020-05-17 03:22] DarqueWarrior commented on #312
As for the future. The next move will be taking this entire module into a binary module written in C# pester  will not be used for unit tests then.  Not sure when this is going to happen but I have been giving it a lot of thought.

[2020-05-17 03:23] DarqueWarrior commented on #312
We can continue to discuss but I am closing this because I have already ported all the tests.

[2020-05-17 03:23] #312 closed

[2020-05-17 22:01] jhoneill commented on #312
Maybe I raised this a little too late. There must be 200 commits in that PR :-)

That's a valid thing to want. But when code has dependencies moves a web of complexity into the tests. Each thing being tested has to load it's dependencies, and their dependencies, and _their_ dependencies. So A, B and C might depend on X.  The contributor who provided X shouldn't need to concern themselves with who

[2020-05-18 11:44] detlefs commented on #306
Hi guys,

I did some more experiments today. Here's what I found:
First of all, I updated PowerShell to 7.0.1
Then I tried again, importing the module. Still got the error.
Next, I performed manually the statements from the VSTeam.psm1 file:
[code]
As you can see, after the manual steps, the module imports without error.

I'm confused about this behavior. If it works manually, it should also work

[2020-05-18 15:04] smurawski commented on #312
There are a couple of things going on here:

- We are taking an approach that most commonly is used with object-oriented software and applying it to a hybrid functional/object-based environment.  This changes how we approach the things that we mock, stub, or isolate.

- Classes have inconsistent, evolving behavior over the supported (by this module) versions of PowerShell.

- Classes have inconsis

[2020-05-18 15:16] SebastianSchuetze commented on #306
I found the source of the problem. I get the same error if I called

[code]

before I tried to import the module. What happens is that the environment var `$env:TEAM_PROJECT` is filled and then Get-VSTeamProject is called. In there under the [_callAPI](https://github.com/DarqueWarrior/vsteam/blob/13ecf4255d273e9fed49b4c4bf1199bab412b0b3/Source/Private/common.ps1#L8) function is called which invoke

[2020-05-18 15:24] SebastianSchuetze commented on #306
Ah now I found it. I think `$([VSTeamVersions]::ModuleVersion)` is returning and empty string or null.

https://github.com/DarqueWarrior/vsteam/blob/13ecf4255d273e9fed49b4c4bf1199bab412b0b3/Source/Private/common.ps1#L415

[2020-05-18 15:25] SebastianSchuetze commented on #306
I will try to fix this.

[2020-05-18 15:30] SebastianSchuetze commented on #306
I haven't tested it, but it seems like, the Get-VSTeamProject is called before `[VSTeamVersions]::ModuleVersion = _getModuleVersion` is called. That means the agent header never has the version in it.

[2020-05-18 15:39] SebastianSchuetze commented on #306
No I found out that the error does not appear when I change psm1 to the following:

[code]

@detlefs could you try the same and then importing it from a fresh shell?

[2020-05-18 19:21] DarqueWarrior commented on #312
I have been reviewing the integration tests today and have already started adding more to address the concern of module loading correctly. I also changed the integration tests so they are not longer destructive and can be run safely on anyone's account.

I do believe many of the existing tests mock at a level lower than is desired. I will work to up level the mocks to _callAPI. I will also increas

[2020-05-19 11:55] detlefs commented on #306
I tried with the modified psm1 as per you last comment.
It works now. The module imports and the functions can be used.

[2020-05-19 14:31] SebastianSchuetze commented on #306
Ok cool. Then we have the solution. I will make a PR to correct this.

[2020-05-19 18:03] jhoneill commented on #312
@smurawski  thanks for the insight. It maybe that what's desirable simply isn't possible with Pester and what inmodulescope is able to do as it stands. I have said multiple times the way this module has historically loaded its classes can be problematic, and I wonder if that is contributing to the problem you see with Pester and classes..

I can't get past roughly 40 years of believing that the wr

[2020-05-19 18:34] smurawski commented on #312
This is one of those situations where there are multiple, diverging "good" routes.  Unfortunately, abstractions and implementations are often less than perfection.

I'll admit the classes behavior in PowerShell does not make this easier (one reason I'm not a fan). Outside of the class-loading scenario, most of the dependency management for a feature will be loading common.ps1 (which wraps most of

[2020-05-20 12:37] jhoneill commented on #312
Very true. I'm also fond of saying that the best position from which to to criticize what has been done to date is one of ignorance. I have stumbled into contributing to this project, and know very little about what has been done and why, and it's very easy to rock up and say "You should be doing this in such-and-such a way and it would fix X that  I see as a problem", to which a valid reply is, "

[2020-05-21 09:05] #206 closed

[2020-05-21 09:07] SebastianSchuetze commented on #206
@japj and @DarqueWarrior this issue has been implemented and merged by @brittandeyoung.

[2020-05-21 14:55] jhoneill opened #319 "MergeFile.ps1 tricked by "using" in a comment."
Steps to reproduce
------------------
if  a class file has a comment like this
[code]
when the module is built, merge file matches on using and will put "we do this "into the  output file

This is fixed by changing two regexes in MergeFile.

At line 189
`$matches = $fileContents | Select-String '^\s*using'`
And at line 202
`$newFileContents = ($fileContents -replace '^\s*using.*$', '')`

The first

[2020-05-21 17:35] DarqueWarrior commented on #306
Thanks for all the research and hard work on this @SebastianSchuetze I will review the PR now.

[2020-05-21 17:37] #306 closed

[2020-05-22 10:45] jhoneill commented on #312
One last thing on Mocks

@DarqueWarrior  said

I've lost the last two hours to chasing down a problem which looks like a pester bug.
if you have
[code]
It appears that trying to mock the command fails because of scope issue the mock is trying to work one scope up from where test runs and loads the class. The result is pester throws an error which reads something like "Can't convert Get-VSteamProce

[2020-05-22 21:59] jhoneill opened #323 "Support adding and changing process templates."
As well as Get-VSTeamProcess  there should be Add- and Set- commands for it as well.

(PR to follow shortly)

[2020-05-25 20:57] speedmind opened #326 "Update-VSTeamRelease WARNING: VS402865: An empty body in the POST request is not allowed."
This issue is similar (if not identical) to #239 & #221 but is still present in the current release 6.4.8.
Please note that no modifications are being made to the release, so it's effectively been submitted as it arrives.

This occurs whenever the JSON request contains special characters and in our case I've identified a user with a special character in his name in the request under artifacts/defi

[2020-05-26 03:15] SebastianSchuetze commented on #326
Thanks for reporting. We will check this.

[2020-05-26 03:16] SebastianSchuetze commented on #326
@speedmind could you provide possibly a minimal release JSON where this problem occurs? Then I can use exactly the same and try to reproduce it.

[2020-05-26 03:23] SebastianSchuetze commented on #78
This should be fixed now with PR #321 which allows also to target updates of servers @eduardohass.

[2020-05-26 03:23] #78 closed

[2020-05-26 06:21] speedmind commented on #326
It does, but I'll invalidate my PAT... Please delete once downloaded.
[Update-VSTeamRelease.zip](https://github.com/DarqueWarrior/vsteam/files/4680218/Update-VSTeamRelease.zip)

[2020-05-26 07:09] v3manku commented on #143
i still dont see even if i use -SkippublisherCheck
=========================================================
PS C:\Manoj> Install-Module -Name snTeamsTest -Force -SkipPublisherCheck
PackageManagement\Install-Package : The following commands are already available on this system:'
Add-TeamUser,Connect-MicrosoftTeams,Disconnect-MicrosoftTeams,Get-CsBatchPolicyAssignmentOperatio
n,Get-CsPolicyPackage,

[2020-05-26 10:28] kilasuit commented on #143
@v3manku - That error message tells you that you need to add the `-AllowClobber` parameter as well.

[2020-05-26 13:33] SebastianSchuetze commented on #143
@v3manku your error message has nothing to do with this module. You are trying to install a module snTeamsTest, which is none of ours. Is your problem related to the VSTeam module?

[2020-05-26 16:55] v3manku commented on #143
Thank you. You are right, this is from PS gallery

https://www.powershellgallery.com/packages/VSTeam/6.4.1

[2020-05-27 16:44] Freakling opened #329 "Remove-VSTeamUserEntitlement 405 - DELETE Method not allowed"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [ x] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [ ] Azure DevOps Server
- [ x] Azure DevOps Service

[code]

[code]

[2020-05-27 16:45] #329 closed

[2020-05-27 16:46] Freakling commented on #329
This worked

$entitlements = Get-VSTeamUserEntitlement

#Remove users that are not in list
[Array]$usersToRemove = $entitlements | Where-Object{$Users -notcontains $_.email}

$usersToRemove | Remove-VSTeamUserEntitlement

[2020-06-02 13:08] GalenSmallen opened #330 "Add-VSTeamBuild Issue"
Steps to reproduce
------------------
Add-VSTeamBuild -ProjectName Project -BuildDefinitionName Project.Test.Deploy -Verbose -Debug

Expected behavior
-----------------
Starts a build on the Azure DevOps Server 2019 with that definition name.

Actual behavior
---------------
[code]

Environment data
----------------

OS

- [ ] macOS
- [X] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018

[2020-06-04 13:19] GalenSmallen commented on #330
You can probably close this.   They switched my Azure DevOps server to https.  It seems that you can use the none secure url but it will redirect or fail to work.   After i set the correct URL it worked.  I don't know that there is anyway for this command to know that issue.    Thanks.

[2020-06-04 13:28] SebastianSchuetze commented on #330
So you configured the URL with http instead of https? If yes then it could be still an enhancement to either throw and error in the module or a warning about this problem.

Do you have the feeling the Azure DevOps itself is throwing the error?

I can see that in the logo there is an object returned. Is this an error object?

[2020-06-04 16:12] Alexlofern opened #331 "Get-VSTeamGroup not return all groups"
Some groups was not return on the list when you try get all.

I need to force with descriptor to get this groups informations.

[2020-06-05 05:15] SebastianSchuetze commented on #331
Hi @Alexlofern! Thanks for reporting.
Could you use our issue template to better describe the issue?

You can find the template here:
https://github.com/DarqueWarrior/vsteam/blob/master/.github/ISSUE_TEMPLATE.md

Otherwise, we maybe have not all the information we need.

[2020-06-05 14:00] Alexlofern commented on #331
Offcourse ....

### **Steps to reproduce**

First I'm Project Collection Administrator, have full access

Get-VSTeamGroup | Sort PrincipalName

### **Expected behavior**

Display all groups from all Azure DevOps Account

### **Actual behavior**

Considere that I have a project with name "ALM", so:

**[ALM]\ALM Team (not displayed)**
[ALM]\Build Administrators
**[ALM]\Contributors (not displayed)**

[2020-06-05 19:36] Alexlofern commented on #136
I do that using artifact id from the build def, something like that:

$RawBuildDef = Get-VSTeamBuildDefinition -ProjectName $Project -Id $BuildDef.Id -Raw -ErrorAction SilentlyContinue
$ArtefactId = $RawBuildDef.project.id + ":" + $BuildDef.Id
$RelDef = (Get-VSTeamReleaseDefinition -ProjectName $Project -Expand Artifacts | Where-Object Artifacts -Match $ArtefactId).Name

[2020-06-06 20:17] CodeCharm commented on #228
@SebastianSchuetze Yes. My schedule flew out of control earlier this year. I'm beginning my work on it now.

[2020-06-06 20:19] AlanMcBee commented on #228
@SebastianSchuetze Yes. My schedule flew out of my control earlier this year. I'm starting work on it now.

[2020-06-07 17:37] DarqueWarrior commented on #331
I just ran some tests and everything is working as expected.

[code]

What version of the Module are you running? You can find it be running:

[code]

[2020-06-07 17:41] DarqueWarrior commented on #330
On prem TFS servers don't have to require HTTPS. My test machines are HTTP not HTTPS. How can the module detect the mismatch of protocol their Server is configured with? If there is a way I say we investigate adding it. Otherwise I agree with @GalenSmallen and we just close this.

[2020-06-07 17:45] DarqueWarrior commented on #326
What was the special character in the users name? I want to setup a test environment to duplicate.

[2020-06-07 19:37] speedmind commented on #326
Hi Donovan,
It's kind of strange. The character causing the issue is an unknown character
\xEF\xBF\xBD (�)
but the correct character should have been
\xC3\xA1 (á)

If you have access to the fiddler session I uploaded, you'll see that the requests No. 11, 20, 23, 50 & 56 submit the wrong (�) character but the responses No. 8, 23 & 56 return the correct character (á).

You can find the offending cha

[2020-06-08 06:38] SebastianSchuetze commented on #330
I made a quick check. Didn't find anything useful to check whether TFS is configured with HTTP or https. And I think we should only use the API to get the information if possible.

So I am closing this for now.

[2020-06-08 06:38] #330 closed

[2020-06-09 15:04] DarqueWarrior commented on #326
I have a copy of the Fiddler log. I will find time to review. Thanks.

[2020-06-11 14:05] Alexlofern commented on #331
Not working for me and I don't know why ....

[2020-06-11 14:08] Alexlofern commented on #331
Sorry for ask again, do you have a project with more than one Team?

[2020-06-11 15:36] Alexlofern commented on #331
Name                           Value
----                           -----
ModuleVersion                  6.4.8
Account                        https://dev.azure.com/cc
DefaultProject
Version                        VSTS

[2020-06-14 22:59] tgossler opened #334 "Project name with spaces causing problems"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Project is created without error.

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [X] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [ ] Azure DevOps Server
- [X] Azure DevOps Service

[code]

[code]

[2020-06-16 19:49] SebastianSchuetze commented on #334
thx for reporting! We will check this.

[2020-06-18 07:50] AlanMcBee commented on #228
@DarqueWarrior @SebastianSchuetze I started the Help for one of the new cmdlets (as your contribution guide suggests). I would like your take on how I'm approaching it. What works best, discussion in this issue, or a work-in-progress PR, or ...?
Here is the first pass on Add-VSTeamWorkItemLink: https://github.com/AlanMcBee/vsteam/blob/master/.docs/Add-VSTeamWorkItemLink.md

[2020-06-19 17:11] SebastianSchuetze commented on #334
@tgossler it seems to me that there is an issue for this and it does not seem to be a problem of the module, but the API. But I will check more

https://developercommunity.visualstudio.com/content/problem/547038/selected-version-azure-devops-services-rest-api-fo.html

[2020-06-19 17:45] SebastianSchuetze commented on #334
I checked a bit more and something is mixed up in your requirements.

You said in expected behaviour that a project should be created, but the API you are using is for working with repositories and forks.

https://docs.microsoft.com/en-us/rest/api/azure/devops/git/repositories/create?view=azure-devops-rest-5.1#examples

In case you meant repository then also there is not an example that uses the n

[2020-06-19 17:46] #334 closed

[2020-06-19 17:53] SebastianSchuetze commented on #331
Hi same for me @Alexlofern . It works for me as well and I have multiple projects with multiple teams:

PS F:\repos\PR_github\vsteam\333> Get-VSTeamInfo

[code]

[2020-06-19 17:59] SebastianSchuetze commented on #331
I even tried to remove myself from the My Test project from all permission groups and teams. Still shows up as a global admin.

[2020-06-20 07:20] SebastianSchuetze commented on #326
I took a look and I can confirm the it is an encoding problem. Gonna fix it now.

[2020-06-20 17:56] SebastianSchuetze commented on #326
fixing took a bit longer since I also implemented integration tests for this cmdlet. But PR is checked now and should go through.

[2020-06-22 10:10] tgossler commented on #334
Hi,

you are right, I meant creating repos not projects.

I have tested this but it seems not to work. Do you seen an error in my code (see screenshot)?

- Thomas

[cid:image003.jpg@01D6488E.11A9B9A0]

From: Sebastian Schütze <notifications@github.com>
Sent: Friday, June 19, 2020 7:47 PM
To: DarqueWarrior/vsteam <vsteam@noreply.github.com>
Cc: Gossler, Thomas (SHS DI DH TP PL) <thomas.gossler@siem

[2020-06-23 10:32] SebastianSchuetze commented on #334
@tgossler there is no screenshot added. Answering via mail is not the best option when answering GitHub issues. Could you add your screenshot or the code you used?

[2020-06-24 10:49] tgossler commented on #334
Sorry, I have added the screenshot above.

[2020-07-01 17:10] SebastianSchuetze commented on #228
Looks good to me!
One thing only is, that you do not need to write the syntax. It will be generated on build time. Also for the parameter description, which are pretty good. I don't know how the formatting will look like with running

[code]

if it looks good there, then it is fine to me. The best way would be to look at other help files and how it is done there. If you add more details and descri

[2020-07-02 18:11] SebastianSchuetze commented on #331
@Alexlofern I gonna close this for now. If you can reproduce this with a different tenant so that we can see it, then we can investigate more. Up until now, we have not enough info to investigate more.

[2020-07-02 18:11] #331 closed

[2020-07-02 18:16] SebastianSchuetze commented on #136
Thanks for the idea @Alexlofern and @dossen. This module is merely a wrapper for the API. Adding higher abstraction to add value to the module is not the scope of this module. But we have plans to make use of this. I am adding an extra label to not loose this idea!

[2020-07-02 18:16] #136 closed

[2020-07-02 18:17] SebastianSchuetze commented on #168
Thanks for the idea @Rincey . This module is merely a wrapper for the API. Adding higher abstraction to add value to the module is not the scope of this module. But we have plans to make use of this. I am adding an extra label to not lose this idea!

[2020-07-02 18:17] #168 closed

[2020-07-02 19:51] okamilobo opened #337 "Get-VSTeamAgent doesn't return the ID of the agents"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
A list of the agents registered in the pool with all of the columns including Id populated with values.

Actual behavior
---------------
A list of the agents registered in the pool with all of the columns populated with values EXCEPT Id .

Environment data
----------------
OS
- [ ] Windows 10 Enterprise Version 1903

[2020-07-02 19:59] okamilobo commented on #337
![No Id](https://user-images.githubusercontent.com/7999246/86404089-92012c00-bc74-11ea-80a9-ff3985938562.png)

[2020-07-03 05:37] SebastianSchuetze commented on #337
Thanks! We will check.

[2020-07-05 10:47] SebastianSchuetze commented on #198
@colindembovsky and @richardgavel do this problem still exist for you? I have tested it with both types of build definitions. But I don't have that problem.

Maybe it has been fixed because of another change in the API or with the code. But I cannot find for sure. It would help if you can try to reproduce it again.
Maybe it is a certain configuration that must exist on the build definitions to tri

[2020-07-05 17:08] AlanMcBee commented on #228
I am actively working on this issue, btw. Would you like to change the status from 'help wanted' ? Or do you need a PR first, even if it's WIP / incomplete?

[2020-07-05 18:11] SebastianSchuetze commented on #228
Just commit when you think it's ready. The pipeline are running first anyways and then you know better if your code is good enough :D.

[2020-07-06 23:16] klabranche opened #339 "Are YAML build pipelines updateable with Update-VSTeamBuildDefinition?"
I have a yaml based build in my repository.  We want to change the name of the build pipeline using Update-VSTeamBuildDefinition.

Steps to reproduce
------------------

[code]

As an extra test, I saved the $buildJson result as a file and tried to import a build pipeline and got a different error.  I'm thinking yaml based CI builds at this point aren't really supported for automation like this...

[2020-07-07 15:12] SebastianSchuetze commented on #218
Working on this now. I will start with adding, updating and removing agent pools.

[2020-07-07 15:42] klabranche commented on #339
Further Research:

I was able to use the Get Build Definition API and Put to update the YAML builds Name.

I used Postman to get the build definition for a YAML based build Pipeline and compared it to what `Get-VSTeamBuildDefinition -ProjectName TeamProject -id $buildDefMeta.ID -Raw` returns and found that `Get-VSTeamBuildDefinition` is missing the process section:

[code]
I can only assume then t

[2020-07-07 18:37] SebastianSchuetze commented on #339
Thanks for the research. Do you think you feel comfortable enough to make a PR and try to fix it? Otherwise, I can try but I can't promise when.

[2020-07-07 19:50] klabranche commented on #339
I would love to if I can find some time... :-)  Thanks for the quick response!

[2020-07-14 19:45] klabranche commented on #339
So I've been spelunking the code to understand it.  I've come across something I'm not sure I fully understand...  The VSTeamVersions class have versions for the areas of api calls.  It also have a version that if not set defaults to TFS2017.  I see where I am to set this if I am running integration tests but not elsewhere.  So It appears to me that when I call Get-VSTeamBuildDefinition it ends up

[2020-07-14 19:54] SebastianSchuetze commented on #339
Thanks for the research. Even if it is confusing for you, I think you are on the right track. Have you tried setting the version manually with the cmdlet Set-VSTeamAPIVersion? Is not this is the place where you can set the version. Usually, I would expect that the correct version is set when you configure the account with the PAT.

https://github.com/MethodsAndPractices/vsteam/blob/master/.docs/Se

[2020-07-14 20:27] klabranche commented on #339
So I Set-VSTEAMAPIVersion to AzD2019 and the calls appear to ignore it which is what I thought I was seeing in the private function calls....  It calls the 3.0 api.  I confirmed again with Fiddler.

As an aside, are we supposed to set the version?  I am on prem so I used -UseWindowsAuthentication in the Set-VSTeamAccount.

I did also use a PAT and got the same result.  3.0 api is called.

[2020-07-14 20:32] SebastianSchuetze commented on #339
Interesting. Let me at least add @DarqueWarrior if he has a clue out of the blue. Of not I gonna research this as well.

[2020-07-14 21:16] klabranche commented on #339
Ugh... So, I believe I found two issues.  One that was MY BOX and one that is documentation lacking maybe?

My box had several versions of VSTeam including a really old one.  It seems that I was running the older one which I didn't expect but once I uninstalled it I was able to get things working.

Sooooooo soooooo sorry.  Now, with that out of the way:

I still had to Set-VSTEAMApiVersion which I

[2020-07-14 21:55] SebastianSchuetze commented on #339
Thanks for all the research. The documentation exists at https://github.com/MethodsAndPractices/vsteam/blob/master/docs/Set-VSTeamAPIVersion.md.

But maybe the default API version for Azure DevOps Server 2019 should be updated for the default. I am not sure if that is already done and not working properly or if it is really outdated.

[2020-07-14 22:02] klabranche commented on #339
I more mean, as I learned about this module and worked to use it as a consumer I didn't have anything that said First set your team account via Set-VSTeamAccount and the set your API level via Set-VSTeamApiVersion THEN call all other APIs.  The first actually happens by getting a helpful error making a call to any API and you haven't set Team Account yet.  You don't have anywhere from what I see t

[2020-07-15 10:30] SebastianSchuetze commented on #339
ok, then I gonna close this issue and consider your suggestions!

[2020-07-15 10:30] #339 closed

[2020-07-15 14:10] klabranche commented on #339
I can update the main readme.md for this and I thinking of having a reusable section for all the help called Prerequisites and adding in the set team as a must and then consider set default project, set api version and set api timeout in this section.

Good/bad/thoughts?

[2020-07-15 15:36] klabranche commented on #339
Something like:

![sample-doc](https://user-images.githubusercontent.com/1045379/87565265-42f4c700-c676-11ea-98a9-1737fbc3480a.png)

[2020-07-15 18:06] SebastianSchuetze commented on #339
Yes please make a PR for the docs. Good idea. About the extend or how much we will see when you wrote it. Anything that makes it clearer is good.

And for the notes. Check also to build the module and if it is rendered correctly for the PS module help (Get-Help) cmdlet. These docs are not just markdown but also the basis for the integrated PS help.

[2020-07-15 22:22] klabranche commented on #339
It does render correctly only after removing the markdown links from what I can tell  but only when calling `get-help add-vsteam -full`  for example.  Notes are only displayed with the `-full` parameter....

Is there a way to keep the links in their for the non ps (Get-Help) route.  Like Related Links in the Get-Help route don't show the markdown link....?

[2020-07-15 23:17] klabranche commented on #339
I cleaned up notes to play nice in `get-help`.

I also added to the related functions the four calls one would want to consider.  I did this since notes only show when one calls `get-help` with the `-full` parameter.  I want anyone running get-help without full to see those functions as a way to draw attention to these calls as truly related.  I would hope then that someone might actually go look

[2020-07-16 05:05] SebastianSchuetze commented on #339
Looks good and no need to wait for a PR until it's perfect. You can just PR this and we take the discussion from there. Collaboration on PRs is much easier than with screenshots. ☺️

[2020-07-21 13:40] wybaugh opened #345 "Error running Add-VSTeamWorkItem in version 6.5.0"
Hey guys,

I'm receiving the following error when attempting to create a PBI:

[code]

Steps to reproduce
------------------
[code]
Expanded:
[code]

Expected behavior
-----------------

This works under 6.4.6 with no error

Actual behavior
---------------
[code]

Environment data
----------------

OS

- [ ] macOS
- [X] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [X] Azure DevOps

[2020-07-21 14:42] SebastianSchuetze commented on #345
I edited you post for the code. Could you please make sure that you use code markup for readability? Thanks!

Is the "Product Backlog Item" a custom work item type?

[2020-07-21 14:48] wybaugh commented on #345
Hi Sebastian.  I don't think it is a custom work item.  'Product Backlog Item' is a tab complete parameter option of the workitem type in VSTeam.

[2020-07-28 15:23] DarqueWarrior commented on #345
Testing now.

[2020-07-28 15:27] DarqueWarrior commented on #345
I was able to duplicate. I will work on a fix now. Thanks for reporting this. I will also add some integration tests around this.

[2020-07-28 15:28] wybaugh commented on #345
Awesome!  Thank you and thank you for an awesome module!

[2020-07-28 20:48] DarqueWarrior commented on #345
A work-around until I get this changed pushed is to not set the default project and just pass it in. There is a WorkItem Type Validator that is kicking when you have a default project.

[2020-07-29 00:28] DarqueWarrior commented on #337
Looking at it now.

[2020-07-29 00:29] DarqueWarrior commented on #337
will be fixed in 6.5.1. Thanks so much for reporting this.

[2020-07-29 00:57] DarqueWarrior commented on #198
I just tested today with both builds in the same project and it is working as expected.

[2020-07-29 00:57] #198 closed

[2020-07-29 05:32] DarqueWarrior commented on #345
Fix will be in 6.5.1

[2020-07-29 05:32] #345 closed

[2020-07-29 05:32] DarqueWarrior commented on #337
Fix will be in 6.5.1

[2020-07-29 05:32] #337 closed

[2020-07-29 05:33] DarqueWarrior commented on #326
Fix will be in 6.5.1

[2020-07-29 05:33] #326 closed

[2020-08-10 11:12] SebastianSchuetze commented on #262
Currently the limitation of code coverage is a limitation due to Pester and PowerShell. So this cannot be improved currently without too much effort (parallelization of unit tests with agents and merging results).

We will see if we find something to improve in the future.

[2020-08-10 11:12] #262 closed

[2020-09-11 00:41] DarqueWarrior commented on #319
All classes are being moved to C#. The next version 7.0 will no longer have any PowerShell Class files.

[2020-09-11 00:41] #319 closed

[2020-09-11 00:51] #298 closed

[2020-09-11 00:53] #299 closed

[2020-09-11 09:20] jhoneill commented on #319
So you're going to take the logic for "using" out of mergefile ? The problem is the old logic finds false-positives and moves (e.g). a line from the middle of a comment block - which won't be valid syntactically.