[2020-09-11 12:40] japj opened #351 "Feature Request: Unlist (NuGet) package from feed"
I would like to unlist all versions of a NuGet package in the AzureDevOps Server feed.

It seems the web ui does this through PATCHing the "listed" to false in

https://docs.microsoft.com/en-us/rest/api/azure/devops/artifactspackagetypes/nuget/update%20package%20version?view=azure-devops-rest-5.1

However, since there are a lot of versions published for this package (and the web ui only unlists on

[2020-09-15 15:15] DarqueWarrior opened #352 "Updated users of new versions"
When a person is using old version of VSTeam notify them.

[2020-09-17 15:34] japj commented on #233
@SebastianSchuetze yes, the JSON files that are stored in the vsteam/unit/test/sampleFiles/ (and are used by the unit tests)

[2020-09-17 17:10] SebastianSchuetze commented on #233
They are basically just files returned from the API when making calls (GET, POST etc.). So you can make a call and just save the JSON. Most of the time sending JSON with a request is not happening so often.
Maybe you just want to make sure, that you replace sensitive info with syntactical correct fakes.

Does this help you?

[2020-09-17 22:44] DarqueWarrior commented on #233
If you want to see the raw JSON returned by a call you can do what I do to generate the sample files for unit test.

1. Call the desired function with -Verbose. This will show you the URL used to call the API.
[code]
2. Copy the URL and use the Invoke-VSTeamRequest function to call it.
[code]

[2020-09-23 13:45] mortenlerudjordet opened #353 "[bug] Get-VSTeamBuild throws a "NullReferenceException" on 7.0.0 runing in AzDo hosted agent"
Using 7.0.0 on a AzDo hosted agent running windows-latest (and vs2017-win2016) image Get-VSTeamBuild always crashes in an unhandled exception.
Downgrading to 6.5.1 and the error goes away.

I have only managed to get the crash debugging locally one time on 7.1(p7). Have tried both 7.1 and 7.0.3 without managing to reproduce locally.

In addition I see that the object structure have changed in the

[2020-09-23 14:05] mortenlerudjordet commented on #353
Managed to get a debug again:
![image](https://user-images.githubusercontent.com/10818066/94022986-f801d900-fdb5-11ea-9270-5dd9d85b55f2.png)

When working $obj contains 3 entries, as you can see here it is now empty.

![image](https://user-images.githubusercontent.com/10818066/94023255-4ca55400-fdb6-11ea-9b4a-e03f6164a668.png)
Now it crashes right after executing the highlighted code.

![image](ht

[2020-09-23 14:08] mortenlerudjordet commented on #353
Another strong clue is that $ref seems to contain only a HTML dump. Can see AzDO Sign in page at the top of this.

[2020-09-23 14:45] SebastianSchuetze commented on #353
Can you reproduce it on any project or another Org? Also stupid question: Your PAT has the right scopes?

[2020-09-23 14:52] mortenlerudjordet commented on #353
@SebastianSchuetze : Yes run it on two different AzDo orgs... it's not using PAT but System.AccessToken of the hosted agent.

My testing is done with PAT locally and 19 of 20 times there is no problem.
I had to run debug many times to get one that would crash, though on azure devops hosted agent it crashes each run.

[2020-09-23 14:59] SebastianSchuetze commented on #353
I guess it is the cleaner fresh environment on the agent that makes it more "stable" or reproducable. Which is good. Because it works on your (dev) machine. 😄

[2020-09-23 15:02] mortenlerudjordet commented on #353
From using previous module version with same code:
![image](https://user-images.githubusercontent.com/10818066/94030859-92feb100-fdbe-11ea-93a4-4c047001cba1.png)

[2020-09-23 15:07] DarqueWarrior commented on #353
Thanks so much for taking the time to report. So sorry for the trouble. I will resurface triggerInfo for you and start working on a fix.

[2020-09-23 15:21] DarqueWarrior commented on #353
I noticed that Trigger info is an empty object on all my tests. What were you expecting to find?

[2020-09-23 15:28] mortenlerudjordet commented on #353
@DarqueWarrior : It's a feature of multi-repo trigger support in YAML build.
At the moment the internal build variables are not populating with the repo and branch info of the triggering (CI) pull/merge request.

https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/multi-repo-checkout?view=azure-devops

So I had to write code to fetch TriggerInfo on my own, and then write custom git check

[2020-09-23 15:31] DarqueWarrior commented on #353
Ah! Good to know you are using YAML. I am using classic for my testing and it is still failing but I will test with YAML as well. That might populate the triggerInfo so I can test that as well.

Good news I am able to duplicate.

[2020-09-23 15:37] mortenlerudjordet commented on #353
I have been using this on 6.5.1 in production for some time. With TriggerInfo and all.
So we went from 20 separate build configs, down to one using multi-repo CI triggers.

Excellent you managed to reproduce.

Example from build YAML:
[code]

[2020-09-23 16:14] DarqueWarrior commented on #353
I think I found the crash. The Queue is not set while the build is in progress.

[2020-09-23 17:09] DarqueWarrior commented on #353
The fix is running through the pipeline now.  Will merge and publish as soon as everything is green. Thanks again for reporting this.

[2020-09-23 17:13] DarqueWarrior commented on #353
Fixed in 7.0.1 which is rolling out now.

[2020-09-23 17:13] #353 closed

[2020-09-23 20:13] DarqueWarrior commented on #353
Hey, @mortenlerudjordet  7.0.1 is now live. Let me know if that fixed your issue for you.

[2020-09-24 05:18] mortenlerudjordet commented on #353
@DarqueWarrior : No more crashes in my dev env...so seems good to go.
Thanks for fixing the issue this fast.

Also exposing TriggerInfo in the original way.

[2020-09-25 22:41] DarqueWarrior commented on #351
To take advantage of this function don't we have to also add a function to list all the current versions of a package as well? Something like this?

[code]

Or were you seeing this a different way?

[2020-09-26 23:40] DarqueWarrior commented on #351
I added Get-VSTeamPackage. From there you can pass -includeAllVersions and get every version of a package. I will also be adding Get-VSTeamPackageVersion to make that a little easier. I think there will be a whole collection of related VSTeamPackage functions coming. Each in a separate PR. I was not going release a version until you see value. Let me know when you see a version you would want push

[2020-09-29 22:43] DarqueWarrior commented on #351
I will be working on the final function Update-VSTeamPackageVersion this weekend.

[2020-10-02 13:35] DarqueWarrior commented on #351
Functions are in 7.1.0

[2020-10-02 13:35] #351 closed

[2020-10-02 19:48] DarqueWarrior commented on #288
The Path part seems like it could be tricky. The rest seems pretty straightforward

[2020-10-05 08:59] jhoneill opened #360 "Build-Module.ps1 -runTests Requires machine to be US culture."
Steps to reproduce
------------------
On a machine which is **not** set up for US-style (least significant centralized)  date ,  create a clean directory
[code]

Expected behavior
-----------------
Build completes with only status / susccess messages.

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [X] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ]

[2020-10-08 15:58] shazaman23 opened #363 "Project Won't Validate"
In an org that has more than 100 projects, if your project doesn't show up in the first 100 results of Get-VsTeamProject, commands that use a project parameter fail with the error `Cannot validate argument on parameter 'Project'. 'myproject' is invalid`

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment

[2020-10-08 16:00] shazaman23 commented on #363
Just a comment on this, in the example provided you should **not** be able to see `myproject` in the results if you run `Get-VsTeamProject` but you **do** see `myproject` in the results if you run `Get-VsTeamProject -top 500`

[2020-10-09 09:06] SebastianSchuetze commented on #363
Thx @shazaman23. Just to clarify, you are saying that without using the `top` parameter you expect that there is a better error message?

Can you clarify your expected behavior a bit?

[2020-10-09 16:40] jeffmorrell commented on #363
I'm having this issue on several of the cmdlets. It seems anything that is trying to validate the projectName if it is not listed within the first 100 results.

The following command is an example of this behavior, which worked as expected in the 6.5.1 version of the module.
[code]

[2020-10-09 16:47] jeffmorrell commented on #363
Possibly is related to the InternalCache not caching all of the projects?

https://github.com/MethodsAndPractices/vsteam/blob/trunk/Source/Classes/Cache/InternalCache.cs#L61

[2020-10-09 17:44] shazaman23 commented on #363
Right. As @morrell mentioned, it is occurring on any command that takes the project name as a parameter. I can pass the top flag to the Get-VsTeamProject to return enough results to see my project, but when I run Set-VSTeamDefaultProject it says that I am using an invalid project name. I believe this is because the module is only caching the top 100 projects and using those to validate the project

[2020-10-13 09:41] jhoneill commented on #363
The quickest  short term fix is to edit  vsteam.functions.ps1 , search for the line
`function Get-VSteamProject`
and about 8 lines below that change
`$top = 100` to a big enough number to get all the projects. Save and reload.

@DarqueWarrior  can make a call at a later point on the value of `Get-VSteamProject` only returning _some_ projects _byDefault_, IMHO it should be _all_ by default and page

[2020-10-13 11:29] jhoneill opened #365 "Error accessing [vsteam_lib.QueryCache]"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
List of queries

Actual behavior
---------------

[code]

I think this code
[code]
will always cause that error.  This works.
[code]

[2020-10-13 21:30] shazaman23 commented on #363
I am also able to resolve this momentarily by importing the version 6.5.1 of the module (where this was still working). But we may want to use the latest version soon so I was hoping this issue could be resolved without running a custom build of the module.

[2020-10-15 14:53] DarqueWarrior commented on #363
I will be working on this soon. Thanks for the detailed issue.

[2020-10-15 15:27] DarqueWarrior commented on #363
Another solution that does not require changing any code is to set a default value for Top.

[code]

This will pass 500 to Top.

[2020-10-15 22:25] #365 closed, assigned to nobody

[2020-10-16 10:48] jhoneill opened #369 "Mock appears to be broken in Add-VSTeamProject.Tests.ps1"
Steps to reproduce
------------------

Sync with trunk, and confirm

[code]
In a clean PowerShell session (I'm on 7.0.3)
[code]

Expected behavior
-----------------
Success

Actual behavior
---------------

[code]

Past experience says `The format of value 'Module/ (Windows) PowerShell/7.0.3' is invalid.`   happens when a call which should be mocked makes it all the way through to `Invoke-RestMeth

[2020-10-18 16:33] SebastianSchuetze opened #372 "Flaky Error in Windows Build"
Steps to reproduce
------------------

run the build pipeline and sometimes an error comes up on the windows build

Expected behavior
-----------------

no error

Actual behavior
---------------

It sometimes comes and I just rerun the job and then it's gone. Maybe a race condition?

The error can be seen here:
https://loecda.visualstudio.com/Team%20Module/_build/results?buildId=2372&view=logs&j=d

[2020-10-18 16:40] SebastianSchuetze commented on #372
Just as an example from PR #371 where I had to rerun two times until it worked:
https://loecda.visualstudio.com/Team%20Module/_build/results?buildId=2372&view=logs&j=2262dbd3-805d-5baf-c4b2-376411e7dee0&t=4d211eee-0186-5826-0432-824364fe4517&l=52

[2020-10-19 13:02] jhoneill commented on #369
Line 21 of the tests file.
 `$Uri -like "*`$top=100*" -and`
Top is no longer set to fix #363

Lines20 -24 of the test work if they're changed to this
[code]

[2020-10-21 10:20] jhoneill commented on #372
It's bizarre - I'm seeing it as well I can't re-trigger builds without make a change! I don't know if control returns to PowerShell before .NET has finished writing the files, but there's no build error and the file says it isn't there.

[2020-11-09 10:10] ghvanderweg opened #373 "Get-VSTeamProject (and the cache) still only returns the top 100 by default"
It seems to me that #363 wasn't fixed in #367.

Get-VSTeamProject still only returns the first 100 projects, and only those projects are saved in the cache.

Adding `Top` to the `PSDefaultParameterValues` helps with calling Get-VSTeamProject, but it doesn't increase the cache size. Trying to get a project by name that's not in the first 100 projects still fails validation.

Steps to reproduce
----

[2020-11-09 16:48] SebastianSchuetze commented on #373
thanks! We are checking this.

[2020-11-16 17:49] DarqueWarrior commented on #373
I think I tested this on Azure DevOps Server. Let me see if the service behaves differently.

[2020-11-30 02:33] glennsarti opened #376 "Possible typo in parameter name `<Name>vsteam_lib.roject</Name>`"
When running a script to output work items I saw this

[code]

`vsteam_lib.rojec`  seems like a typo.

And indeed it really does look like a typo:

https://github.com/MethodsAndPractices/vsteam/blob/280a320f750215386743063fb0e8c8e8ff32c377/Source/types/vsteam_lib.WorkItem.ps1xml#L31

Steps to reproduce
------------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [x] Windows
- [

[2020-12-01 03:39] DarqueWarrior commented on #373
I finally had time to test on Azure DevOps Services. It returns 100 even if you don't pass the top parameter.

[2020-12-02 18:57] DarqueWarrior commented on #373
It is also odd because the 100 it returns is not always the same.

[2020-12-02 19:07] DarqueWarrior commented on #373
To get more than 100 back you have to set the Top parameter. I think I will add a function that makes setting and clearing that easier than having to use PSDefaultParameterValues.  So users with more than 100 projects are going to have to called Set-VSTeamDefaultProjectCount. I will also make it sticky like the default project so if you start a new session you don't have to call it again once you

[2020-12-22 22:29] khushboo6 commented on #143
-SkipPublisherCheck worked for me even with version1.0.0.1. thanks!

[2021-01-11 10:13] DanielSSilva opened #378 "Update-VSTeamPullRequest - Cannot set status to "completed""
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [X] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [ ] Azure DevOps Server
- [X] Azure DevOps Service

[code]

[code]

Note: I can abandon a PR, but I cannot mark it as "completed". I've tried to look

[2021-01-11 16:15] DanielSSilva commented on #378
After a long time of debugging, I've found the issue and a solution.
Update-VSTeamPullRequest performs a PATCH request, where only the property being changed is sent. This is true for most cases, but it seems that when the status is "completed", it's different.
Making the request on the Azure DevOps website, and using the developer console, I've found that the "complete" is a PATCH request that se

[2021-01-12 14:42] richardgavel opened #379 "Support project specific artifacts feeds"
The various artifacts related Cmdlets should support an optional -ProjectName property to support project specific feeds

Add-VSTeamFeed
Get-VSTeamFeed
Remove-VSTeamFeed
Show-VSTeamFeed

Get-VSTeamPackage
Get-VSTeamPackageVersion
...

[2021-02-20 21:34] #378 closed, assigned to nobody

[2021-02-28 00:24] DarqueWarrior commented on #376
Thanks for the report.

[2021-02-28 03:18] DarqueWarrior commented on #376
PR is moving through pipeline

[2021-02-28 03:18] #376 closed, assigned to nobody

[2021-03-05 22:50] aspiringtfsguru opened #383 "Get-VSTeamBuildDefinition will not return definitions that DO NOT have an agent pool"
Steps to reproduce
------------------
If a build definition does not have an agent pool assigned (it can happen), those definitions will not get returned.

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [x] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [ ] Azure DevOps Server
- [x] Az

[2021-03-05 23:09] aspiringtfsguru commented on #383
Here is an example snippet of a build definition that gets return and one that does not.

This build definition has an agent pool that is not null and it gets returned:
[code]

This build definition has an agent pool that IS null and it does not get returned:
[code]

EDIT: Had a typo that needed fixing.

[2021-03-05 23:49] aspiringtfsguru commented on #383
Now that I think about it, I should probably just catch that on my side.

[2021-03-05 23:49] #383 closed, assigned to nobody

[2021-03-06 17:05] SebastianSchuetze commented on #383
The question actually is when this comes actually up?

Is it only when you create a pipeline with the json, the API or over the GUI.

In the case of the latter, I could imagine the this should return it.

[2021-03-07 21:19] SebastianSchuetze commented on #218
I started implementing the following things and want them to be merged first

* delete
* add
* update

Agent pools and their basic settings like auto-provision, description, name, auto-update

[2021-03-14 18:15] SebastianSchuetze commented on #218
@rwaal you might want to check the connected PR to see if that fulfils your request.

[2021-03-25 02:25] Rincey opened #388 "Get-VSTeamUserEntitlement only returns 96 results"
Steps to reproduce
------------------

[code]

Expected behaviour
-----------------

[code]

Actual behaviour
---------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [x] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [ ] Azure DevOps Server
- [x] Azure DevOps Service

Cannot get anything back for `$VSTeamVersionTable`
However:
[code]

[code]

[code]

[2021-03-27 08:46] PeterLefebvre commented on #363
looks more to be an issue with the parameter validation.
Even when specifying the top 500, if you add the -name parameter, the validation list that appears is seems still limited to 100

[2021-04-15 11:20] dariuszbz opened #390 "Update azure devops release definition variable with Update-VSTeamReleaseDefinition - removes variable from definition"
I'm running the below script (vsteam 7.1.3)

$PAT ="-----------------------------"

Set-VSTeamAccount -account "https://dev.azure.com/xxx" -PersonalAccessToken $PAT

$releaseDef = Get-VSTeamReleaseDefinition -ProjectName yyy -ID 2 -Raw

$releaseDef.variables.ImageName = "abcd/jsj/laa:222"

$body = $releaseDef  | ConvertTo-Json -Depth 100

Update-VSTeamReleaseDefinition -ProjectName LLCMS -ReleaseD

[2021-04-21 13:18] dariuszbz commented on #390
I use powershell and azure devops api., and it works.

[2021-04-22 03:54] DarqueWarrior commented on #390
If you run the command with -verbose it will dump data so you can compare what VSTeam is doing vs your code. Might help identify what is going on.

[2021-04-22 13:07] ebekker opened #391 "Getting details about other repos in a multi-repo pipeline?"
Is it possible to use VSTeam (or more generally, the ADO REST API) to obtain details about other repos that are defined and referenced in a multi-repo pipeline?

As per the [docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/resources?view=azure-devops&tabs=schema#resources-repositories), you can define additional repos in a YAML Pipeline which can then be pulled during a build.

[2021-04-26 09:31] #373 closed, assigned to nobody

[2021-04-28 13:48] SebastianSchuetze commented on #391
I am not sure. With Vs team you can do everything that is provided with the Azure DevOps API. But I believe since it is defined in the YAML itself you will be at maxim able to get info from the meta data of the pipeline run or the pipeline itself.
So if you check the API regarding the pipeline then maybe.

[2021-04-28 13:53] SebastianSchuetze commented on #391
just checked. Maybe with this API endpoint:

https://docs.microsoft.com/en-us/rest/api/azure/devops/pipelines/runs/get?view=azure-devops-rest-6.0#repositoryresource

You can use Invoke-VSTeamRequest

https://methodsandpractices.github.io/vsteam-docs/docs/modules/vsteam/commands/Invoke-VSTeamRequest

[2021-04-30 14:31] ebekker commented on #391
Thanks for the suggestion.  I dug around in the APIs and played with some tests.  Unfortunately, the API only returns the "self" repo, in which the pipeline definition is itself contained in.  The strange thing is that there is also a list of "links" in the response, and one of them is a "web" link for the information which returns the rendered HTML as in the sample image I sent above.  That rende

[2021-04-30 14:44] ebekker commented on #391
As short-term kludge, it looks like that HTML page does contain all the details of the run in a structured form as embedded meta data in JSON.  So I was able to extract out these bits from an embedded script section, convert it from JSON and query on it.  Thanks again for the tip!

[2021-04-30 21:54] AlanMcBee opened #392 "Get-VSTeamWiql with (resultset.Count modulus 200) == 1 throws ParameterBindingValidationException"
Steps to reproduce
------------------
Using:
- PS 7.1 (x64)
- VSTeam 7.2.0
- Azure DevOps Services Sprint 185+
- established profile/connection to organization

[code]

Expected behavior
-----------------
$workItem populated with work item with ID of 5000

Actual behavior
---------------
ParameterBindingValidationException thrown:

[code]

Environment data
----------------

OS

- [ ] macOS
- [x] W

[2021-05-01 10:28] SebastianSchuetze commented on #391
On you organization menu you should be able to get the link where you can report bugs, make suggestions and also ask question that is answered directly by the Azure DevOps product team:

![image](https://user-images.githubusercontent.com/7256168/116779704-2ba58f80-aa78-11eb-8891-79f8c7ad6897.png)

This is the feedback page:
https://developercommunity.visualstudio.com/home?space=21&stateGroup=activ

[2021-05-01 22:21] AlanMcBee commented on #392
Just to make it clear that this isn't just a one-off:

I discovered this bug when executing a query that normally returns many items. It just happened to return exactly one this time.

[2021-05-03 07:53] rikribbers commented on #218
Hi, nice to see this is going somewhere. Will this include support for VM scalesets as well?

[2021-05-03 14:58] SebastianSchuetze commented on #218
Probably not yet (I forgot what I implemented). The PR is waiting for Donovans Review. But it can be implemented afterwards.

[2021-05-03 15:03] SebastianSchuetze commented on #218
Just checked. It does not. Has to be implemented first. You wanna give it a try after merging this one?

[2021-05-05 15:55] ghost opened #393 "Ambiguity or bug in Update-VSTeamUserEntitlement"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

The license for the specified user should be updated. It can be updated by using the following format
[code]

Actual behavior
---------------

[code]
There's no detail in the get-help documentation for this particular cmdlet specifying any examples, other than to indicate that the combination of id and license shou

[2021-05-06 04:09] SebastianSchuetze commented on #393
just to clarify

* Call via pipe should work like suggested
* documentation should be clearer together with a pipe example

Is this correct?

[2021-05-06 08:05] ghost commented on #393
Apologies for being unclear.

* Calling via the pipe does work, but is undocumented
* Calling without the pipe but using just the Id of the user does not work and generates and error inconsistent with the documentation, as well as what you'd expect
* The documentation has now examples.

[2021-05-14 10:33] SuperJMN opened #394 "Test-VSTeamYamlPipeline does nothing"
I'm trying to do a test run of my local pipeline.

Using Postman, everything goes fine, as you can see here:

![image](https://user-images.githubusercontent.com/3109851/118258729-8a273080-b4b0-11eb-8662-71e53d2081c7.png)

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

I would expect a new run for my pipeline

Actual behavior
---------------

[code]

Environment

[2021-05-14 14:05] SebastianSchuetze commented on #394
thanks for posting

The cmdlet is not running a pipeline but it is testing the yaml code and returns errors if there are some. It is for checking yaml code without have to commit it.

[2021-05-14 14:08] SebastianSchuetze commented on #393
Gonna check this, when I find time. Thanks!

If you are willing to make a PR we would also be happy to review.

[2021-05-17 17:05] DarqueWarrior commented on #390
@dariuszbz please let us know if this is still an issue or if we can close.

[2021-05-17 17:08] DarqueWarrior commented on #394
Can we close this? It appears to be working as expected right?

[2021-05-17 18:17] dariuszbz commented on #390
Close. I use devops api now, and abandoned vsteam

On Mon, 17 May 2021, 18:06 Donovan Brown, ***@***.***> wrote:

[2021-05-18 03:32] #390 closed, assigned to nobody

[2021-05-18 07:02] SuperJMN commented on #394
In my opinion, the cmdlet should be a bit more explanatory when it comes to errors.

[2021-05-18 18:15] SebastianSchuetze commented on #394
What would you suggest to be more explanatory?

Better documentation?

The API itself does not return an error. So it seems that for the API it was fine.

For easier check could you paste the yaml code here that you made the call with so we can check the return value and also see if something can be improved?

We need the help of others to improve this as we do this in our spare time. Not a full t

[2021-06-04 08:14] mblaschke opened #395 "ServiceConnections: WARNING: Resulting JSON is truncated as serialization has exceeded the set depth of 2."
When more complex service connections are created/modified the json is truncated and so it's not fully working.

There are multiple `ConvertTo-Json` without depth and the default depth is only 2 which results in truncated body data.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

no warning :)

Actual behavior
---------------

[code]

Environment data
---------

[2021-06-04 21:40] SebastianSchuetze commented on #395
Thanks. Would you feel confident to correct the depth parameter in the cmdlet?

[2021-06-15 17:18] privatefunc opened #397 "Issue in Add-VSTeamWorkItem with non-english characters like german umlauts"
Exception occurs on Add-VSTeamWorkItem and Update-VSTeamWorkItem when non-english characters are in text fields like title or description. Is this an encoding problem or a problem with property validation?

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [X] Win

[2021-06-16 16:07] SebastianSchuetze commented on #397
Thanks for reporting!

[2021-06-24 13:58] #395 closed, assigned to nobody

[2021-06-25 13:09] #397 closed, assigned to SebastianSchuetze

[2021-06-25 13:10] SebastianSchuetze commented on #397
@privatefunc should be fixed now and go out with the next release

[2021-06-25 13:43] SebastianSchuetze commented on #394
@SuperJMN I checked your case again. Your POST man test is returning the same response as the cmdlet.
The cmdlet help is also helpful in explaining what it does.

If you are looking for starting a pipeline you always have to commit the YAML and then run the pipeline because the agent running the pipeline always has to have the code itself.

But I made a small effort to improve the help a bit and m

[2021-06-25 13:45] #394 closed, assigned to nobody

[2021-06-25 15:20] SebastianSchuetze commented on #393
@wembleyford: I have checked it and the parameter set is with the name "ByIdLicenseOnly" should make it possible to only use `id` and `license` but it still expects the parameter `LicensingSource`. Then it is working.

@DarqueWarrior or @smurawski I think something must be wrong with all the parameter sets. I have not enough knowledge maybe one of you know what could be wrong?

This is the cmdlet:

[2021-06-25 19:28] usepowershell commented on #393
@SebastianSchuetze  My guess (which should be confirmable with a Trace-Command watching for parameter binding) is that the engine can't differentiate between ByIdLicenseOnly and ByIdWithSource.

My suggestion would be that you don't need the two parameter sets - just a ById and make the behavior conditional on whether or not a Source was provided.  You may have similar challenges with the ByEmail

[2021-06-25 21:07] SebastianSchuetze commented on #393
makes completely sense. The set's looked too complicated to me anyways. Maybe I try to simplify without braking any existing scripts using this cmdlet.

[2021-06-26 12:25] SebastianSchuetze commented on #393
@smurawski would you be so kind to quickly check for me if you think the change would not break existing scripts using the cmdlet? I basically just merged parameter sets. By this at max one parameter is not mandatory anymore.

This is the PR #400

[2021-06-26 13:40] SebastianSchuetze commented on #392
@AlanMcBee I checked it yesterday and I can reproduce it. But not like you said with work items over 5000. This always comes up if you have an array of items where the count is a division of 200 and the remainder is 1.

This results in a case where the $beginRange = 0 and $endRange = 0, thus throwing the exception:

The line that can cause this is the following:
https://github.com/MethodsAndPracti

[2021-06-26 18:09] SebastianSchuetze commented on #391
gonna close this, as this can't be done with the module.

[2021-06-26 18:09] #391 closed, assigned to nobody

[2021-06-30 16:11] SebastianSchuetze opened #401 "Ubuntu Agent 16.04 will depricated end of september"
Following issue is stating that the agents will be depricated.

We should move at least to Ubuntu 18.04

https://github.com/actions/virtual-environments/issues/3287

[2021-07-01 17:54] AlanMcBee commented on #392
That's not what I thought I was saying. That 5000 value was the ID of the single work item that should have been returned by the query. It could have been any ID. It would not have to be a query for a work item by its ID (like I used in the repro); it could also be, as you discovered and stated, any query that returns a count where the modulus 200 of the count is equal to 1 (which includes a query

[2021-07-08 08:26] renekroll opened #402 "Reading YAML-Pipelines"
I would like to read YAML Pipelines via the module and it looks like that currently only the classic Build and Release Pipelines are supported.

I can find the YAML pipeline with:

[code]
Asking for pipeline runs:
[code]
When I explore the pipelineRuns result object I cannot find any information about the deployments to the environments in this pipeline.

Do you plan to add support for YAML Pipeli

[2021-07-08 18:50] SebastianSchuetze commented on #402
What do you mean by reading YAML pipelines? Getting the YAML itself or what would you like to see?

[2021-07-08 19:55] renekroll commented on #402
You can define the complete release process in a YAML File. For Example Deployment to Dev -> Test -> Stag -> UAT.

Our release process is written in YAML and executed as a Azure Devops Pipeline.
You can define Stages and deploy to a stage.

In the Azure Devops Services "Pipeline UI" a pipeline run looks like:

![Yaml](https://user-images.githubusercontent.com/38501755/124982257-c7361c00-e036-11eb-

[2021-07-09 13:16] ChrisGibson1982 opened #403 "Unable to use cmdlets when -UseWindowsAuthentication is used for Set-VSTeamAccount"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

Should return a list of projects

Actual behavior
---------------

Should return a list of projects, but almost every command comes up with the same error in PowerShell 7.  Windows PowerShell just doesn't return anything

Environment data
----------------

OS

- [ ] macOS
- [X ] Windows
- [ ] Linux

Server

- [ ] T

[2021-07-10 09:31] SebastianSchuetze commented on #402
@renekroll generally for sure. Two options. You try an implementation with same approach as any other cmdlet here and unit tests an with the PR we can polish and finish it.

Or you wait until we or somebody else is doing it. The latter one could take a while.

[2021-07-13 10:22] SebastianSchuetze opened #404 "Local Development and Testing causes Problems when published VSTeam module is installed on the same machine"
I noticed during development and running unit tests the you run into the following error:

[code]

In this case we talk about the generated dll. And it go clear to me why. For one, the installed and published module is imported when opening session. When I then build the module locally and during unit tests the built module is imported, then the above error comes up.

I think this is how we can so

[2021-07-13 10:26] #393 closed, assigned to nobody

[2021-07-13 10:34] SebastianSchuetze commented on #403
I see that you are using the module version TFS2017 for the API but you are saying you try to go against Azure DevOps Services. The parameter `UseWindowsAuthentication` is only working against on-premises installations of Azure DevOps or in this case TFS. It does not work with the SaaS solution.

So this is by design and not a bug. :-)

closing this issue.

[2021-07-13 10:34] #403 closed, assigned to nobody

[2021-07-13 21:08] #401 closed, assigned to nobody

[2021-07-19 19:53] getSurreal opened #407 "Update a Pull Request for Auto Complete"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
PR gets updated

Actual behavior
---------------
No error, but PR is not updated

Environment data
----------------

OS

- [ ] macOS
- [ ] Windows
- [x] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [x] Azure DevOps Server
- [ ] Azure DevOps Service

[code]

[code]

[2021-07-19 20:05] getSurreal commented on #407
I also tried to DisableAutoComplete after manually setting the auto complete.  It also did nothing after returning like it did something.

[2021-07-20 07:37] SebastianSchuetze commented on #407
Do the other options work? Is it only this flag which is not working?

[2021-07-21 15:20] getSurreal commented on #407
Setting to Draft and back to Active worked

[2021-07-29 07:55] ReneRebsdorf opened #409 "Documentation in README.md refers to a 404"
When accessing [this link](https://github.com/MethodsAndPractices/vsteam/blob/trunk/docs/readme.md)
we get a 404.
The link is used in :5 & :18 of the ./README.md file.

[2021-08-01 19:17] #392 closed, assigned to nobody

[2021-08-01 19:23] SebastianSchuetze commented on #409
Thanks. Updated the links

[2021-08-01 19:24] #409 closed, assigned to nobody

[2021-08-01 19:26] SebastianSchuetze commented on #360
looks like this has been fixed long ago. Gonna close this.

[2021-08-01 19:26] #360 closed, assigned to nobody

[2021-08-01 19:59] #369 closed, assigned to nobody

[2021-08-01 20:03] SebastianSchuetze commented on #363
I close this since with an earlier commit a new cmdlet was added that lets you set the default $top parameter number for projects.

[2021-08-01 20:03] #363 closed, assigned to nobody

[2021-08-01 20:09] SebastianSchuetze commented on #314
close this sice it should be fixed with PR #315

[2021-08-01 20:09] #314 closed

[2021-08-01 20:14] SebastianSchuetze commented on #228
@AlanMcBee  you had a [branch ](https://github.com/AlanMcBee/vsteam/tree/WorkItemLink-228) to work on this. Could you finish it? Or maybe do you just want to open the PR in draft to see if we can help to finish it?

[2021-08-01 20:59] SebastianSchuetze commented on #372
Didn't come up for a long time. Closing this for now. Maybe it has been fixed with another change.

[2021-08-01 20:59] #372 closed, assigned to nobody

[2021-08-01 23:50] CodeCharm commented on #228
@SebastianSchuetze Let me see what I can get completed by the end of the week (2020-08-08); I'll put in a PR (maybe in draft) by then. Is that acceptable?

[2021-08-03 16:12] SebastianSchuetze commented on #228
Yes of course. Maybe I can have a look and finish it. Thank you already!

[2021-08-05 12:12] JanuszNowak opened #412 "Get-VSTeamUser return only 500 users event if there is more, Filtering by Get-VSTeamUser | ? DisplayName also not finding existing user"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [x ] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [ ] Azure DevOps Server
- [ x] Azure DevOps Service

[code]

[code]

[2021-09-08 06:41] SebastianSchuetze commented on #407
Checking it today.

[2021-09-08 06:42] SebastianSchuetze commented on #228
@AlanMcBee @CodeCharm  could you publish the PR soon?

[2021-09-11 16:10] PeterLefebvre opened #415 "Project still won't validate when collection has 100+ projects"
issue 363 (https://github.com/MethodsAndPractices/vsteam/issues/363) has been closed recently, but it looks like the issue is not yet resolved.
Even with the proposed PSDefaultParameterValues["*.vsteam*:top"] = 500.

As @shazaman23 and @morrell mentioned, it looks like a the TeamProject validation list is limited to the first 100 projects.
Not only this happens with the Set-VSTeamDefaultProject, b

[2021-09-12 15:15] SebastianSchuetze commented on #407
Thanks. I checked it and it turns out this one is not implemented at all.

When updating the PR with an auto merge option the following object (with possible options in the values) is usually PATCHed:

[code]

But the cmdlet is only pushing the ´autoCompleteSetBy´ property and not the rest. But the commit Message and Merge strategy objects are a minimum that need to be added. So I will implement t

[2021-09-16 06:28] thahif opened #417 "Update-VSTeamUserEntitlement not working to update user acesslevel"
I am trying to update user accesslevel using below command and throws up an error.

Update-VSTeamUserEntitlement -Email xxxxxxxx@gmail.com -License express

Confirm
Are you sure you want to perform this action?
Performing the operation "Update user" on target "xxxxxxxxxx (xxxxxxxx@gmail.com)".
[Y] Yes  [A] Yes to All  [N] No  [L] No to All  [S] Suspend  [?] Help (default is "Y"): y
WARNING: The re

[2021-09-22 09:43] thahif commented on #417
Can someone acknowledge this issue?

[2021-09-24 07:40] PeterLefebvre commented on #415
Just discovered in the Release notes of 7.1.3  new functions to set and clear the DefaultProjectCount.
I have done the tests again using the Set-VSTeamDefaultProjectCount to 999 and all projects in my test can now be set as default (as from version 7.1.3).
[code]

[2021-09-24 07:40] #415 closed, assigned to nobody

[2021-09-24 08:07] SebastianSchuetze commented on #415
Thanks for checking yourself and closing it!

[2021-09-27 10:41] smholvoet opened #419 "No cmdlets to manage work item tags?"
Could it be the case that are currently no cmdlets to manage [work item tags](https://docs.microsoft.com/en-us/rest/api/azure/devops/wit/tags?view=azure-devops-rest-6.0)?

I've noticed the `Add/Get/Remove-VSTeamBuildTag` cmdlets, which are _build_ tags, not _work item_ tags.

I feel like this could be a useful addition. Can I go ahead and launch a PR for this one? 🤔

[2021-09-27 10:48] kilasuit commented on #419
@smholvoet if you are willing to put in a PR I am sure that it will be appreciated by the maintainers. Just be sure to read the [Contributing](https://github.com/MethodsAndPractices/vsteam/blob/trunk/.github/CONTRIBUTING.md) file before you start down this path.

[2021-09-27 20:56] SebastianSchuetze commented on #419
You don't need a new cmdlet. You can use the Add or Update work item cmdlet. The parameter additional fields allows you to fill any field (also custom) for a work item type.

Check the PR #190

[2021-09-28 08:36] smholvoet commented on #419
@SebastianSchuetze Alright, I did not notice that. However, I still think there's a gap tho:

- ✅  Add tags: could indeed be done via [`Update-VSTeamWorkItem`](https://methodsandpractices.github.io/vsteam-docs/docs/modules/vsteam/commands/Update-VSTeamWorkItem).
- 🟠Update tag: you can update a work item the same way you could update any other work item field, again through  [`Update-VSTeamWorkItem

[2021-09-28 08:47] SebastianSchuetze commented on #419
Could you suggest also the parameters you want to include so I can better understand how you want to implement it?

Otherwise go for it. Just asking you before you start scripting so you don't make something that we need to change later. 🙂

[2021-09-28 09:02] SebastianSchuetze commented on #419
To add something. It would be good if those cmdlets support changing a tag for one workitem (providing ID) or changing the tag for a whole project (providing the project).

The get could support organization, project or only workitem level. Depends on what is possible and make sense for you or withe the API.

Also try to reuse existing cmdlets in yours if possible and where it suits.

Additionally

[2021-09-30 13:21] japj opened #420 "Get-VSTeamBuild -Properties does not add extended property to build object?"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [x] Windows

Server

- [x] Azure DevOps Server 2020 Update 1

Team Module/7.4.0

[code]

[code]

[2021-10-04 08:54] asbiin opened #421 "Update-VSTeamNuGetPackageVersion is missing project path"
The `Update-VSTeamNuGetPackageVersion` cmdlet does not include the `project` in the api call.
See [microsoft documentation](
https://docs.microsoft.com/en-us/rest/api/azure/devops/artifactspackagetypes/nuget/update-package-version?view=azure-devops-rest-6.1): the template is
[code]

The `{project}` should be part of the API call, or we can see it is not included in
https://github.com/MethodsAndPra

[2021-10-10 12:54] SebastianSchuetze commented on #421
Question. Do you get an exception or not? Does this work for you?

I am asking because I tried e.g. Get-VSTeamFeed and the docs say also you need a project in the URL, but it works without:

[code]

[2021-10-10 18:16] SebastianSchuetze commented on #421
@asbiin I tested it and the cmdlet is not wrong, but also not complete. The current cmdlet can only update packages if they are an org wide feed. If it's a project feed then you need the project. I will change the cmdlet to support both.

[2021-10-10 18:36] SebastianSchuetze commented on #417
I can confirm it. Gonna look at it soon.

[2021-10-10 18:40] SebastianSchuetze commented on #412
@JanuszNowak hard to test for me. Any idea how I can invite more than 500 users on my own private Org to test this case?

[2021-10-10 20:40] asbiin commented on #421
@SebastianSchuetze YEs that's exactly he behavior. project feed have been introduced some months ago.
BTW I'm pretty sure `Update-VSTeamNuGetPackageVersion` is not the only cmdlet that has this problem, but I did not tested every cmdlet.

[2021-10-14 21:49] getSurreal commented on #407
Thanks for the update.  Looking forward to the fix!

[2021-10-22 14:05] sevaa opened #423 "Update Single Variable"
There is no cmdlet to update/create a single variable in a variable group. I'd like one, please. There is a task to get and save the whole group, but I'm after a one liner. This is not for me, this is for a community of users, so instructing them to write a multiline powershell script would not be elegant.

That said, a cmdlet like this would go against what seems to be the convention in this modu

[2021-10-22 14:18] SebastianSchuetze commented on #423
Hi @sevaa,

Third one is not a very good option when it comes to helping the community :-)

But a while ago we went away from only wrapping one API call. So we already have cmdlets the reuse more basic cmdlets of the same module. So I would suggest the same.

Make a cmdlet for every API call you need if it's not already existing and then make your e.g. `Update-VSTeamVariableGroupVariable`  (redund

[2021-10-22 14:19] SebastianSchuetze commented on #423
Btw. is this stated somewhere in text? If yes then I need to adjust that!

[2021-10-22 17:40] sevaa commented on #423
I don't think it's ever stated explicitly, but at least at some point, maybe early on, the guiding principle of this module's design seemed to be, well, exactly that.

Understood re: the rest, it's forking time :) I think it'd be a "Set"-type command, since I expect it to either add variable if one doesn't exist, or update the value if it does.

[2021-10-22 18:40] SebastianSchuetze commented on #423
Yes maybe and also setting a variable might be destructive. So, a `ShouldProcess` could be a good thing to do.

[2021-10-22 18:43] SebastianSchuetze opened #424 "Integration Tests are hanging = no releases possible currently"
There seems to be a problem with the Test Stage. Artifacts cannot be downloaded, and new release would be blocked. Working on it currently, but I don't exactly know what the problem is.

Example: https://loecda.visualstudio.com/Team%20Module/_build/results?buildId=2612&view=logs&j=05c5a9c3-2da3-52a6-f69b-c4ac425f9d8a&t=46d9c746-5393-5699-861f-09f1563ec7d5

Funny thing is. If I used the same script

[2021-10-22 20:24] #421 closed, assigned to SebastianSchuetze

[2021-10-23 00:10] sevaa commented on #423
Explain please.

[2021-10-23 08:40] SebastianSchuetze commented on #423
You can look at a code example here:
https://github.com/MethodsAndPractices/vsteam/blob/trunk/Source/Public/Set-VSTeamApproval.ps1

Any cmdlet using "Set" should implement the "ShouldProcess". Because "Set" is something like doing a setting. This is also activated when we run "PSScriptAnalyzer" which states this.

More Info:
* https://docs.microsoft.com/en-us/powershell/utility-modules/psscriptana

[2021-10-23 08:45] SebastianSchuetze commented on #421
Merged the code to fix it. So, it is closed. But currently we cannot release because of a bug in the pipeline can't figure out currently.

[2021-11-03 08:42] RubenOchando opened #425 "Invoke-RestMethod : The remote server returned an error: (401) Unauthorized."
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [ ] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [ ] Azure DevOps Server
- [ ] Azure DevOps Service

[code]

[code]

[2021-11-03 09:00] RubenOchando opened #426 "Invoke-RestMethod : The remote server returned an error: (401) Unauthorized.at ~\Modules\VSTeam\7.4.0\vsteam.functions.ps1:266"
Steps to reproduce
------------------
last month I complete this gist with possitive success
Security seems ok , https://docs.microsoft.com/en-us/azure/devops/pipelines/scripts/git-commands?view=azure-devops&tabs=yaml#allow-scripts-to-access-the-system-token
This week I get the error

Script
=========
Connect-AzAccount
Select-AzSubscription <Gui>
Get-module -name VSTeam
$PAT_test='somePersonaroken

[2021-11-03 11:54] thahif commented on #417
@SebastianSchuetze - any update here?

[2021-11-03 20:51] RubenOchando commented on #425
duplicate

[2021-11-03 20:51] #425 closed, assigned to nobody

[2021-11-04 08:44] SebastianSchuetze commented on #426
Hi, the gist does not contain any VSTeam cmdlets. Did you reference the wrong one?

Update: I also don't know what the gist and your referenced doc page has to do with this Module other that it's both for Azure DevOps.

[2021-11-04 14:50] RubenOchando commented on #426
Added part of the script that I am using

[2021-11-04 19:46] SebastianSchuetze commented on #426
On other question. You said it suddenly stopped working, even without update. I would be surprised if it is coming from the module.

Currently, I would expect that the PAT is changed or expired. Or the user the PAT is coming from does not have the permissions anymore.

Did you also check this?

[2021-11-05 04:51] SebastianSchuetze commented on #426
I tested the script myself and created test project and test release definition as well as running your other suggested cmdlets. It is working form me fine. So I can't reproduce it.

[code]

[2021-11-05 09:28] RubenOchando commented on #426
I have tested these commands

Not working
=========
Get-VSTeamSecurityNamespace
Get-VSTeamRelease
Get-VSTeamReleaseDefinition
Get-VSTeamPolicy
Get-VSTeamRelease

Working command
============
Get-VSTeamInfo

Name                           Value
----                           -----
Account                        https://dev.azure.com/XXXXXXXXXX
Version                        VSTS
DefaultProject
Modu

[2021-11-05 09:30] SebastianSchuetze commented on #417
Unfortunately not. Private life is stopping me from doing some wanted open source work.

But if you are comfortable to try to submit a PR that from yes the core bug, then I can look at it and and adjust so you t fits well the the rest of the code.

If you do just make sure I can edit your PR.

[2021-11-05 09:56] SebastianSchuetze commented on #426
Thanks, I have understood that. But unless I can't reproduce it I have to assume that it is not a problem with the Module. As you can see in the copied output, I never got an unauthorized error. This error usually leads to the a invalid PAT is provided or the permission of the user are insufficient.

That is the only thing I can say. I have tested it also with different tenants and users.

Unless

[2021-11-05 13:32] thahif commented on #417
With some help from stackoverflow community, I was able to get below update.
![image](https://user-images.githubusercontent.com/25587083/140518245-ae1dc6d7-8a8c-41f4-8ecb-30b310821bd2.png)

Will this help you out?

[2021-11-05 13:57] SebastianSchuetze commented on #417
it does

[2021-11-08 20:15] RubenOchando commented on #426
I will check with my security group, thanks for the assistance

[2021-11-08 20:15] #426 closed, assigned to nobody

[2021-11-15 07:57] thahif commented on #417
@SebastianSchuetze - any progress made here?

[2021-11-17 16:09] azafefo commented on #417
I waiting to resolve this issue too. Any progress?

[2021-11-17 20:42] SebastianSchuetze commented on #417
The bigger problem we have currently is the release pipeline. We can't release new packages properly without it and I have to find time to do it. But if you guys would be able make a simple PR you would help me a lot!

[2021-11-18 13:36] brittandeyoung commented on #424
I may be able to take a look at this. Is there a reason you are publishing the nuget package to a feed for this kind of testing instead of just using a pipeline artifact? @SebastianSchuetze

[2021-11-18 18:56] SebastianSchuetze commented on #424
It is @DarqueWarrior idea. The general idea was to simulate the PowerShell gallery installation with "Install-Module" it would be good to simulate that as well. We had at some point problems with some users when they installed it from PS Gallery and we wanted to test this to not deploy something that does not work.

We started even to migrate the pipeline to GitHub Actions. But in Github actions w

[2021-11-18 19:27] brittandeyoung commented on #424
I made the following PR to your pipeline hotfix branch: https://github.com/MethodsAndPractices/vsteam/pull/427

This migrates the installation of the module to use the artifact already in the pipeline. This will only affect the integration tests.

But now that I see you Would prefer to use a nuget feed for testing purposes. I will see what I can do on the `actions` branch. I will be able to do tes

[2021-11-18 21:21] SebastianSchuetze commented on #424
When you make a fork you should be able to run everything with your repo. You just need to recreate some of the resources like environments.
As far as it comes to the integration test you could just integrate those for the Cloud Version. But if you come as far as using a local nugget server feed that would already help.

[2021-11-19 12:47] hvl71 opened #428 "Test-VSTeamYamlPipeline fails if no pipeline runs on master/main exist"
Hi

We encounter an issue when trying to validate a yaml pipeline using the Test-VSTeamYamlPipeline cmdlet.

We run:
[code]

Result:
[code]

We see the behaviour on both versions we have tried (7.2.0 and 7.4.0)

We have observed that our PipelineId only has pipeline runs on our development branch. We have never run the pipeline on our master branch (we don't have a main branch).

If we validate th

[2021-11-20 20:59] brittandeyoung commented on #424
@SebastianSchuetze Here is as far as I am able to take it without spinning up an Azure DevOps organization. I Also had to resort to using a local Nuget feed as I did not have the credentials for the GitHub Project feed.

I also found the logic for setting the build number in the semantic version was appending this number instead of properly updating the existing build number. I fixed this to updat

[2021-11-22 06:28] thahif commented on #417
@SebastianSchuetze  -  I tried creating one, failed with below error.
![image](https://user-images.githubusercontent.com/25587083/142811066-da6177e5-b863-49b8-abec-268627dcef55.png)

[2021-11-22 10:18] SebastianSchuetze commented on #417
You need to fork the repository to your account, create a branch, make changes, create a PR bag to the "trunk" branch in this repo

works like explained in this article:
https://www.dataschool.io/how-to-contribute-on-github/

We dont give direct rights to our repo for contributor, because that could reduce quality.

[2021-11-23 05:11] thahif commented on #417
@SebastianSchuetze  - PR raised. https://github.com/MethodsAndPractices/vsteam/pull/430/

[2021-11-26 08:40] Shravanannavajjala-gep opened #431 "Need a powershell VSTeam Module script to edit the security permissions of both build and release pipelines"
Hi Support,

We need a powershell VSTeam Module script to edit the security permissions of both build and release pipelines at the project level.
Want to deny permissions of contributors in security tab in both build and release pipelines. Please find the attachment for reference. Looking forward for your response
![image](https://user-images.githubusercontent.com/65586620/143551909-bb75f995-2016-

[2021-11-26 08:59] SebastianSchuetze commented on #431
Hi.

Did you check the documentation?

This one is helping you:
https://methodsandpractices.github.io/vsteam-docs/docs/modules/vsteam/commands/Add-VSTeamBuildPermission

Be aware that you need additional script lines like getting the user or group you want to configure the permissions for.

[2021-11-26 09:04] Shravanannavajjala-gep commented on #431
Hi,

Can we deny the permissions for entire group instead of every build pipelines or release pipelines. For example in manage security tab we have contributor group, In that contributor group can we deny the permissions for both build and release pipelines in one project at one time

[2021-11-26 14:50] SebastianSchuetze commented on #431
First question yes: You can deny for the whole project for build / multi-staging pipelines

For release it is trickier because it is a different technology internally. There is not one command approach for this. If you read through the [API docs for permission](https://docs.microsoft.com/en-us/rest/api/azure/devops/security/?view=azure-devops-rest-6.0) and check the general corresponding cmdlets w

[2021-11-28 10:50] SebastianSchuetze commented on #424
@brittandeyoung thanks for your help again. I was able to run integration tests successfully. There where numerous bigs somewhere in the pipeline itself (before).

So really thank you for helping:
https://github.com/MethodsAndPractices/vsteam/actions/runs/1512473303

Another questionm. Do you have an idea to simplify the script? We are downloading the dependecies as well and I was thinking if we c

[2021-11-28 10:51] SebastianSchuetze commented on #424
![image](https://user-images.githubusercontent.com/7256168/143764825-2955b2ea-f111-43ac-bf7b-5c60a2e5a2fe.png)

Just have to publish to PS gallery now.

[2021-11-29 09:12] Shravanannavajjala-gep commented on #431
Hi @SebastianSchuetze,

can you guide me for understanding the permissions with ACS. If yes can we schedule a call ?

[2021-11-29 09:26] SebastianSchuetze commented on #431
No sorry. This is not possible. I am not doing this open source as part of my job. It is my private time mostly.

You will have to read through the documentation.

Sorry for that.

[2021-12-05 20:59] SebastianSchuetze commented on #431
I am going to close this. You can give it a try and send a sample script if you get stuck. But please use the discussions for this.

[2021-12-05 20:59] #431 closed, assigned to nobody

[2021-12-07 18:31] mnieto commented on #388
I my case, it returns always the same first 77 users.

PS> (Get-VSTeamUserEntitlement).Count
77
PS> (Get-VSTeamUserEntitlement -Top 1).Count
77
PS> (Get-VSTeamUserEntitlement -Top 1000).Count
77

I have 1539 users
VSTeam version 7.4.0
Checked in both Desktop and Core powershell versions

[code]

As side note: calling from Postman directly also returns the same 77 objects
`https://vsaex.dev.azure.c

[2021-12-07 19:51] SebastianSchuetze commented on #388
I think the wrong API version being used is the problem. Either the documentation or the API is wrong.

[2021-12-09 16:53] mnieto commented on #388
Thanks, changing
`Set-VSTeamAPIVersion -Service MemberEntitlementManagement -Version 5.1-preview.2`
it did the work

I think this is because the REST API changed some time from v5.1 to v6.0

- In 5.1 [Get User Entitlements](https://docs.microsoft.com/en-us/rest/api/azure/devops/memberentitlementmanagement/user-entitlements/get-user-entitlements?view=azure-devops-rest-5.1) used top and skip query p

[2021-12-09 18:04] SebastianSchuetze commented on #388
Thanks for verification. How would you suggest to update it without breaking earlier scripts? Any idea?

[2021-12-09 21:06] mnieto commented on #388
I think it's complicated to change the internal implementation keeping the current parameters
For the -top parameter: Use the continuation token to call the API up to get the -top n rows, return that n rows and keep the excding rows foreseing a next call
For the -skip parameter, Keep the status (the continuation token) between calls
I can't figure any update without saving some internal status bet

[2021-12-09 21:16] SebastianSchuetze commented on #388
Good idea thanks!

I will think about it. Otherwise we have to up the mayor version.

[2021-12-10 10:51] mnieto commented on #412
Please refer to https://docs.microsoft.com/en-us/rest/api/azure/devops/graph/users/list?view=azure-devops-rest-6.1
Since the list of users may be large, results are returned in pages of users. If there are more results than can be returned in a single page, the result set will contain a continuation token for retrieval of the next set of results.
By default a page will contain 500 users. The API r

[2021-12-14 15:05] saadisher39891 commented on #143
Hi Folks I need a help I am using docker pull mcr.microsoft.com/powershell:lts-nanoserver-ltsc2022
now I do docker run -it <container id >
I am in now if I try to install any thing I get
![image](https://user-images.githubusercontent.com/66755312/146023936-059b9191-4a57-4395-ae24-e90da28e343f.png)
^ The module 'DockerMsftProvider' cannot be installed or updated because the authenticode signature o

[2021-12-14 15:19] SebastianSchuetze commented on #143
I think you are in the wrong project. This is only about the VSTeam module.

If you have general questions I would recommend stack overflow.

[2021-12-22 20:00] mnieto commented on #388
I would like to propose this new syntax for the command. If you agree I can try to go to a PR

[code]

The first 2 entries are the current ones.
- The -id version `Parameterset("ByID")`  is supported by the 6.0 API
- Regarding to the -top -skip version `Parameterset("List")` is not supported in the last API version, so my proposal is to play with the  `_supportsMemberEntitlementManagement`  functi

[2022-01-09 21:52] #424 closed, assigned to SebastianSchuetze

[2022-01-10 22:11] #417 closed, assigned to SebastianSchuetze

[2022-01-11 22:53] SebastianSchuetze opened #436 "Doku: Rework the notes section to not show default related links in all cmdlets"
_Content of the issue has been copied from PR #418 by @smholvoet_

------

Another suggestion (which I have not yet pushed to my branch) is reworking the Notes section. I personally think it's very annoying seeing relevant cmdlets mentioned there, which are not clickable. Granted, they are mentioned a bit further down in the Related links section, but I think making the cmdlets clickable in the No

[2022-01-11 23:15] #419 closed, assigned to nobody

[2022-01-12 09:50] SebastianSchuetze commented on #428
Thanks for the report @hvl71 it checked it and it is per se not a bug with the cmdlet, but implemented incomplete in regards to the API.

Also documenting it for myself here. So, I had the following setup:
* repo with a `main` and a `dev` branch
* an azure pipeline exists pointing to a yaml file in the dev branch
* yaml file does not exist on main
* I run the cmdlet

Following error I get:
[code]

[2022-01-12 10:25] SebastianSchuetze commented on #428
I reported that problem to the support:
https://developercommunity.visualstudio.com/t/api-to-preview-pipeline-run-takes-non-existing-bra/1635377

[2022-01-12 16:55] #428 closed, assigned to nobody

[2022-01-12 22:34] SebastianSchuetze commented on #404
closing this in favor for other things. Not too important.

[2022-01-12 22:34] #404 closed, assigned to nobody

[2022-01-12 22:38] SebastianSchuetze opened #438 "❗❗📢 Removal of support of TFS 2017 and 2018 with VSTeam version 8.0.0"
The plan is the remove support TFS 2017 and 2018. We have no possibility to test this and is cluttering the code base. This is getting harder to manage.

With older version VSTeam can still be used or by setting the VSTeam API manually or using `Invoke-VSTeamRequest`.

It's not set yet when this will happen (few months probably). I will add a warning message with the next release that will be show

[2022-01-24 10:52] SebastianSchuetze commented on #388
@mnieto sorry for the silence. You can go with it and even change the parameters of the cmdlet if necessary. We will drop support of older on-premise versions anyways with version 8.0.

Ant regards to the change of the parameters. I would suggest that you make an extended explanation for the breaking change in the changelog.

As you suggested please check for the cmdlet itself what version we use.

[2022-01-24 10:54] SebastianSchuetze commented on #388
Btw. regarding the continuation token. There will be multiple API calls, where there are continuation tokens. If you see you can create an internal function that can be reused regarding those tokens then I would appreciate it.

Maybe future implementations could be easier.

[2022-01-25 16:11] SebastianSchuetze opened #441 "Add Get-VSTeamAadGroupMembers to the module"
Add the following API to the cmdlets:

https://stackoverflow.com/questions/65710580/cannot-find-aad-group-using-identities-ado-api/65715362#65715362

It allowed to query members of an AAD group within AzDO

Execute the below API to search and get the details of the AAD group you want to add.
Request URI:

`POST https://dev.azure.com/{organization}/_apis/IdentityPicker/Identities?api-version=5.0-pr

[2022-01-27 20:31] mnieto commented on #388
@SebastianSchuetze , working on it.
I have some doubts:
How do you think is the best way to return the ContinuationToken?

- I'm thinking to set a global variable (i..e $VSTeamContinuationToken) with the value returned by the API.
- Other way could be: Expose a new function i.e. Get-VSTeamContinuationToken -Token UserEntlitement, where the posible values for the Token parameter is a set of functio

[2022-01-28 16:23] mnieto commented on #388
- 3rd option: manage internaly the continuationToken, paging inside the Get-VSTeamUserEntitlement function, and return the complete list

[2022-01-28 16:43] sevaa opened #442 "Get-VSTeamVariableGroup by name throws error 404 with TFS 2020 u1.1"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
A group record

Actual behavior
---------------

Error message with a large HTML along the lines of "error 404"

Retrieval by ID works.

If you set the project by `Set-VSTeamDefaultProject`, same result.

Environment data
----------------

OS

- [ ] macOS
- [x] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2

[2022-01-29 19:40] SebastianSchuetze commented on #388
Hi @mnieto I would go for the third option for now. I think the continuation token complexity should be hidden as much as possible. We can expose this function later if really needed. However, I would suggest an optional parameter with something like "-MaxPages" (int) or similar which limits how much requests we do. So the user can decide if they want only 5 pages or all.

Default should be a sett

[2022-01-31 13:39] jackfruhecolab opened #443 "Set-VSTeamDefaultProject fails if project is beyond the first 100 projects"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [ x] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [ ] Azure DevOps Server
- [ x] Azure DevOps Service

$vstermverstiontable is empty

[code]

[code]

[2022-01-31 13:48] jackfruhecolab opened #444 "Add-VSTeamWorkItem fails if project is beyond the first 100 projects."
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

OS

- [ ] macOS
- [ x] Windows
- [ ] Linux

Server

- [ ] TFS 2017
- [ ] TFS 2018
- [ ] Azure DevOps Server
- [ x] Azure DevOps Service

$vstermverstiontable is empty

[code]

[code]

#Special Note:
I see a constant theme in the VST

[2022-02-01 09:04] SebastianSchuetze commented on #443
Hi @jackfruhecolab please try `Set-VSTeamDefaultProjectCount -Count 500` before calling any function that is using a project specific parameter.

[2022-02-01 09:05] SebastianSchuetze commented on #444
Hi @jackfruhecolab please try `Set-VSTeamDefaultProjectCount -Count 500` before calling any function that is using a project specific parameter.

It is not a bug. We try to prefill the project list when using the project parameter. And this is by default 100. So if you have more, then you need to set the new limit beforehand.

[2022-02-04 07:33] SebastianSchuetze commented on #444
Hi @jackfruhecolab does this hint fixes it for you? I would close it for now and also  the other one since it is the same solution.

If you still have problems you can comment on it and we will check again.

[2022-02-04 07:33] #444 closed, assigned to nobody

[2022-02-04 07:34] SebastianSchuetze commented on #443
See #444 for closing reason.

[2022-02-04 07:34] #443 closed, assigned to nobody

[2022-02-12 07:21] SebastianSchuetze opened #447 "Enhance manual change log to be generated automatically"
### Proposal

This is a good change log generator:
https://github.com/github-changelog-generator/github-changelog-generator#migrating-from-a-manual-changelog

### Solved Problem

To reduce maintenance workflow and push for better issue titles as well as PR titles those can be used to actually automate changelogs better and improve quality as well as steps to contribute.

### Additional info / code

[2022-02-18 10:44] VectorBCO opened #449 "Installation failed because 'SHiPS' module the authenticode signature is not valid."
### Steps to reproduce

[code]

### Expected behavior

I expected that module will be installed.

### Actual behavior?

Install-Package: The module 'SHiPS' cannot be installed or updated because the authenticode signature of the file 'SHiPS.psd1' is not valid.

### On Which OS have you tried it?

Windows

### What was your server version?

Azure DevOps Services

### Other server version

_No respo

[2022-02-18 10:58] AlexisHW commented on #143
ShiPS module is still incorrectly signed.
`-SkipPublisherCheck` still helps to ignore it's issue and install VSTeam module.

[2022-02-18 15:06] SebastianSchuetze commented on #449
Thanks for reporting. But I don't see how we can influence this. Any idea?

[2022-02-20 19:37] mnieto opened #450 "Runing tests on local fail some test, but running from Github actions not"
### Steps to reproduce

Running  last version (7.5.0) tests just after a git clone, fail 3 tests
[code]
Output:
[code]
The error for all 3 tests is very similar
[code]

But reproducing the same exact steps as defined in the GitHub actions
[code]
There is no error
[code]

### Expected behavior

Both ways of running test should be coherent. So runing tests on local while modifying code do not throw

[2022-02-21 15:40] SebastianSchuetze commented on #450
Interesting. Got the same problem.

[2022-02-21 16:00] SebastianSchuetze commented on #450
@mnieto can you checkout branch from PR #451 and confirm it works now?

[2022-02-21 16:03] SebastianSchuetze commented on #449
If you get an error the you can still use
[code]

closing it for now. As this is a problem with the SHiPS module. We had a look at it already: #298

[2022-02-21 16:05] #449 closed, assigned to nobody

[2022-02-21 16:08] VectorBCO commented on #449
my guess, that is not ok to just ignore the issue with adding skip
verification during installation process.
In this case could be faced security violation, with not progressed results

[2022-02-21 17:30] VectorBCO commented on #449
I have no idea who should fix this, but at least this issue should be reported to the proper team

[2022-02-21 21:26] mnieto commented on #450
Hi, thanks @SebastianSchuetze  for the quick response. Yes, now is working fine

[2022-02-21 21:51] SebastianSchuetze commented on #450
gonna merge this now

[2022-02-21 21:51] #450 closed, assigned to SebastianSchuetze

[2022-02-22 10:41] #436 closed, assigned to SebastianSchuetze

[2022-02-26 15:32] FH-Inway opened #455 "Error New-PSDrive : 404: Not Found when trying to mount account drive"
### Steps to reproduce

[code]

### Expected behavior

I expected that a drive for my account is mounted as described in https://methodsandpractices.github.io/vsteam-docs/docs/modules/vsteam/about/about_vsteam_provider.help/

### Actual behavior?

I had the following actual outcome:

[code]

From the `TargetObject` property of the `Get-Error` cmdlet, it seems that the issue is a call to https://ra

[2022-02-26 15:43] FH-Inway commented on #455
[moduleMessages.json](https://github.com/MethodsAndPractices/vsteam/blob/trunk/.github/moduleMessages.json) is referenced in https://github.com/MethodsAndPractices/vsteam/blob/682186de6d24e70dbddcbc4d720c620aac77567c/Source/Private/common.ps1#L1102

The correct link should probably be https://raw.githubusercontent.com/MethodsAndPractices/vsteam/trunk/.github/moduleMessages.json

[2022-02-26 15:48] FH-Inway commented on #455
Found a work around by enabling the environment variable `VSTEAM_NO_MODULE_MESSAGES`:

[code]

After that, the `New-PSDrive` cmdlet worked and the account was mounted as a drive.

[2022-02-26 17:01] SebastianSchuetze commented on #455
Thanks. That is a new feature and you actually used a valid variable to deactivate it.

It is just not documented. But the exception is not supposed to happen. I will look into it.

[2022-02-26 20:49] SebastianSchuetze commented on #455
@FH-Inway would you be so kind to check whether #456 works for you? If no problems come up for you I would merge it.

[2022-02-28 06:00] SebastianSchuetze opened #457 "Update semantic version with github action"
### Proposal

Semantic version tags need to be added manually and also version of the module has to be updated manually. It sometimes creates unnecessary manual commits.

### Solved Problem

Write github action workflow in a way so that module version and tagging are not updated manually anymor

https://github.com/marketplace/actions/git-semantic-version

### Additional info / code snippets?

_No

[2022-02-28 06:02] SebastianSchuetze commented on #388
@mnieto could I ask how far you have come? If not then no problem. But then I would take an approach myself. Would like to have this added soon.

[2022-02-28 09:30] SebastianSchuetze commented on #438
I am starting to work on this and will be merged an extra branch for Version 8.0.0 until everything is ready.

[2022-02-28 19:45] mnieto commented on #388
I created tests and documentation. Now trying how to figure out a generic method to manage the continuationToken.
Still working most of  the changes on my local fork, not PR created yet. I can create it, so you can review it, but it's a work in progress. Not sure how to proceed (I think it is my first PR):
* Create a draft PR with the first changes and continue for completion
* Work in private and

[2022-03-01 05:29] SebastianSchuetze commented on #388
You can already make a draft PR. Then you can see already if the build is accepted. I have also open PRs already. And I could help with tips or even commit to the PR branch if needed.

[2022-03-05 11:36] FH-Inway commented on #455
@SebastianSchuetze I tried to do a build to test the changes, but ran into issues during the build. The changes look otherwise good to me, so I think you can go ahead with the merge. In the worst case, the fixed url still does not work for some reason, which can be adressed with the workaround.

[2022-03-05 12:27] FH-Inway commented on #455
My curiosity got the better of me and I looked into the errors I got from the build script. Turns out I was using the wrong PowerShell version (5.1 instead of 7) and missing the .NET Core 3.1 SDK. You are probably thinking "duh, of course you need those" and I'm sure that if I wasn't a total newbie at this module, it would probably be obvious to me, too. Still, you might want to consider adding th

[2022-03-07 13:01] SebastianSchuetze commented on #388
You seem to have progress with your PR @mnieto do you need something from me to help?

[2022-03-07 13:07] #455 closed, assigned to SebastianSchuetze

[2022-03-09 19:49] mnieto commented on #388
Hi @SebastianSchuetze
I'm investigating how to extract the continuationToken management block to a generic function.
https://github.com/MethodsAndPractices/vsteam/blob/79d9801102d47e837f4992b664f52f0ba0f149a3/Source/Public/Get-VSTeamUserEntitlement.ps1#L110-129

I see some problems here:
* API endpoints that use the continuationToken do that as part of the response json in a property. But other en

[2022-03-13 18:26] mnieto commented on #388
Finaly I resolved as below. If it is ok for you, I'm ready to finish the PR

Method: In a future, it may be necessary add the same parameters that _callAPI currently has, but at this moment I prefer to keep it simple

[code]

Call:
[code]

[2022-03-13 19:22] SebastianSchuetze commented on #388
I will have a look as soon as I have some time. Hope it takes not too long. Could you add comments to code lines where somebody might not expect what is happening with the code?

If you think it is obvious then just wait for my questions. 😉

Thanks already for the great help!!

[2022-03-29 21:28] brwilkinson opened #464 "New-PSDrive : Exception calling "Parse" with "1" argument(s): "String was not recognized as a valid DateTime"
### Steps to reproduce

[code]

module version 7.3.0 works fine.
latest module 7.6.1 has this error.

Tested in Windows Powershell and PowerShell 7,

### Expected behavior

I expected that...

drive gets mapped

[code]

### Actual behavior?

New-PSDrive : Exception calling "Parse" with "1" argument(s): "String was not recognized as a valid DateTime

### On Which OS have you tried it?

Windows

###

[2022-03-30 06:26] SebastianSchuetze commented on #464
Can you check if the workaround with the env variable in #455 is working for you?

[2022-03-30 07:26] brwilkinson commented on #464
Sure will test this tomorrow:

[code]

[2022-03-31 06:05] brwilkinson commented on #464
@SebastianSchuetze

Confirmed that workaround appears to work ✅

Feel free to close this if it's a duplicate.

[2022-03-31 19:24] SebastianSchuetze commented on #464
Thanks but it's a bug that is supposed to be fixed 😬.

I have to recheck.

[2022-04-06 20:21] jmb1304 opened #465 "Get-VSTeamFeed Throws Error When ID Specified"
### Steps to reproduce

**Note: Actual Feed ID was replaced with "`<Your Feed ID>`"**
[code]
[code]

### Expected behavior

I expected that it would load the details for the feed specified.

### Actual behavior?

The command returned an error.

**Note: Actual Feed ID was replaced with "`<Your Feed ID>`"**

[code]

This same request was manually tested in a browser and it worked correctly. The ID u

[2022-05-14 17:54] PeterLefebvre opened #466 "Import-Module 7.6.0 and 7.6.1 throws error in disconnected environments"
### Steps to reproduce

[code]

### Expected behavior

I expected that...

in disconnected environments, the import-module does not fail.

### Actual behavior?

I had the following actual outcome...

[code]

I encountered this first at work, as we have a rather restricted environment.
Ping and test-connection to github.com gets blocked or the DNS cannot be resolved correctly.
Using a Browser I can

[2022-05-19 08:56] leefw commented on #363
I experienced this error recently. Using the source code for function _Get-VSteamProject_ (referred to [earlier](https://github.com/MethodsAndPractices/vsteam/issues/363#issuecomment-707623314) by @jhoneill in this thread) as inspiration, my fix was to set the _$env:TEAM_PROJECTCOUNT_ value to something greater than 100 so.

This worked for me:

$env:TEAM_PROJECTCOUNT = 200

[2022-05-19 09:00] leefw commented on #363
But probably better to use the Set-VSTeamDefaultProjectCount which seems to do the same thing (I noticed by chance)

[2022-05-20 13:02] mpiederiet opened #467 "Import-Module fails with error message when default Project not with common scopes set"
### Steps to reproduce

- Start a new PowerShell window (tested with PowerShell Core 7.2.3 but also Windows PowerShell 5)
- Import the VSTeam module
- Connect using `Set-VSTeamAccount` **without using the -Level param** (so it defaults to level 'Process')
[code]
or (when this PowerShell window is running as Administrator)
[code]
- Start a new PowerShell window
- Import the VSTeam module

### Expec

[2022-05-20 14:03] mpiederiet commented on #467
I already found out that the Import-Module fails because of this line in `VSTeam.psm1`:
https://github.com/MethodsAndPractices/vsteam/blob/41f28b4d9929ed8778e2d001ec3d54d4968cb1aa/Source/VSTeam.psm1#L32

The `Get-VSTeamProject` command can't be executed here because there are no stored credentials. I think it would be a good idea to check for credentials before executing `Get-VSTeamProject`
Maybe

[2022-06-07 20:46] JanuszNowak opened #469 "Add-VSTeamProject is missing option to create public project"
### Proposal

Enable Add-VSTeamProject to create public projects.

### Solved Problem

Public projects can be created.

### Additional info / code snippets?

[2022-08-16 10:17] jmartens opened #473 "Test-VSTeamYamlPipeline : A parameter cannot be found that matches parameter name 'Branch'."
### Steps to reproduce

[code]

### Expected behavior

The job would run without error and the Branch parameter was supported based on examples in the documentation for this function.

### Actual behavior?
[code]
### On Which OS have you tried it?

Windows

### What was your server version?

Azure DevOps Services

### Other server version

_No response_

### Log output of used API

[code]

### Log

[2022-08-17 19:31] SebastianSchuetze commented on #473
Thanks. Do you feel confident in giving it a go to fix it?
Otherwise we can do it at some point.

[2022-08-18 20:09] jmartens commented on #473
I think I might be capable although I need to dive into it, but the hard part is finding time to do so. Won't mind if you beat me to it ;-)

[2022-08-22 04:43] SebastianSchuetze commented on #469
@JanuszNowak thanks for the suggestion. I mark it as a feature, since it is not a bug. But by design it is not implemented yet.

[2022-08-22 04:44] SebastianSchuetze opened #476 "test"
### Proposal

ll

### Solved Problem

ll

### Additional info / code snippets?

ll

[2022-08-22 04:45] #476 closed, assigned to nobody

[2022-08-29 07:06] Dylan-Prins opened #479 "Documentation not up-to-date"
### Proposal

a lot of docs are not up-to-date with examples:

-  Add-VSTeamAccessControlEntry
-  Add-VSTeamAzureRMServiceEndpoint
- Add-VSTeamBuildTag
- Add-VSTeamExtension
- Add-VSTeamGitRepositoryPermission
- Add-VSTeamKubernetesEndpoint
- Add-VSTeamNuGetEndpoint
- Add-VSTeamNuGetEndpoint
- Add-VSTeamServiceEndpoint
- Add-VSTeamSonarQubeEndpoint
- Add-VSTeamUserEntitlement
- Add-VSTeamWorkItemA

[2022-08-29 12:29] SebastianSchuetze commented on #479
thanks. Are you talking about the markdown files or the generated documentation on the github pages?

[2022-08-29 13:38] Dylan-Prins commented on #479
github pages:
[https://methodsandpractices.github.io/vsteam-docs/docs/modules/vsteam/commands/Add-VSTeamGitRepositoryPermission](https://methodsandpractices.github.io/vsteam-docs/docs/modules/vsteam/commands/Add-VSTeamGitRepositoryPermission)

[2022-09-01 10:13] mnieto commented on #388
@SebastianSchuetze, any chance to review my last comments on PR  #459 ?

[2022-09-02 20:42] SebastianSchuetze commented on #388
I need to find time to get I to it again regarding the one comment I made with the parameters. I try to check it this weekend.

[2022-09-03 15:34] SebastianSchuetze commented on #479
I move the issue to the docs repo. I think the site generator is having a bug.

[2022-09-03 19:06] SebastianSchuetze commented on #467
Working on it now

[2022-09-04 11:31] #467 closed, assigned to SebastianSchuetze

[2022-09-04 11:32] SebastianSchuetze commented on #466
Thanks for reporting. Working on it now to make sure no exception is thrown if there is no ping possible. In that case I would return a "no sucess" from the ping.

[2022-09-04 12:07] SebastianSchuetze commented on #466
Fixed it and changed the output when those functions are used from "debug" to "information" so they can be output and give information why and when this is used. But it should not throw an exception anymore.

[2022-09-04 12:17] SebastianSchuetze commented on #464
@brwilkinson Seems like I just fixed it with #480

[2022-09-04 12:18] #464 closed, assigned to nobody

[2022-09-04 12:26] #466 closed, assigned to SebastianSchuetze

[2022-09-04 18:56] SebastianSchuetze commented on #388
@mnieto unfortunately I discovered a problem.
The integration test have an error:

https://github.com/MethodsAndPractices/vsteam/runs/8176556019?check_suite_focus=true#step:7:121

`RuntimeException: EntitlementManagemen version must be equal or lower than 5.1 for this call, current value 6.0-preview`

by calling the following function

`Get-VSTeamUserEntitlement -Id $id`

 This means that your cmd

[2022-09-05 07:17] mnieto commented on #388
@SebastianSchuetze, Understood. The main problem is that the new API in v6.0 doesn't support filtering by ID.
See [$filter parameter](https://docs.microsoft.com/en-us/rest/api/azure/devops/memberentitlementmanagement/user-entitlements/search-user-entitlements?view=azure-devops-rest-6.0).
The workaround I see is: check if ParameterSetName -eq 'ById'  set internally $apiVersion to 5.1 independently

[2022-09-05 07:21] mnieto commented on #388
El sáb, 29 ene 2022 20:40, Sebastian Schütze ***@***.***>
escribió:

[2022-09-05 19:11] guzzd commented on #323
Any new on this one?

[2022-09-07 18:01] mnieto commented on #465
@jmb1304  this behaviour is because with current parameters, when you query by id, without project, it will only list Feeds at organization level. To list Feeds at project level it is necessary to add the project as a parameter. Current implementation does not allow project parameter.

- This restriction does not apply to the [get feeds API call](https://docs.microsoft.com/en-us/rest/api/azure/dev

[2022-09-07 18:17] mnieto commented on #388
@SebastianSchuetze
I created PR #482 to fix the back-compability issue
not sure how to update the changelog in this case

[2022-09-08 06:19] mnieto commented on #465
Duplicate of #379 ?

[2022-09-08 13:20] SebastianSchuetze commented on #465
if @jmb1304 is note disagreeing later then I support @mnieto comment. If you have a global feed and still have the problem, then feel free to open it again.

[2022-09-08 13:20] #465 closed, assigned to nobody

[2022-09-08 13:40] SebastianSchuetze commented on #379
I checked for "Show" cmdlet it works by default without the project flag. No need to add one. But for the rest I will implement it.

[2022-09-08 21:33] SebastianSchuetze commented on #379
@richardgavel just finished the main work and I will merge it soon and publish it probably directly today.

[2022-09-08 21:42] SebastianSchuetze commented on #388
I close this now since it is working again.

[2022-09-08 21:42] #388 closed, assigned to nobody

[2022-09-08 21:44] SebastianSchuetze commented on #323
There are PRs for this, but they are old, and the history was / is messed up. The PR shows all (even old) files as new and that is why it is hard to review. Also core code has been changed and not been understood properly.

Let's see how it goes. Implementing full process editing is not trivial.

[2022-09-08 21:45] #379 closed, assigned to SebastianSchuetze

[2022-09-09 17:25] mnieto commented on #412
@SebastianSchuetze, @DarqueWarrior   I would like to open a discussion here:
There are some API endpoints that use  `X-MS-ContinuationToken` header to control paged return
This problem is also faced in #169

This is a problem because Invoke-RestMethod in powershell Desktop (5.1) does not support manage headers in the response. This support was introduced later in powershell 6.0

So, I see some opt

[2022-09-09 19:12] SebastianSchuetze commented on #412
@mnieto I cannot speak for @DarqueWarrior but I have his trust. We already decided to ditch the support for all TFS versions and tend to only support Azure DevOps versions that Microsoft supports.

There is already a branch that will introduce the removal of these API endpoint (you can still control ist by enforcing it if needed). But we could introduce this also in Version 8.0.0 and also only sup

[2022-09-10 10:47] mnieto opened #487 "Get-VSTeamFeed: distinguish between project and organization level scope feeds"
### Background

Because the lack of a specific API for this, or because an unexpected behaviour of the current API , it is hard to distinguish between project scoped feeds and organization scoped ones.

Accordingly with the [API documentation](https://docs.microsoft.com/en-us/rest/api/azure/devops/artifacts/feed-management/get-feeds?view=azure-devops-rest-6.0):

But if we omit the project name, wh

[2022-09-10 12:09] #469 closed, assigned to SebastianSchuetze

[2022-09-10 17:17] SebastianSchuetze commented on #487
Started to work on this. Should be relatively easy to implement. I noticed the Azure CLI has the same scope. I will orientate on this implementation.

[2022-09-11 00:17] mnieto opened #488 "Implement -VSTeamEnvironment"
### Proposal

I wanted to create Add, Get, Remove, Update  -VSTeamEnvironment cmdlets
[API documentation](https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/environments?view=azure-devops-rest-6.0)

I have a preview working version of Get-VSTeamEnvironment  with this syntax
[code]

### Discussion
When I went to the types folder to add the Environment type, I found that already

[2022-09-11 00:28] mnieto commented on #412
Ok, I can try to work on that. which branch should I take as a starting point? feature/v8.0.0? or trunk, as usual?

My idea to implement this is just to add an optional parameter `-ResponseHeadersVariable` to `_callAPI`

To manage `X-MS-ContinuationToken` I wanted to integrate management of this header in the existing  `_callAPIContinuationToken` I created previously to manage `ContinuationToken`

[2022-09-11 18:12] SebastianSchuetze commented on #412
Make a branch based on V8.0.0.

And go from there. I will update that branch with the newest changes.

The PR would also be into V8.0.0

And feel free to also integrate that into the continuation token. Could you also create an extra MD file to explain how and when to use the internal function for development?

In that way new devs and also we can use it in all cmdlets where it is needed.

[2022-09-17 12:16] SebastianSchuetze opened #489 "test"
### Proposal

test

### Solved Problem

test

### Additional info / code snippets?

test

[2022-09-17 12:16] #489 closed, assigned to nobody

[2022-09-20 16:57] martingreeniii opened #492 "Update Add-VSTeamAzureRMServiceEndpoint to support alternate cloud environments"
### Proposal

We would like the Add-VSTeamAzureRMServiceEndpoint to support the alternate cloud environments that are available:
AzureChinaCloud
AzureUSGovernment
AzureGermanCloud
AzureStack (requires passing in a management endpoint url specific to that environment)

### Solved Problem

This would allow us to provision New Projects to include AzureRM Service connections as well as items that have

[2022-09-21 18:44] mnieto opened #493 "import-module vsteam loses previously stored configuration"
### Steps to reproduce

Once configured the module with Set-VSTeamAccount:
[code]
If we close the powersell session and open a new one:
[code]
output
[code]

Then, import the module and test the env variables:
[code]

output now is:
[code]

We lost the version, default project and TEAM_PAT has changed
Because the last one, we cannot connect to azure services and we need to run `Set-VSTeamAccount`

[2022-09-21 19:26] mnieto commented on #493
I think the problem was introduced in commit 0528c76 due #467 and closed with #480

While loading the module, if there is a default project, it executes
[Set-VSTeamAccount -Account $env:TEAM_ACCT -PersonalAccessToken $env:TEAM_PAT](https://github.com/MethodsAndPractices/vsteam/blob/37f457f9605ac6284da11005e55e09a563424f7e/Source/VSTeam.psm1#L39)

But:
-  `$env:TEAM_PAT` already has been base64 enc

[2022-10-24 09:10] JanuszNowak commented on #469
@SebastianSchuetze 👍

[2022-10-24 09:14] JanuszNowak commented on #412
@SebastianSchuetze I would probably go with rest api https://learn.microsoft.com/en-us/rest/api/azure/devops/memberentitlementmanagement/user-entitlements/add?view=azure-devops-rest-6.0&tabs=HTTP
and maybe use Gmail future to add suffix after mymyemail+0001@gmail.com. Or create AAD users like described here [in my post ](https://blog.janono.pl/post/Azure_Prepare_For_Cloud_Workshops)

[2022-11-08 17:59] sevaa commented on #442
The immediate cause of my issue is that `_getApiVersion VariableGroups` returns a blank string for my TFS; as a result, the URL for the variable getting misses the api-version parmeter and goes `"https://tfs.niaid.nih.gov/tfs/Admin//AMBIS/_apis/distributedtask/variablegroups&groupName=Configuration"`.

The real bug is that the URL generation logic in `_buildRequestURI` produces a malformed URL if

[2022-11-09 17:40] sevaa commented on #423
Done, see PR #495. No support for secret vars, though.

[2022-11-10 10:31] SebastianSchuetze commented on #412
You wanna give it a try @JanuszNowak ?

[2022-11-23 14:25] jikuja commented on #488
I suggest also adding support for role assignments(for environment security) to circumvent some problems(1) Azure devops has:
*`https://dev.azure.com/{organization}/_apis/securityroles/scopes/distributedtask.globalenvironmentreferencerole/roleassignments/resources/{something}`
* https://learn.microsoft.com/en-us/rest/api/azure/devops/securityroles/roleassignments/set-role-assignment?view=azure-dev